@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,cyrillic-ext,latin-ext,cyrillic);

@font-face {
  font-family: 'fpslineicons';
  src: url('../fonts/fpslineicons/fpslineicons.eot');
  src: url('../fonts/fpslineicons/fpslineicons.eot?#iefix') format('embedded-opentype'),
       url('../font/fpslineiconss/fpslineicons.woff') format('woff'),
       url('../fonts/fpslineicons/fpslineicons.ttf') format('truetype'),
       url('../fonts/fpslineicons/fpslineicons.svg#fpslineicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* @FONT-FACE loads font into browser */
@font-face {
  font-family: 'typicons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/typicons/typicons.eot');
  src: url('../fonts/typicons/typicons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/typicons/typicons.woff') format('woff'),
       url('../fonts/typicons/typicons.ttf') format('truetype'),
       url('../fonts/typicons/typicons.svg#typicons') format('svg');
} 
/* :before psuedo-selector inserts and styles icon */
.typcn:before {
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('../fonts/Pe-icon-7-stroke.eot?d7yf1v');
	src:url('../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('../fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('../fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body, div, ul, span {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul { list-style: none; }

a:link, a:VISITED {	
	text-decoration: none; 
	outline: none;
	margin: 0;
}

.float-left { float: left; }
.float-right { float: right; }

/* BUTTONS */
.bttn {
	font-family: 'Noto Sans', sans-serif;
	position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.bttn-sm {
    padding: 3px 10px;
    font-size: 12px !important;
    line-height: 20px;
}

.bttn-default {
    color: #24292e;
    background-color: #eff3f6;
    background-image: -webkit-linear-gradient(270deg, #fafbfc 0%, #eff3f6 90%);
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.bttn-primary {
    color: #fff;
    background-color: #28a745;
    background-image: -webkit-linear-gradient(270deg, #34d058 0%, #28a745 90%);
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.bttn-primary:hover {
	background-color: #269f42;
    background-image: -webkit-linear-gradient(270deg, #2fcb53 0%, #269f42 90%);
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%); */
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.5);
}

.bttn-default:hover,
.bttn-sm:hover {
	background-color: #e6ebf1;
    background-image: -webkit-linear-gradient(270deg, #f0f3f6 0%, #e6ebf1 90%);
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.35);
}
.bttn-light {
	font-size: 13px;
/* 	font-weight: normal; */
	padding: 3px 10px;
}

.bttn-select {
	width: 100%;
	font-size: 0.8em;
	padding: 3px 10px;
	outline: none;
}
.bttn-select::after {
	position: absolute;
	right: 10px;
	font-family: 'fpslineicons';
/* 	font-size: 16px; */
	content: '\e8af';
	font-size: 12px;
	color: #24292e;
}
.bttn-select-simple {
	background: none;
	border: none;
	font-size: 0.8em;
	padding: 0 !important;
	margin: -2px 7px 0 7px;
	cursor: pointer;
}
.bttn-select-simple::after {
	position: absolute;
	font-family:'Pe-icon-7-stroke';
	content: '\e688';
/* 	font-size: 16px; */
/* 	line-height: 16px; */
/* 	margin-left: 7px; */
	color: #24292e;
}

.bttn-close, .bttn-remove {
	float: right;
/* 	width: 10px; */
/* 	height: 10px; */
	padding-left: 4px;
	opacity: 0.7;
}
.bttn-close:hover, .bttn-remove:hover { opacity: 1.0 }

.bttn > img {
	vertical-align: middle;
	margin-right: 2px;
	margin-top: -2px;
}

/* link bttn disabled */
.bttn-a-disabled {
	pointer-events: none;
       	cursor: default;
	opacity: 0.5;
}

.bttn-simple-select {
  	position: relative;
  	display: inline-block;
  	text-decoration: none; 
	outline: none;
	margin: 0;
  	padding: 3px 16px 3px 6px;
  	font-size: 13px;
  	line-height: 20px;
  	vertical-align: middle;
  	color: #24292e;
  	box-sizing: border-box;
}
.bttn-simple-select::after {
  	position: absolute;
  	content: url('../img/icons/svg/chevron-down.svg'); 
  	top: 5px;
  	right: 0;
  	width: 8px;
  	height: 14px;  
}
.bttn-simple-select > span > img {vertical-align: middle; margin-right: 5px;}

.select-wrapper::after {
	font-family: 'Pe-icon-7-stroke';
	position: absolute;
	right: 20px;
	top: 18px;
	content: '\e688';
	color: #24292e;
	font-size: 1.2em;
	font-weight: 700;
	cursor: pointer;
}
/* end of buttons */

.horisontal-list li{
	display: inline-block;
	font-size: 12px;
	margin: 0 3px;
}

/* table cell width  */
.th-xs  { width: 25px; }
.th-s  { width: 50px; }
.th-m  { width: 150px; }
.th-l  { width: 200px; }
.th-xl { max-width: 300px; }

/* Tool Icons */
.item-tool {
	display: list-item;
	font-family: 'fpslineicons';
	font-size: 15px;
	line-height: 18px;
	vertical-align: middle;
}
.item-tool.edit-item::before {
	content: '\e839';
	color:  #6bb951;
}
.item-tool.delete-item::before {
	content: '\e821';
	color: #DD381D;
}

/* response messages */
.affirmative-message { background-color: #6bb951; }
.negative-message { background-color: #DD381D; } 
.response-message {
	position: fixed;
	top: 0px;
	left: 50%;
	width: 360px;
	margin-left: -180px;
	display: inline;
	padding: 5px 0;
/* 	margin: 3px auto; */
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	box-shadow: 0 3px 12px rgba(27,31,35,0.15);
  	z-index: 1000;
}

/* Dashboard main container */
.main-dash-content {
	position: relative;
	margin: 70px 3% 40px 220px;
/* 	border:  1px solid green; */
	height: auto;
    overflow: hidden;
}
.main-dash-content > .left-container {
	width: auto;
    overflow: hidden;
}
.main-dash-content > .right-container {
	float: right;
    width: 221px;
    margin-left: 2em;
/* 	border: 1px solid blue; */
}

.small-panel {
    position: relative;
    width: 220px;
    margin-bottom: 25px;
    color: #586069;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 3px;
/*     box-shadow: 0 1px 1px rgba(27,31,35,0.15); */
}
.panel-header {
	padding: 8px 10px;
    line-height: 16px;
    background: #f6f8fa;
    font-size: 12px;
    border-bottom: 1px solid #e1e4e8;
}
.panel-header > .panel-title {
    font-weight: 600;
    color: #24292e;
}
.panel-body, .panel-footer {
	padding: 12px;
}

/* input test */
.form-tr {
	margin: 0 0 16px 0;
}
.title-input {
	border: 1px solid #c2c9d4;
    border-radius: 3px;
    background-color: #fff;
    padding: 7.5px;
    width: 100%;
	font-size: 16px !important;
	color: #24292e !important;
}
.title-input:focus {
    border-color: #2188ff;
   	outline: none;
   	box-shadow: inset 0 1px 2px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3);
}

.post-path-container {
	font-size: 10px;    
    margin-top: 9px;
    color: #24292e !important;
}
.post-path-container > .post-path {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 14px;
}
.post-path-container > .path-label {
	font-weight: 600;
/* 	font-stretch: narrower; */
}
.path-static, .path-slug {
	background-color: #fffbcc;
	font-family: monospace;
	margin-left: -1px;
	border-spacing: 0px;
}
#slug {
	width: auto;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	font-size: 10px; 
	color: #24292e !important;
}
/* file upload button */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + .file-upload-label {
	border: 1px solid #c2c9d4;
    border-radius: 3px;
    background-color: #fff;
    padding: 7px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #24292e;
    display: inline-block;
    cursor: pointer;
}
.file-upload-label::before {
	font-family: 'fpslineicons';
	content: '\e90f';
	margin-right: 7px;
}

.inputfile:focus + .file-upload-label,
.inputfile + .file-upload-label:hover {
    border-color: #6bb951;
    color: #6bb951;
}

.upload-img-label {
	width: 160px !important;
	overflow: hidden;
	font-size: 12px !important;
	padding: 5px 10px;
}
.featured-img-prev {
	width: 180px;
	height: auto;
	margin: 10px auto 0 auto;
}
.featured-img-prev > img {
	width: 180px !important;
	margin: 0;
}

/*
	TAGS
*/
.tag-bone {
	display: flex;
	flex: 1;
	position: relative;
	float: left;
  	height: 24px;
  	margin: 3px;
  	font-size: 10px !important;
  	color: #343434; 
  	opacity: 0.8;
  	
  	-webkit-transition: -webkit-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
.tag-bone:hover {
	opacity: 1.0;
	transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
}
.tag-bone > .bone-middle {
	flex: 1;
  	order: 2;
  	height: 16px;
  	background: #fff;
  	border-top: 1px solid #343434;
  	border-bottom: 1px solid #343434;
  	margin: 4px 0;
  	padding: 0 -1px;  	
  	line-height: 14px;
  	text-align: center;
  	box-sizing: border-box;
}
.tag-bone > .bone-left-end {
	width: 12px;
  	order: 1;
	background: url('../img/icons/svg/bone-left-end.svg') top left no-repeat;
  	background-size: 23px 23px;
  	overflow: hidden;
  	box-sizing: border-box;
}

.tag-bone > .bone-right-end {
	width: 12px;
  	order: 3;
  	background: url('../img/icons/svg/bone-right-end.svg') top right no-repeat;
  	background-size: 23px 23px;
  	overflow: hidden;
  	box-sizing: border-box;
}
