@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,cyrillic-ext,latin-ext,cyrillic);

@font-face {
  font-family: 'fpslineicons';
  src: url('../fonts/fpslineicons/fpslineicons.eot');
  src: url('../fonts/fpslineicons/fpslineicons.eot?#iefix') format('embedded-opentype'),
       url('../font/fpslineiconss/fpslineicons.woff') format('woff'),
       url('../fonts/fpslineicons/fpslineicons.ttf') format('truetype'),
       url('../fonts/fpslineicons/fpslineicons.svg#fpslineicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* @FONT-FACE loads font into browser */
@font-face {
  font-family: 'typicons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/typicons/typicons.eot');
  src: url('../fonts/typicons/typicons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/typicons/typicons.woff') format('woff'),
       url('../fonts/typicons/typicons.ttf') format('truetype'),
       url('../fonts/typicons/typicons.svg#typicons') format('svg');
} 
/* :before psuedo-selector inserts and styles icon */
.typcn:before {
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('../fonts/Pe-icon-7-stroke.eot?d7yf1v');
	src:url('../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('../fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('../fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body, div, article, section, img, ul, ol {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
}
/* 
 Flex Properties 
*/
.fx-box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.fx-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.fx-justify-sbtw {
	-webkit-justify-content: space-between; /* Safari 6.1+ */
	justify-content: space-between;
}
.fx-justify-cnt {
	-webkit-justify-content: center; /* Safari 6.1+ */
	justify-content: center;
}
.fx-justify-start {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
.fx-justify-end {
    -webkit-justify-content: flex-end; /* Safari 6.1+ */
    justify-content: flex-end;
}
.fx-valign-cnt {
	-webkit-align-items: center;
	align-items: center;
}
.fx-valign-start {
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.fx-valign-end {
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
.fx-1st {
	-ms-flex-order: 1; 
	-webkit-order: 1; 
	order: 1;
}
.fx-2nd {
	-ms-flex-order: 2; 
	-webkit-order: 2; 
	order: 2;
}
.fx-3rd {
	-ms-flex-order: 3; 
	-webkit-order: 3; 
	order: 3;
}
.fx-grow1 {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
.fx-grow2 {
	-webkit-flex-grow: 2;
	flex-grow: 2;
}
.fx-grow3 {
	-webkit-flex-grow: 3;
	flex-grow: 3;
}
.fx-dir-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}
.fx-dir-col {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.fx-aligncnt-sbtw {
  -webkit-align-content: space-between;
  align-content: space-between;
}
.fx-aligncnt-cnt {
  -webkit-align-content: center;
  align-content: center;
}
.fx-flex-0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.fx-basis-full {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}
.fx-basis-60 {
  -webkit-flex-basis: 60%;
  -ms-flex-basis: 60%;
  flex-basis: 60%;
}
.fx-selfalign-end {
	-webkit-align-self: flex-end;
	align-self: flex-end; 
}

/* List general style */
ul { list-style: none; }

a:link, a:VISITED {	
	text-decoration: none;
	color: #343434;
	outline: none;
	background-color: transparent;
}

.float-left { float: left; }
.float-right { float: right; }
.fleft { float: left; }
.fright { float: right; }
.aleft { text-align: left; }
.aright { text-align: right; }
img {
	border: none;
	outline: none;
	vertical-align: middle;
}
.full-width { display: block; width: 100% !important; }
/* 
* Box shadows 
*/
.shadow-def {
	border: 1px solid rgba(27,31,35,0.10);
	-webkit-box-shadow: 0 3px 12px rgba(27,31,35,0.15);
	-moz-box-shadow: 0 3px 12px rgba(27,31,35,0.15);
	box-shadow: 0 3px 12px rgba(27,31,35,0.15);
}
/*
* Border Radiuses
*/
.border-3-rad {
  	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.border-6-rad {
  	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.border-12-rad {
  	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.bgd-lightgray {
	background: #fafafa!important;
}

.y-1em-padding {
	padding-top: 1em;
	padding-bottom: 1em;
}
.y-2em-padding {
	padding-top: 2em;
	padding-bottom: 2em;
}
.x-1em-padding {
	padding-left: 1em;
	padding-right: 1em;
}
.x-2em-padding {
	padding-left: 2em;
	padding-right: 2em;
}
.bottm-1em-margin {
	margin-bottom: 1em;
}

/* BUTTONS */
.bttn {
	font-family: 'Noto Sans', sans-serif;
	position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.bttn-sm {
    padding: 3px 10px;
    font-size: 12px !important;
    line-height: 20px;
}

.bttn-default {
    color: #24292e;
    background-color: #eff3f6;
    background-image: -webkit-linear-gradient(270deg, #fafbfc 0%, #eff3f6 90%);
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.bttn-primary {
    color: #fff !important;
    background-color: #28a745;
    background-image: -webkit-linear-gradient(270deg, #34d058 0%, #28a745 90%);
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.bttn-primary:hover {
	background-color: #269f42;
    background-image: -webkit-linear-gradient(270deg, #2fcb53 0%, #269f42 90%);
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%); 
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.5);
}

.bttn-default:hover,
.bttn-sm:hover {
	background-color: #e6ebf1;
    background-image: -webkit-linear-gradient(270deg, #f0f3f6 0%, #e6ebf1 90%);
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.35);
}
.bttn-light {
	font-size: 13px;
/* 	font-weight: normal; */
	padding: 3px 10px;
}
.bttn-outline {
  background: transparent;
  font-weight: normal;
}
.bttn-outline:hover {
  color: #269f42;
  border-color: #269f42;
}
.bttn-select {
	width: 100%;
	font-size: 0.8em;
	padding: 3px 10px;
	outline: none;
}
.bttn-select::after {
	position: absolute;
	right: 10px;
	font-family: 'fpslineicons';
/* 	font-size: 16px; */
	content: '\e8af';
	font-size: 12px;
	color: #24292e;
}
.bttn-select-simple {
	background: none;
	border: none;
	font-size: 0.8em;
	padding: 0 !important;
	margin: -2px 7px 0 7px;
	cursor: pointer;
}
.bttn-select-simple::after {
	position: absolute;
	font-family:'Pe-icon-7-stroke';
	content: '\e688';
/* 	font-size: 16px; */
/* 	line-height: 16px; */
/* 	margin-left: 7px; */
	color: #24292e;
}

.bttn-close, .bttn-remove {
	float: right;
/* 	width: 10px; */
/* 	height: 10px; */
	padding-left: 4px;
	opacity: 0.7;
}
.bttn-close:hover, .bttn-remove:hover { opacity: 1.0 }

.bttn > img {
	vertical-align: middle;
	margin-right: 2px;
	margin-top: -2px;
}

/* link bttn disabled */
.bttn-a-disabled {
	pointer-events: none;
    cursor: default;
	opacity: 0.5;
}

.bttn-plain-select {
  	position: relative;
  	display: inline-block;
  	text-decoration: none; 
	outline: none;
	margin: 0;
  	padding: 3px 16px 3px 6px;
  	font-size: 13px;
  	line-height: 20px;
  	vertical-align: middle;
  	color: #24292e;
  	box-sizing: border-box;
}
.bttn-plain-select::after {
  	position: absolute;
  	content: url('../img/icons/svg/chevron-down.svg'); 
  	top: 7px;
  	right: 0;
  	width: 8px;
  	height: 14px;  
}
.bttn-plain-select > span > img {vertical-align: middle; margin-right: 5px;}

.bttn-slide-down {
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	font-weight: normal;
}
.bttn-slide-down:after {
	position: absolute;
	top: auto;
	bottom: -9px;
	left: 50%;
	margin-left: -8px;
	content: ' ';
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 9px solid rgba(27,31,35,0.5);
	z-index: 998;
}

.select-wrapper::after {
	font-family: 'Pe-icon-7-stroke';
	position: absolute;
	right: 20px;
	top: 18px;
	content: '\e688';
	color: #24292e;
	font-size: 1.2em;
	font-weight: 700;
	cursor: pointer;
}

.bttn-close-hover {
	display: none;
	position: absolute;
	top: -5px;
	right: -5px;
	width: 12px;
	height: 12px;
	padding: 2px;
	background: url('../img/icons/svg/x.svg') center center no-repeat #fff;
	border: 1px solid gray;
	-webkit-border-radius: 50%;   
	-moz-border-radius: 50%; 
 	border-radius: 50%;
	
}
.bttn-link-light {
	background: transparent;
	border: none;
	color: #fff;
}
/* end of buttons */

/*
** Form Inputs
*/
.inputs-container {
	margin: 0 auto;
	padding: 24px;
	max-width: 700px;
	box-sizing: border-box;
}
.input-holder {
	padding:0;
	box-sizing: border-box;
	margin-bottom: 15px;
}
.input-holder > label {
	display: block; 
	margin-bottom: 5px;
	font-size: 12px;
}
.half-input-holder {
  display: inline-block;
  width: 49%;
}
.def-input {
	display: block;
	width: 100%;
	min-height: 34px;
	padding: 6px 8px;
	font-family: inherit;
	font-size: 0.9em;
	line-height: 20px;
	border-radius: 3px;
	background-color: #fafbfc;	
	color: #24292e;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: right 8px center;
	border: 1px solid #d1d5da;
	outline: none;
	box-shadow: inset 0 1px 1px rgba(27,31,35,0.075);
	box-sizing: inherit;
}
.def-l-input {
	min-height: 46px;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
}
.flat-input {
	background-color: #fff;
	border: none;
	box-shadow: none;
}

/* end of inputs style */

.horisontal-list li{
	display: inline-block;
	font-size: 12px;
	margin: 0 3px;
}

/* table cell width  */
.th-xs  { width: 25px; }
.th-s  { width: 50px; }
.th-m  { width: 150px; }
.th-l  { width: 200px; }
.th-xl { max-width: 300px; }

/* Tool Icons */
.item-tool {
	display: list-item;
	font-family: 'fpslineicons';
	font-size: 15px;
	line-height: 18px;
	vertical-align: middle;
}
.item-tool.edit-item::before {
	content: '\e839';
	color:  #6bb951;
}
.item-tool.delete-item::before {
	content: '\e821';
	color: #DD381D;
}
/* 
* response messages 
*/
.commit-response-holder { padding: 7px 0; background: transparent; }
.affirmative-border { border: 1px solid #28a745 !important; }
.affirmative-background {
	background-color: #28a745;
	background-image: -webkit-linear-gradient(270deg, #34d058 0%, #28a745 90%);
	background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}
.failure-border { border: 1px solid #dd381d !important; }
.failure-background {
	background-color: #dd381d;
	background-image: -webkit-linear-gradient(270deg, #e77360 0%, #dd381d 90%);
	background-image: linear-gradient(-180deg, #e77360 0%, #dd381d 90%);
}
.failure-border > .commit-message-text { 
	color: #dd381d;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.commit-message-container {
	max-width: 320px;
	font-size: 0.9em;
	border: 1px solid transparent;
	box-shadow: 0 10px 20px rgba(27,31,35,0.15);
	background-color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.commit-message-container > span {
	line-height: 1.2em; 
  	padding: 6px 9px ;
}

/* TODO cemu sluzi? */
.response-message {
	position: fixed;
	top: 0px;
	left: 50%;
	width: 360px;
	margin-left: -180px;
	display: inline;
	padding: 5px 0;
/* 	margin: 3px auto; */
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	box-shadow: 0 3px 12px rgba(27,31,35,0.15);
  	z-index: 1000;
}

/* Dashboard main container */
.main-dash-content {
	position: relative;
/* 	margin: 70px 3% 40px 220px; */
	margin: 3%;
	height: auto;
}
.main-dash-content > .left-container {
	width: auto;
    overflow: hidden;
}
.main-dash-content > .right-container {
	float: right;
    width: 221px;
    margin-left: 2em;
/* 	border: 1px solid blue; */
}

/* PANELI */
.panel {
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;
	-webkit-flex-direction: column; 
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding: 0;
	margin-bottom: 20px;
	color: #586069;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(27,31,35,0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.small-panel { max-width:220px; }
.panel > .panel-element {
	padding: 13px;
}	
.panel > .panel-header {
	padding: 8px 10px !important;
	line-height: 16px;
	background: #f6f8fa;	
	border-bottom: 1px solid #e1e4e8
}
.panel > .panel-header > 
.panel-title {
	font-size: 12px;
	font-weight: 600;
	color: #24292e;
}


.post-info-label {
  display: block;
  line-height: 24px;
  font-size: 12px;
  color: #9d9fa2;
}
.post-info-label > span:nth-of-type(2n) {
  font-weight: normal;
  color: #24292e !important;
}

.post-info-box {
	margin: 10px 0;
}

/* input test */
.form-tr {
	margin: 0 0 16px 0;
}
.title-input {
	border: 1px solid #c2c9d4;
    border-radius: 3px;
    background-color: #fff;
    padding: 7.5px;
    width: 100%;
	font-size: 16px !important;
	color: #24292e !important;
}

.post-path-container {
	font-size: 10px;    
    margin-top: 9px;
    color: #24292e !important;
}
.post-path-container > .post-path {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 14px;
}
.post-path-container > .path-label {
	font-weight: 600;
/* 	font-stretch: narrower; */
}
.path-static, .path-slug {
	background-color: #fffbcc;
	font-family: monospace;
	margin-left: -1px;
	border-spacing: 0px;
}
#slug {
	width: auto;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	font-size: 10px; 
	color: #24292e !important;
}
/* file upload button */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + .file-upload-label {
	border: 1px solid #c2c9d4;
    border-radius: 3px;
    background-color: #fff;
    padding: 7px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #24292e;
    display: inline-block;
    cursor: pointer;
}
.file-upload-label::before {
	font-family: 'fpslineicons';
	content: '\e90f';
	margin-right: 7px;
}

.inputfile:focus + .file-upload-label,
.inputfile + .file-upload-label:hover {
    border-color: #6bb951;
    color: #6bb951;
}

.upload-img-label {
	width: 160px !important;
	overflow: hidden;
	font-size: 12px !important;
	padding: 5px 10px;
}
.featured-img-prev {
	width: 180px;
	height: auto;
	margin: 10px auto 0 auto;
}
.featured-img-prev > img {
	width: 180px !important;
	margin: 0;
}
/*
	SELECT MENU MODAL
*/
.js-select-container {  
	position: relative;
	display: inline-block;
/* 	overflow: hidden; */
}
.js-select-container >
.select-menu-modal-holder {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: auto;
	z-index: 999;
}
.js-select-container >
.select-menu-modal-holder >
.select-menu-modal {
	position: relative;
    width: 250px;
    margin-top: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 12px;
    color: #586069;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(27,31,35,0.15);
}
.select-menu-modal-holder >
.select-menu-modal > 
.select-menu-header {
    padding: 8px 10px;
    line-height: 16px;    
    background: #f6f8fa;
    border-bottom: 1px solid #e1e4e8;
}
.select-menu-modal-holder >
.select-menu-modal > 
.select-menu-header >
.select-menu-title {
	font-size: 13px !important;
    font-weight: 300;
    color: #24292e;
}
.select-menu-header > .bttn-menu-close {
    display: block;
    float: right;
    color: #c6cbd1;
    cursor: pointer;
}
.select-menu-header > .bttn-menu-close:hover {
    color: #444d56;
}
/* select modal filter */
.select-menu-modal-holder >
.select-menu-modal >
.select-menu-text-filter {
    padding: 10px;
    border-bottom: 1px solid #dfe2e5;
    background-color: #f6f8fa;
}

.select-menu-modal-holder >
.select-menu-modal >
.select-menu-text-filter > input[type=text] {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 4px 6px;
    border: 1px solid #dfe2e5;
    border-radius: 3px;
    box-sizing: border-box;
}

.select-menu-modal-holder >
.select-menu-modal >
.select-menu-search-result {
	padding: 10px;
}
/* Select menu body */
.select-menu-modal > 
.select-menu-list {
    position: relative;
    max-height: 400px;
    margin: 0;
    padding: 0;
    overflow: auto;
    list-style: none;
}
.select-menu-modal >
.select-menu-list > 
.select-menu-item {
    display: block;
    padding: 8px 8px 8px 30px;
    overflow: hidden;
    color: inherit;
    cursor: pointer;
    border-bottom: 1px solid #eaecef;
}
/*
	MODAL CHECKBOX
*/
/* The container */
.modal-checkbox-item {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 11px;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.modal-checkbox-item > 
input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
/* Create a custom checkbox */
.modal-checkbox-item >
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.modal-checkbox-item:hover > 
input[type=checkbox] ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.modal-checkbox-item > 
input:checked ~ .checkmark {
    background-color: #28a745;
    background-image: -webkit-linear-gradient(270deg, #34d058 0%, #28a745 90%);
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.modal-checkbox-item input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.modal-checkbox-item > .checkmark:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*
	TAGS
*/
.tag-bone {
	display: flex;
	flex: 1;
	position: relative;
	float: left;
  	height: 24px;
  	margin: 3px;
  	font-size: 10px !important;
  	color: #24292e; 
  	opacity: 0.8;
  	
  	-webkit-transition: -webkit-transform .3s ease-in-out;
   	-ms-transition: -ms-transform .3s ease-in-out;
   	transition: transform .3s ease-in-out;
}
.tag-bone:hover {
	opacity: 1.0;
	transform:rotate(5deg);
   	-ms-transform:rotate(5deg);
   	-webkit-transform:rotate(5deg);
}
.tag-bone:hover > .bttn-close-hover { display: block; }

.tag-bone > .bone-middle {
	flex: 1;
  	order: 2;
  	height: 16px;
  	background: #fff;
  	border-top: 1px solid #343434;
  	border-bottom: 1px solid #343434;
  	margin: 4px 0;
  	padding: 0 -1px;  	
  	line-height: 13px;
  	text-align: center;
  	cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  	box-sizing: border-box;
}
.tag-bone > .bone-left-end {
	width: 12px;
  	order: 1;
	background: url('../img/icons/svg/bone-left-end.svg') top left no-repeat;
  	background-size: 23px 23px;
  	overflow: hidden;
  	box-sizing: border-box;
}

.tag-bone > .bone-right-end {
	width: 12px;
  	order: 3;
  	background: url('../img/icons/svg/bone-right-end.svg') top right no-repeat;
  	background-size: 23px 23px;
  	overflow: hidden;
  	box-sizing: border-box;
}
