@CHARSET "UTF-8";

html, body, div, ul {
	margin: 0;
	padding: 0;
}

ul { list-style: none; }

a:link, a:VISITED {	
	text-decoration: none; 
	outline: none;
}

.float-left { float: left; }
.float-right { float: right; }

/* BUTTONS */
.bttn {
	position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.bttn-sm {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
}

.bttn-default {
    color: #24292e;
    background-color: #eff3f6;
    background-image: -webkit-linear-gradient(270deg, #fafbfc 0%, #eff3f6 90%);
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.bttn-primary {
    color: #fff;
    background-color: #28a745;
    background-image: -webkit-linear-gradient(270deg, #34d058 0%, #28a745 90%);
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.bttn-primary:hover {
	background-color: #269f42;
    background-image: -webkit-linear-gradient(270deg, #2fcb53 0%, #269f42 90%);
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%); */
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.5);
}

.bttn-default:hover {
	background-color: #e6ebf1;
    background-image: -webkit-linear-gradient(270deg, #f0f3f6 0%, #e6ebf1 90%);
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.35);
}

.bttn-select {
	width: 100%;
}
.select-wrapper:after {
	position: absolute;
	right: 30px;
	top: 26px;
	content: '';
	width: 10px;
	height: 10px;
	background-color: #000;
	cursor: pointer;
}
/* end of buttons */

.horisontal-list li{
	display: inline-block;
	font-size: 12px;
	margin: 0 3px;
}