@CHARSET "UTF-8";
html, body {
	margin:0;
	padding: 0;
}
.dash-topbar {
	position: relative;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	min-height: 45px;
	background: #438EB9;
}
.dash-sidebar {
	width: 190px;
    float: left;
    position: static;
    padding-left: 0;
    padding-right: 0;
	background-color: #F2F2F2;
	border-right: 1px solid #CCC;
	}