@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,cyrillic-ext,latin-ext,cyrillic);

@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('../fonts/Pe-icon-7-stroke.eot?d7yf1v');
	src:url('../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('../fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('../fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body {
	height: 100% !important;
}
html, body, div, img, ul, ol {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
}
body { background: #fdfdff;}
div { 
	display: block; 
	box-sizing: border-box;
} 
a {
	text-decoration: none;
	color: #343434;
	outline: none;
}
ul { list-style: none; }

.fleft { float:left; }
.fright { float: right; } 
.aleft { text-align: left; }
.aright { text-align: right; }
.inactive { opacity: 0.5; }

/*	HEADER	*/

/* circle general */
.circle {
	display: block;
	width: 90px;
	height: 90px;
	border: 2px solid #434343;
	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
	border-radius: 50%;
	text-transform: uppercase;
	background-color: white;
	line-height: 90px;
	text-align: center;
	font-weight: 700;
	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
  	background-clip:         padding-box;
  	overflow: hidden;
	z-index: 999; 	
}
.circle > a {
	display: block;
}
.single-circle {
/* 	opacity: 0.0; */
	position: absolute;
	top: 8%;
	left: 50%;
	width: 90px;
	height: 90px;
	margin: 0 0 0 -45px;
	border: 2px solid #434343;
	-webkit-border-radius: 100%;
  	-moz-border-radius: 100%;
  	border-radius: 100%;
  	text-transform: uppercase;
	text-align: center;
	line-height: 90px;
	font-weight: 700;
}

.article-container {
	position: relative;
	max-width: 710px;
	height:auto;
	margin: 5% auto 80px auto;
	padding: 15px;
/* 	border: 1px solid gray; */
}
.article-container .article-content {
	font-size: .9em;
}
/* Header navigation */
.header-nav-container {
/* 	display: none; */
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 60px;
	margin-top: -34px;
	z-index: 999;
	box-sizing: border-box;
	
}
.header-nav-container > .header-nav-menu {
	position: absolute;
	top:0;
	width:100%;
	height: 36px;
	background-color: #fff;
}

/* https://css-tricks.com/reading-position-indicator/ */
.header-nav-container > progress {
	position: absolute;
	left: 0;
	top: 34px;
	width: 100%;
	height: 2px;	
	/* Reset the appearance */
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;	
	/* Get rid of the default border in Firefox/Opera. */
	border: none;
	background-color: transparent;
	color: #1fa0ae;
	z-index: 998;
}
progress[value] { color: #1fa0ae; }
progress::-webkit-progress-bar-value {background-color: #1fa0ae; }
progress::-webkit-progress-value {background-color: #1fa0ae; }
progress[value]::-webkit-progress-bar { background-color: transparent; }
progress::-moz-progress-bar {background-color: #1fa0ae; }

.header-nav-container > .header-nav-mouseover {	
/* 	border: 1px solid red; */
	position: absolute;
	top: 36px;
	height: 20px;
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1)); /*	For Safari 5.1 to 6.0*/
    background: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1)); 		/*	For Opera 11.1 to 12.0	*/
    background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1)); 	/*	For Firefox 3.6 to 15	*/
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1)); 		/* Standard syntax (must be last)*/
}

/* main header navigation	*/
.header-nav-main {
	position: relative;
	text-align: center;
	height: 36px;
	max-width:980px;
	margin: 0 auto;
/* 	padding: 0 16px; */
	background-color: #fff;
	box-sizing: border-box;
	border-bottom: 2px solid #343434;
}
/* trougao na top menu */
.header-nav-main:before {
	position:absolute;
	top: 36px;
	left: 50%;
	margin-left: -16px;
	content: ' ';
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 15px solid #343434;
	z-index: 999;
}
.header-nav-main > .header-navigation {
	display: inline-block;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: 700;
}
.header-navigation > li {
	display: inline;
	font-size: 0.8em;
	margin: 0 7px;
}
.header-navigation > li > a {
	display: inline-block;
	line-height: 32px;
	color: #343434;
}
.header-navigation > li > a:HOVER { color: #1fa0ae; }

.header-nav-main > .logo-wrapper { 
	float: left;
	margin-top: 4px;	
}
.header-nav-main > .logo-navigation { display: none; }
.header-nav-main > .navigation-social {
	display: none;
	float: right;
	margin: 3px 0 0 5px;
}


.header-navigation ul {
	display:none;
	position:absolute;
	top:100%;
	margin-left: 90px;
	border: 1px solid red;
	background:#fff;
	padding:10px;
	z-index: 999;
}

.header-navigation li:hover > ul
{
	display:block
}


/* button for resposive menu	*/
.header-nav-menu > .header-nav-bttn {
	display: none;
	float: right;
	width: 24px;
	height: 24px;
	border: 1px solid #343434;
	border-radius: 30px;
	margin: 3px 18px 0 15px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 12px 12px;
	background-position: center;
	background-image:  url('../img/social/menu-button.svg');
	cursor: pointer;
}

/* HEADER CONTENT */
.header-content {
	position: relative;
	display: block;
	max-width: 980px;
	min-height: 100px;
	margin: 50px auto 0 auto;
	box-sizing: border-box;	
}

.header-content-tophalf {
	display: table;
	width: 100%;	
}
.header-content-bottomhalf {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: auto;
/* 	border: 1px solid red; */
}

.header-author-filter {
	display: table-cell;
	height: 90px;
	padding: 0 15px;
/* 	border: 1px solid red; */
}
.author-fullname-bubble {
	display: none;
	position: absolute;
	margin: 12px 0 0 -5px;
	width: 51px;
	line-height: 14px;
	font-size: 10px;
	font-weight: 400;
	padding: 3px;
	background-color: #1fa0ae;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 999;
	box-shadow: 0 2px 0 rgba(0,0,1,0.05);
}
.author-fullname-bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #1fa0ae;
    top: -14px;
    left: 22px;
}

.chosen-author {
	border-color: #1fa0ae !important;
	color: #1fa0ae !important;
	opacity: 1.0 !important;
}

.header-page-indicator {
	position: relative;
	display: table-cell;
	width: 160px;
/* 	border: 1px solid blue; */
	height: 90px;
	padding: 0;
	vertical-align: middle;
}
.header-page-indicator > a > .page-indikator-circle {
	margin: 0 auto;
}
.author-filter-list {
	margin-top: 22px;
/* 	border: 1px solid gray; */
}
.author-filter-list > li {
	display: inline-block;
	vertical-align: middle;
}
.author-filter-list.right-author {
	text-align: left;
}
.author-filter-list.left-author {
	text-align: right;
}
.circle-filter {
	width: 38px;
	height: 38px;
	font-size: 11px;
	line-height: 38px;
	margin: 4px;
	opacity: 0.4;
}
.circle-filter:hover {
	opacity: 1.0;
}
.circle-filter:hover + .author-fullname-bubble {
	display: block;
}

.arts-submenu-icon {
	position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.7;
}
.arts-submenu-icon:HOVER {
	opacity: 1.0;	
}

.submenu-icon-1 {top: 0; left: 0 }
.submenu-icon-2 {top: 0; right: 0 }
.submenu-icon-3 {bottom: 0; left: 0 }
.submenu-icon-4 {bottom: 0; right: 0 }

.selected-art-icon {
	width: 46px;
	height: 46px;
	vertical-align: middle;
}

.header-sorting-container {
	text-align: center;
	text-transform: uppercase;
	padding-top: 15px;
	font-size: 0.8em;
	font-weight: 700;
} 
.header-sorting-container a:hover {
	color: #1fa0ae;	
}

.sorting-bttn {
	margin: 0 15px;
}


.authors-container {
	width: 100%;
/* 	padding: 10px; */
	text-align: center;
}
.authors-container > .author-signature-wrapper {
	display: inline-block;
/* 	width: 65px; */
	font-size: 0.7em;
	margin: 12px;
	text-align: center;
	opacity: 0.8;
}
.authors-container > .author-signature-wrapper:hover { opacity: 1.0; }
.authors-container > .author-signature-wrapper .author-signature{
	display: block;
	margin: 0 auto 10px auto;
}

/* ARTS Content preview */

.site-content-container {
	position: relative;
	max-width: 980px;
	min-height: 100%;
    height: inherit;
	margin: 5% auto 50px auto;
/* 	border: 1px solid gray; */
}
.article-top-container {
	position: relative;
	border-bottom: 1px solid #e1e8ed;
	margin-bottom: 25px;
	height: 180px;
}
.top-post-prev-img {
	position: relative;
	display: inline-block;
	float: left;
	width: 320px;
	height: 180px;
	overflow: hidden;
}
.article-top-container > article {
	position: relative;
	width: auto;
	margin-left: 320px;
	height: 180px;
} 
.full-width {
	width: 100% !important;
	margin: 0 !important;
}
.article-prev-container {
/* 	display: inline-block; */
	position: relative;
	vertical-align: top;
	width: 170px;
	margin: 15px 22px 15px 0;
	font-size: 0.8em;
}
h3.article-prev-title {
	margin: 0;
	text-align: center;
	margin-bottom: 3px;
}
.article-prev-author, .article-prev-footer { font-size: 12px; }
.article-prev-footer a:link { color: #1fa0ae !important; }

/* GRID POST PREVIEWS */
.post-prev-list {position: relative;}
.post-prev-item {
	position: relative;
	display: block;
    float: left;
    width: 220px;
    margin-right: 25px;
    margin-bottom: 30px;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    	-o-border-radius:4px;
		-ms-border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
    height: 320px;
    overflow: hidden;
    box-sizing: border-box;
}
.post-prev-item > article {
	position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.post-prev-img {
	overflow: hidden;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #e1e8ed;
    line-height: 0;
    height: 120px;
    background: url(../img/icons/sobakaisti_dog.svg) center center no-repeat;
    background-size: 30px 30px;
    background-color: #f8f8f8;
    opacity: 0.9;
}
.post-prev-img:hover {opacity: 1.0;}
.post-prev-img > img {
	width: 220px;
/* 	height: 120px; */
	border: none;
	margin: 0;
}
.post-prev-title {
	display: block;
    margin: 10px 15px 0 15px;
    font-size: 14px;
	color: #24292e;
}
.post-prev-title:hover {color: #00729d;}
.top-post-prev-title { font-size: 16px !important; font-weight: 600; }
.post-prev-content {
	width: 100%;
    font-size: 12px;
    color: #4f5357;
    line-height: 16px;
    text-align: left;
    padding: 7px 15px;
    overflow: hidden;
}
.top-post-prev-content {
	font-size: 14px !important;
	line-height: 18px;
	max-height: 120px;
	overflow: hidden;
}
	
.post-prev-footer {
	font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 14px 7px 14px;
    color: #8e8e8e;
    background-color: #fff;
	-webkit-box-shadow: 0px -16px 15px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px -16px 15px 0px rgba(255,255,255,1);
	box-shadow: 0px -16px 15px 0px rgba(255,255,255,1);
}
.post-prev-footer > .post-prev-avatar {
	display: inline-block;
	vertical-align: text-bottom;
	overflow: hidden;
}
.circle-small {
	width: 24px;
	height: 24px;
	border-width: 1px;
	border-color: #8e8e8e;
	line-height: 24px;
	font-weight: normal;
	font-size: 9px;
	margin: 0;
}
.post-prev-footer > .post-prev-author-details {
	font: inherit;
	display: inline-block;
    padding-left: 3px;
}
.post-prev-author-details > address {
	display: block;
    font-style: normal;
    line-height: 1em;
}
address > a:link, address > a:visited {
	display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    color: #8e8e8e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
address > a:hover {
	color: #00729d;
}
.post-prev-author-details > time {
	display: block;
    font-style: normal;
    font-size: inherit;
}
.post-prev-meta {
	position: absolute;
    bottom: 5px;
    right: 40px;
	color: #24292e;
}
.publication-prev-donwloaded {
	vertical-align: middle;
}
.publication-prev-donwloaded::before {
	font-family: 'Pe-icon-7-stroke';
	font-size: 14px;
	content: '\e68b';
	margin-right: 6px;
	color: #24292e;
}

.post-prev-meta > .post-prev-comment-count::before {
	font-family: 'Pe-icon-7-stroke';
	font-size: 16px;
	content: '\e668';
	margin-right: 6px;
	vertical-align: middle;
}
.fadein { display: none;}

/*	FOOTER	*/

/* footer { */
/* 	position: relative; */
/* 	width: 100%; */
/* 	height: auto; */
/* } */
footer .footer-container {
	position: relative;
	max-width: 500;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
	font-size: 12px;
/* 	opacity: 0.7; */
}
footer .footer-container .footer-row {
	display: block;
	padding: 3px 0;
}

.social-container {margin: 0; padding: 0;}
.social-container .social-ico {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 5px;
	border: 1px solid #343434;
   	-o-border-radius:50%;
	-ms-border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius: 50%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 14px 14px;
	background-position: center;
}
.social-container .social-ico a {
	display: block;
	width: 100%;
	height: 100%;
}
.social-container .facebook-ico { background-image:  url('../img/social/facebook-mono.svg'); }
.social-container .twitter-ico { background-image: url('../img/social/twitter-mono.svg'); }
.social-container .youtube-ico { background-image: url('../img/social/youtube-play-mono.svg'); }
.social-container .tumblr-ico { background-image: url('../img/social/tumblr-mono.svg'); }

.social-container .facebook-ico:HOVER { background-image:  url('../img/social/facebook-color.svg'); border-color: #3b5998; }
.social-container .twitter-ico:HOVER { background-image:  url('../img/social/twitter-color.svg'); border-color: #1da1f2; }
.social-container .youtube-ico:HOVER { background-image:  url('../img/social/youtube-play-color.svg'); border-color: #cd201f; }
.social-container .tumblr-ico:HOVER { background-image:  url('../img/social/tumblr-color.svg'); border-color: #35465c; }

.footer-nav li {
	display: inline-block;
/* 	margin: 3px; */
}
.footer-nav li.dotted-befor:before {
	content:'\2022';
	color: #343434;
	font-size: 1.5em;
	margin: 5px;
	vertical-align: sub;
}
.footer-nav li a:HOVER {
	color: #1fa0ae;
}

/* MAIN FOOTER */
.mvt-main-footer {
	position: relative;
	display: block;
	width: 100%;
	background-color: #242729;
    font-size: 11px;
    line-height: 1.26666667;
    color: #6a737c;
    box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin: 0;
	clear: both;
}
.mvt-footer-container {
	margin: 0 auto;
    padding: 38px 10px 32px 10px;
    max-width: 980px;
    min-height: 180px;
/*     border: 1px solid #6a737c; */
}

.mvt-footer-container > .footer-td {
	position: relative;
	float: left;
	display: inline-block;
	padding: 0 32px 0 0;
/* 	border: 1px solid gray; */
}
.mvt-footer-container > .footer-td > .footer-td-title {
	text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 12px 0;
    color: #bbc0c4;
    padding-right: 12px;
    max-height: 24px;
    line-height: 1;
    font-size: 12px;
}
.main-footer-nav > .footer-nav-list {
	margin: 0;
    list-style: none;
    white-space: nowrap;
    color: inherit;
}
.main-footer-nav > .footer-nav-list > li > a { 
	color: #848d95;
    line-height: 1.5;
    display: inline-block;
    text-decoration: none;	
}
.main-footer-nav > .footer-nav-list > li > a:hover { color: #bbc0c4;}

.main-footer-copyright {
	position: relative;
	float: right;
	display: inline-block;
	text-align: right;
}
.social-container .social-footer-ico {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 3px;
	border: 1px solid #fff;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius: 50%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 12px 12px;
	background-position: center;
	opacity: 0.6;
}
.social-container > .social-footer-ico:hover { opacity: 0.9; }
.social-container .social-footer-ico > a {
	display: block;
	width: 100%;
	height: 100%;
}
.social-container .facebook-footer-ico { background-image:  url('../img/social/facebook-white.svg'); }
.social-container .twitter-footer-ico { background-image: url('../img/social/twitter-white.svg'); }
.social-container .youtube-footer-ico { background-image: url('../img/social/youtube-white.svg'); }
.social-container .tumblr-footer-ico { background-image: url('../img/social/tumblr-white.svg'); }

.main-footer-copyright > p {	
	color: #bbc0c4;
    line-height: 1.5;
    border-bottom: 0;
}
.main-footer-copyright > p > a {
	color: #848d95;
}
/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
/* 	.single-circle { */
/* 		width: 80px; */
/* 		height: 80px; */
/* 		margin: 0 0 0 -45px; */
/* 		line-height: 80px; */
/* 		font-size: 0.8em; */
/* 	} */
	
/* 	.circle { */
/* 		width: 80px; */
/* 		height: 80px; */
/* 		line-height: 80px; */
/* 		font-size: 12px; */
/* 	} */
}

/* Mobile phones */
@media only screen and (max-width: 730px) {
	.single-circle { display: none;	}
	
	.header-nav-container {
		display: block; 
		margin-top: 0;
	}
	
	.header-nav-menu > .header-nav-main { display: none;}
	
	.header-nav-menu > .header-nav-bttn {
		display: block;
	}
	
	.header-content-tophalf { display: none; }
	.header-content-bottomhalf { height: 70px; }
	.author-filter-list {
		line-height: normal;
		margin-top: 11px;
	}
	.site-content-container {
		padding: 0 13px;
	}
	.header-sorting-container {
		font-size: 10px;
	}
}

@media only screen and (max-width: 640px) {
	.circle-filter {
		width: 28px;
		height: 28px;
		font-size: 10px;
		font-weight: normal;
		border-width: 1px !important;
		line-height: 28px;
		margin: 2px;
		opacity: 0.5;	
	}
	.header-page-indicator {
		width: 120px;
		height: 65px;
		padding: 0;
	}
	
	.arts-submenu-icon {
		width: 16px;
		height: 16px;
	}
	
	.page-indikator-circle {
		width: 64px;
		height: 64px;
		line-height: 64px;
		border-width: 1px;
		font-size: 12px;
	}
	.selected-art-icon {
		height: 32px;
		
	}
	.author-fullname-bubble {
		margin: 6px 0 0 0;
	}
}