@CHARSET "UTF-8";

@import
	url(https://fonts.googleapis.com/css?family=Noto+Sans:300,400,700&subset=latin,cyrillic-ext,latin-ext,cyrillic)
	;

@font-face {
	font-family: 'Pe-icon-7-stroke';
	src: url('../fonts/Pe-icon-7-stroke.eot?d7yf1v');
	src: url('../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v')
		format('embedded-opentype'),
		url('../fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('../fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100% !important;
}

body { background: #fdfdff; }
div { display: block; }

.fleft {
	float: left;
}

.fright {
	float: right;
}

.aleft {
	text-align: left;
}

.aright {
	text-align: right;
}

.inactive {
	opacity: 0.5;
}

/*
 Inputs
*/
.def-input {
	display: block;
	width: 100%;
	
	min-height: 34px;
    padding: 6px 8px;
    font-family: inherit;
    font-size: 0.9em;
    line-height: 20px;

	border-radius: 3px;
	background-color: #fafbfc;	
	color: #24292e;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: right 8px center;
	border: 1px solid #d1d5da;
	outline: none;
	box-shadow: inset 0 1px 1px rgba(27,31,35,0.075);
	box-sizing: inherit;
}

.def-l-input {
	min-height: 46px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}
.flat-input {
	background-color: #fff;
	border: none;
	box-shadow: none;
}



/*	HEADER	*/

/* circle general */
.circle {
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 1px solid #434343;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-transform: uppercase;
	background-color: white;
	line-height: 80px;
	text-align: center;
	font-weight: 700;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	overflow: hidden;
	z-index: 999;
}

.circle>a {
	display: block;
}

.single-circle {
	/* 	opacity: 0.0; */
	position: absolute;
	top: 8%;
	left: 50%;
	width: 90px;
	height: 90px;
	margin: 0 0 0 -45px;
	border: 2px solid #434343;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	text-transform: uppercase;
	text-align: center;
	line-height: 90px;
	font-weight: 700;
}

.article-container {
	position: relative;
	max-width: 710px;
	height: auto;
	margin: 5% auto 80px auto;
	padding: 15px;
	/* 	border: 1px solid gray; */
}

.article-container .article-content {
	font-size: .9em;
}

.center-main-width {
	max-width: 1024px; /* 1024 */
	margin: 0 auto;
	box-sizing: border-box;
}
/*
*	Form Input elements
*/
.inputs-container {
	margin: 0 auto;
	padding: 24px;
	max-width: 700px;
	box-sizing: border-box;
}
.input-holder {
	padding:0;
	box-sizing: border-box;
	margin-bottom: 15px;
}
.input-holder > label {
	display: block; 
	margin-bottom: 5px;
	font-size: 12px;
}
.input-holder > input,
.input-holder > .fake-input,
.input-holder > textarea {
/* 	display: block; */
/* 	width: 100%; */
/* 	min-height: 46px; */
/* 	padding: 10px; */
/* 	font-size: 16px; */
/* 	border-radius: 5px; */
/* 	background-color: #fafbfc; */

/* 	line-height: 20px; */
/* 	color: #24292e; */
/* 	vertical-align: middle; */
/* 	background-repeat: no-repeat; */
/* 	background-position: right 8px center; */
/* 	border: 1px solid #d1d5da; */
/* 	outline: none; */
/* 	box-shadow: inset 0 1px 1px rgba(27,31,35,0.075); */
/* 	box-sizing: inherit; */
}
.half-input-holder {
  display: inline-block;
  width: 49%;
}
.input-holder > input:focus,
.input-holder > textarea:focus {
  background-color: #fff;
  border-color: #2188ff;
}
#input-framed-val:before {
  position: absolute;  
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 10px;
  content: attr(data-value);
  padding: 1px 8px;
  font-size: 14px;
  font-weight: 700;
}

/*
*	Top Navigation
*/
nav.mvt-top-navigation {
	position: fixed;
	top: -38px;
	height: 40px;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 999;
	-webkit-transition: top 0.5s ease-out;
	-moz-transition: top 0.5s ease-out;
	-o-transition: top 0.5s ease-out;
	transition: top 0.5s ease-out;
}
nav.mvt-top-navigation::after {
	position: absolute;
	content: ' ';
	width: 100%;
	height: 70%;
/* 	border-bottom: 1px dotted gray; */
	z-index: 997;
}

nav.mvt-top-navigation:hover {
	top: 0;
}

nav.mvt-top-navigation > 
.nav-content-wrapper {
	height: 40px;
	box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.3);
/* 	padding: 0 12px 10px; */
	border-bottom: 2px solid #343434;
}

/* trougao na top menu */
nav.mvt-top-navigation > 
.nav-content-wrapper:before {
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -16px;
	content: ' ';
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 15px solid #343434;
	z-index: 999;
}
/* top bar logo */
nav.mvt-top-navigation > 
.nav-content-wrapper > 
a.mvt-top-logo {
	position: relative;
	margin: 0;
	padding: 0;
}
a.mvt-top-logo::after {
	position: absolute;
	right: -16px;
	left: auto;
	top: 5px;
	content: '';
	height: 28px;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}
/* Header navigation */

/* https://css-tricks.com/reading-position-indicator/ */
.mvt-top-navigation > progress {
	position: absolute;
	left: 0;
	top: 38px;
	width: 100%;
	height: 2px;
	/* Reset the appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* Get rid of the default border in Firefox/Opera. */
	border: none;
	background-color: transparent;
	color: #1fa0ae;
	z-index: 998;
}

progress[value] {
	color: #1fa0ae;
}
progress::-webkit-progress-bar-value {
	background-color: #1fa0ae;
}
progress::-webkit-progress-value {
	background-color: #1fa0ae;
}
progress[value]::-webkit-progress-bar {
	background-color: transparent;
}
progress::-moz-progress-bar {
	background-color: #1fa0ae;
}

.header-nav-container>.header-nav-mouseover {
	/* 	border: 1px solid red; */
	position: absolute;
	top: 36px;
	height: 20px;
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1)); /*	For Safari 5.1 to 6.0*/
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1)); /*	For Opera 11.1 to 12.0	*/
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1)); /*	For Firefox 3.6 to 15	*/
	background: linear-gradient(to top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1)); /* Standard syntax (must be last)*/
}

.mvt-top-menu {
	display: inline-block;
	line-height: 38px;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: 700;
}

.mvt-top-menu>li {
	display: inline;
	font-size: 0.8em;
	margin: 0 7px;
}

.mvt-top-menu>li>a {
	display: inline-block;
	line-height: 36px;
	color: #343434;
}

.mvt-top-menu>li>a:HOVER {
	color: #1fa0ae;
}

/* HEADER CONTENT */

a.cloud-hoverable::after, 
a.cloud-hoverable::before {
	display: block;
	visibility: hidden;
	position: absolute;  
	color: #fdfdff;  
	opacity: 0; 
	-moz-transition: opacity .5s ease-out;
	-webkit-transition: opacity .5s ease-out;
	-o-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out;
	 
	-webkit-box-shadow: 0 3px 9px rgba(27,31,35,0.15);
	-moz-box-shadow: 0 3px 9px rgba(27,31,35,0.15);
	box-shadow: 0 3px 9px rgba(27,31,35,0.15);
	z-index: 998;
}
a.cloud-hoverable::after {  
  top: 85px;
  width: 60px;
  margin-left: -10px;
  content:attr(data-title);  
  text-align: center;
  font-size: 12px;
  line-height: 13px;
  padding: 4px 2px;
  background-color: #1fa0ae;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  box-sizing: border-box;
  font-weight: normal;
  text-transform: capitalize !important;
}
a.cloud-hoverable::before {
  top: 75px;
  margin-left: 12px;
  width: 0; 
  height: 0; 
/*  margin-left: -10px; */
  content: ' ';  
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;  
  border-bottom: 10px solid #1fa0ae;
}
a.cloud-hoverable:hover::after,
a.cloud-hoverable:hover::before {
  visibility: visible;
  opacity: 1;
}

/*
* Authors Qutations
*/
.quotes-left-container{
	border-right: 1px dotted gray;
}
blockquote.author-quote-bubble {
	position: relative;
	display: inline-block;
    max-width:300px;
    padding: 15px 18px;
    color: #343434;
    background: #FFFFEA;
    font-size: 1.1em;
    font-style: italic;
    background-clip: padding-box;
}
blockquote.left-bubble { margin: 0 2em 3.5em 10px; }
blockquote.right-bubble { margin: 3.5em 10px 0 2em; }

blockquote.author-quote-bubble > .quotation-mark {
  float: left;
  margin-right: 10px;
}
blockquote.left-bubble:before,
blockquote.right-bubble:before,
blockquote.left-bubble:after,
blockquote.right-bubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;    
    bottom: auto;    
    z-index: 999;
}
blockquote.left-bubble:before {
  top: 20px;
    left: auto;
    right: -20px;
    border-width: 10px 0 10px 20px;
    border-color: transparent rgba(27,31,35,0.2);    
}
blockquote.left-bubble:after {
    top: 21px;
    left: auto;
    right: -19px;
    border-width: 9px 0 9px 20px;
    border-color: transparent #FFFFEA;
}
blockquote.right-bubble:before {
    top: 20px;  
    left: -20px;
    right: auto;    
    border-width: 10px 20px 10px 0;
    border-color: transparent rgba(27,31,35,0.2);
}
blockquote.right-bubble:after {
    top: 21px;
    left: -19px;
    right: auto; 
    border-width: 9px 20px 9px 0;
    border-color: transparent #FFFFEA;
}

blockquote.author-quote-bubble > .quotation-mark {
  font-size: 2em;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}
/*
* End of Authors Qutations
*/
/* Author bio container */
.author-bio-container {
    max-width: 360px;
    padding: 13px 10px;
    color: #343434;   
}
.author-bio-container > * {
    padding: 15px 18px;  
    background: #FFFFEA;
    margin: 15px 0;
	box-sizing: border-box;
}
.author-bio-container > .author-fullname {
    display: block;
    position: relative;
    text-align: center;
}
.author-bio-container > 
.author-fullname::before, 
.author-bio-container > 
.author-fullname::after {
	position: absolute;
	left: 50%;
	right: auto;
	width: 0; 
	height: 0;
	content: ' ';
}
.author-bio-container > 
.author-fullname::before {  
	top: -16px;
	margin-left: -12px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;  
	border-bottom: 16px solid rgba(27,31,35,0.15);
}
.author-bio-container > 
.author-fullname::after {
	top: -15px;
	margin-left: -11px;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;  
	border-bottom: 16px solid #FFFFEA;
}
.author-bio-container > 
.author-bio-content >
.author-info-list {
	margin: 15px 0;
}
.author-bio-container > 
.author-bio-content >
.author-info-list > li > img {
	vertical-align: middle;
	margin-right: 5px;
	max-height: 14px;
}
.author-bio-container > 
.author-bio-content >
.author-info-list > li > a:link {
	color: #3f6884;
}
/* socials line separator */
hr.socials-info-separator {
    border: 0;
    height: 0;
    margin: 15px 0 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
hr.socials-info-separator:before {
	position: absolute;
	height: 16px;
	content:attr(data-title);
	margin: -8px 0 0 7px;
	font-size: 10px;
	font-weight: 300;
	padding: 0 5px;
	background: #FFFFEA;
	border: 1px solid rgba(0, 0, 0, 0.2);
	line-height: 15px;
	box-sizing: border-box;
	opacity: 0.8;  
}
/* End of author bio container */

.mvt-header {
	position: relative;
	margin: 70px 0 30px;
}

.header-author-filter {
	position: relative;
	flex-basis: 50%;
	padding: 0 15px;
	/* 	border: 1px solid red; */
}

.author-fullname-bubble {
	display: none;
	position: absolute;
	margin: 12px 0 0 -5px;
	width: 51px;
	line-height: 14px;
	font-size: 10px;
	font-weight: 400;
	padding: 3px;
	background-color: #1fa0ae;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 999;
	box-shadow: 0 2px 0 rgba(0, 0, 1, 0.05);
}

.author-fullname-bubble:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color: #1fa0ae;
	top: -14px;
	left: 22px;
}

.chosen-author {
	border-color: #1fa0ae !important; 
	color: #1fa0ae !important;
	opacity: 1.0 !important;
	
	-webkit-box-shadow: 0 3px 12px rgba(27,31,35,0.15);
	-moz-box-shadow: 0 3px 12px rgba(27,31,35,0.15);
	box-shadow: 0 3px 12px rgba(27,31,35,0.15);
}

.header-page-indicator {
	position: relative;
	flex-basis: 180px;
	text-align: center;
	/* 	border: 1px solid blue; */
	height: 90px;
	padding: 0;
	vertical-align: middle;
}

.header-page-indicator > a.page-indikator-circle {
	margin: 0 auto;
	font-size: 0.8em !important;
}

.author-filter-list {
	margin-top: 22px;
	/* 	border: 1px solid gray; */
}

.author-filter-list>li {
	display: inline-block;
	vertical-align: middle;
}

.author-filter-list.right-author {
	text-align: left;
}

.author-filter-list.left-author {
	text-align: right;
}

.circle-filter, .author-circle {
	width: 38px;
	height: 38px;
	font-size: 11px;
	line-height: 38px;
	margin: 4px;
	border-width: 1px;
	opacity: 0.8;
}
.circle-filter:hover,
.author-circle:hover {
	opacity: 1.0;
}

.circle-filter:hover+.author-fullname-bubble {
	display: block;
}

.author-circle > a {
	display: block;
	width: 100%;
	height: 100%;
}
.meta-circle {
	position: absolute;
	left: 60%;
	bottom: 60%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	z-index: 990;
}
.arts-submenu-icon {
	position: absolute;
	width: 22px;
	height: 22px;
	opacity: 0.7;
}

.arts-submenu-icon:HOVER {
	opacity: 1.0;
}

.submenu-icon-1 {
	top: 0;
	left: 0
}

.submenu-icon-2 {
	top: 0;
	right: 0
}

.submenu-icon-3 {
	bottom: 0;
	left: 0
}

.submenu-icon-4 {
	bottom: 0;
	right: 0
}

.selected-art-icon {
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

.header-sorting-container {
	text-transform: uppercase;
	padding-top: 15px;
	font-size: 0.8em;
	font-weight: 700;
}

.header-sorting-container>a.sorting-bttn {
	margin: 0 15px;
}

.header-sorting-container a.sorting-bttn:hover {
	color: #1fa0ae;
}

.authors-container {
	width: 100%;
	/* 	padding: 10px; */
	text-align: center;
}

.authors-container>.author-signature-wrapper {
	display: inline-block;
	/* 	width: 65px; */
	font-size: 0.7em;
	margin: 12px;
	text-align: center;
	opacity: 0.8;
}

.authors-container>.author-signature-wrapper:hover {
	opacity: 1.0;
}

.authors-container>.author-signature-wrapper .author-signature {
	display: block;
	margin: 0 auto 10px auto;
}

/* 
* ARTS Content preview 
*/

.top-posts-header {
	display: block !important;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	width: 100%;
	padding: 0;
	margin-bottom: 16px;
	box-sizing: border-box;
}

.top-posts-header > span {
	display: inline-block;
	border-bottom: 1px solid rgba(0, 0, 0, .54);
	padding: 4px 0;
	box-sizing: border-box;
	margin-bottom: -1px;
}

article.mvt-postprev-basic,
article.mvt-postprev-highlight
 {
	flex: none;
	min-width: 320px;
	height:auto;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 3px;
	background: #fff;
	margin: 10px 0;
	overflow: hidden;
}
article.mvt-postprev-basic {
	width: 32%;
	align-content: space-between;
/* 	align-items: flex-start; */
/* 	min-height: 320px; */
}
article.mvt-postprev-highlight {
  	width: 48.5%;
}
article.mvt-postprev-highlight > 
aside.mvt-postprev-cover {
  	flex-basis: 40%;
  	height: auto;
/*  border: 1px solid red;*/
}
article.mvt-postprev-basic >
aside.mvt-postprev-top-cover {
	height: 120px;
}
aside.mvt-postprev-cover > a {
	display: block;
	height: 100%;
	width: 100%;
}
div.mvt-postprev-content {
  	padding: 13px;
}

h3.mvt-postprev-title {
	color: rgba(0,0,0,.84);
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: -.25px;	
	-webkit-margin-before: 0.8em;
    -webkit-margin-after: 0.7em;
    margin: 0.8em 0 0.7em 0;
	padding: 0;
}

div.mvt-postprev-content > 
.mvt-postprev-snippet {
/* 	height: 86px; */
	min-height: 50px;
	font-size: 13px;	
	line-height: 16px;	
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgba(0,0,0,.64);
	margin-bottom: 16px;
	/* bottom shadow */
	-webkit-box-shadow: inset 0px -12px 5px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0px -12px 5px 0px rgba(255,255,255,0.5);
	box-shadow: inset 0px -12px 5px 0px rgba(255,255,255,0.5);
}
article.mvt-postprev-basic >
div.mvt-postprev-content > 
.mvt-postprev-snippet {
	height: auto !important;
}

div.mvt-postprev-content > footer {
/* 	 border: 1px dotted green; */
}

.mvt-postprev-author-avatar {
  max-width: 40px;
/*   border: 1px dotted red; */
}

.mvt-postprev-info {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  padding: 0 7px;
/*   border: 1px dotted green; */
}
.mvt-postprev-tools {
   border: 1px dotted blue;
}
.mvt-postprev-info > span {
  display: block;
}

.mvt-postprev-info > time {
  color: rgba(0,0,0,.64);
}



.site-content-container {
	position: relative;
	max-width: 980px;
	min-height: 100%;
	height: inherit;
	margin: 5% auto 50px auto;
	/* 	border: 1px solid gray; */
}

/* .article-top-container { */
/* 	position: relative; */
/* 	border-bottom: 1px solid #e1e8ed; */
/* 	margin-bottom: 25px; */
/* 	height: 180px; */
/* } */

/* .top-post-prev-img { */
/* 	position: relative; */
/* 	display: inline-block; */
/* 	float: left; */
/* 	width: 320px; */
/* 	height: 180px; */
/* 	overflow: hidden; */
/* } */

/* .article-top-container>article { */
/* 	position: relative; */
/* 	width: auto; */
/* 	margin-left: 320px; */
/* 	height: 180px; */
/* } */

.full-width {
	width: 100% !important;
	margin: 0 !important;
}

.article-prev-container {
	/* 	display: inline-block; */
	position: relative;
	vertical-align: top;
	width: 170px;
	margin: 15px 22px 15px 0;
	font-size: 0.8em;
}

h3.article-prev-title {
	margin: 0;
	text-align: center;
	margin-bottom: 3px;
}

.article-prev-author, .article-prev-footer {
	font-size: 12px;
}

.article-prev-footer a:link {
	color: #1fa0ae !important;
}

/* GRID POST PREVIEWS */
.post-prev-list {
	position: relative;
}

.post-prev-item {
	position: relative;
	display: block;
	float: left;
	width: 220px;
	margin-right: 25px;
	margin-bottom: 30px;
	border: 1px solid #e1e8ed;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	height: 320px;
	overflow: hidden;
	box-sizing: border-box;
}

.post-prev-item>article {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.post-prev-img {
	overflow: hidden;
	width: 100%;
	text-align: center;
	display: block;
	margin: 0 auto;
	border-bottom: 1px solid #e1e8ed;
	line-height: 0;
	height: 120px;
	background: url(../img/icons/sobakaisti_dog.svg) center center no-repeat;
	background-size: 30px 30px;
	background-color: #f8f8f8;
	opacity: 0.9;
}

.post-prev-img:hover {
	opacity: 1.0;
}

.post-prev-img>img {
	width: 220px;
	/* 	height: 120px; */
	border: none;
	margin: 0;
}

/* .post-prev-title { */
/* 	display: block; */
/* 	margin: 10px 15px 0 15px; */
/* 	font-size: 14px; */
/* 	color: #24292e; */
/* } */

/* .post-prev-title:hover { */
/* 	color: #00729d; */
/* } */

/* .top-post-prev-title { */
/* 	font-size: 16px !important; */
/* 	font-weight: 600; */
/* } */


/*
.top-post-prev-content {
	font-size: 14px !important;
	line-height: 18px;
	max-height: 120px;
	overflow: hidden;
}
*/
/* .post-prev-footer { */
/* 	font-size: 10px; */
/* 	position: absolute; */
/* 	bottom: 0; */
/* 	left: 0; */
/* 	width: 100%; */
/* 	padding: 0 14px 7px 14px; */
/* 	color: #8e8e8e; */
/* 	background-color: #fff; */
/* 	-webkit-box-shadow: 0px -16px 15px 0px rgba(255, 255, 255, 1); */
/* 	-moz-box-shadow: 0px -16px 15px 0px rgba(255, 255, 255, 1); */
/* 	box-shadow: 0px -16px 15px 0px rgba(255, 255, 255, 1); */
/* } */

/* .post-prev-footer>.post-prev-avatar { */
/* 	display: inline-block; */
/* 	vertical-align: text-bottom; */
/* 	overflow: hidden; */
/* } */

.circle-small {
	width: 32px;
	height: 32px;
	border-width: 1px;
	border-color: #8e8e8e;
	line-height: 32px;
	font-weight: normal;
	font-size: 10px;
	margin: 0;
}

/* .post-prev-footer > .post-prev-author-details { */
/* 	font: inherit; */
/* 	display: inline-block; */
/* 	padding-left: 3px; */
/* } */

.post-prev-author-details>time {
	display: block;
	font-style: normal;
	font-size: inherit;
}

.post-prev-meta {
	position: absolute;
	bottom: 5px;
	right: 40px;
	color: #24292e;
}

.publication-prev-donwloaded {
	vertical-align: middle;
}

.publication-prev-donwloaded::before {
	font-family: 'Pe-icon-7-stroke';
	font-size: 14px;
	content: '\e68b';
	margin-right: 6px;
	color: #24292e;
}

.post-prev-meta>.post-prev-comment-count::before {
	font-family: 'Pe-icon-7-stroke';
	font-size: 16px;
	content: '\e668';
	margin-right: 6px;
	vertical-align: middle;
}

.fadein {
	display: none;
}

/*
*	POST
*/

.post {
	position: relative;
	max-width: 980px;
	height: auto;
	color: #434343;
	margin-bottom: 5em !important;
	/* 	border: 1px solid gray; */
}
.post > 
.post-header {
	width: 100%;
	overflow-wrap: break-word;
	word-wrap: break-word;
	text-align: center;
	margin-bottom: 1.5em !important;
}

.post > .post-header >
.post-title {
	margin-bottom: .25em !important;
	margin-top: 0;
	font-size: 28px;
}

.post > .post-header >
.post-details {
	line-height: 32px;
	font-size: 14px;
}

.circle-post-author {
	display: inline-block !important;
	width: 32px;
	height: 32px;
	font-size: 12px;
	line-height: 32px;
	margin-right: 4px;
	border-width: 1px !important;
	border-color: #1fa0ae !important;
	vertical-align: middle;
}

.post-details>.post-author-name {
	color: #1fa0ae !important;
}

.post-details>.post-author-name:hover {
	text-decoration: underline;
}

.post >.post-img-container {
	display: block;
	width: 100%;	
	min-height: 460px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 1.5em !important;
}

.post>.post-img-container>img {
	width: inherit;
	max-width: 100%;
	height: auto;
}

.post>.post-body {
	max-width: 740px;
	padding: 0 15px;
	line-height: normal;
	margin: 0 auto;
}
.post-body::first-letter {
	font-size: 4em;
	line-height: 1em;
	color: #343434;
	float: left;
	margin-right: 2px;
	vertical-align: top;
}

.post>.post-body iframe {
	width: 100%;
}

.contact-post {
	width: 100%;
	padding: 0 60px;
	box-sizing: border-box;
}

/* Side post */
.side-article-prev {
	position: absolute;
	top: 500px;
	max-width: 110px;
	border: 1px solid #e1e8ed;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	height: 190px;
	overflow: hidden;
	box-sizing: border-box;
}

.side-article-prev.left-article-prev {
	left: 20px;
}

.side-article-prev.right-article-prev {
	right: 20px;
}

.side-post-overflow-link {
	font-family: 'Pe-icon-7-stroke';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;
	line-height: 190px;
	font-size: 2.8em;
	color: #434343;
	opacity: 0.9;
	z-index: 999;
}

.side-post-overflow-link:hover {
	opacity: 0.3 !important;
}

.side-post-prev-title {
	display: block;
	margin: 7px 10px 0 10px;
	font-size: 12px;
	color: #24292e;
}

.side-post-prev-content {
	width: 100%;
	font-size: 10px;
	color: #4f5357;
	line-height: 14px;
	text-align: left;
	padding: 0 10px;
	overflow: hidden;
}

.side-post-prev-footer {
	font-size: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 10px 5px 10px;
	color: #8e8e8e;
	background-color: #fff;
	-webkit-box-shadow: 0px -8px 6px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px -8px 6px 0px rgba(255, 255, 255, 1);
	box-shadow: 0px -8px 6px 0px rgba(255, 255, 255, 1);
}

.side-post-prev-footer>.side-post-prev-author-details {
	font-size: 10px;
}

.validation-error {
/* 	display: none; */
	position: relative;
	min-width: 180px;
	float: right;
	margin-top: 15px;
	padding: 5px 10px;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	font-size:0.8em;
  	font-weight:700;
  	color:#fff;
  	background-color: #DD381D;
  	opacity: 0.75;
  	z-index: 999;
  	box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
}
.validation-error:after {    
    content: "";
    position: absolute;
    top: -8px;
    right: 12px;
    bottom: auto;
    left: auto;
    border-width: 0 10px 10px;
    border-color: #DD381D transparent;
    border-style: solid;
    display: block;
    width: 0;
}
.non-valid-field { border-color:#DD381D !important; }

/*	FOOTER	*/


/* footer .footer-container { */
/* 	position: relative; */
/* 	max-width: 500; */
/* 	margin: 0 auto; */
/* 	padding-bottom: 20px; */
/* 	text-align: center; */
/* 	font-size: 12px; */
/* 	/* 	opacity: 0.7; */ */
/* } */

/* footer .footer-container .footer-row { */
/* 	display: block; */
/* 	padding: 3px 0; */
/* } */

.social-container {
	margin: 0;
	padding: 0;
}

.social-container .social-ico {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 5px;
	border: 1px solid #343434;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 14px 14px;
	background-position: center;
}

.social-container .social-ico a {
	display: block;
	width: 100%;
	height: 100%;
}

.social-container .facebook-ico {
	background-image: url('../img/social/facebook-mono.svg');
}

.social-container .twitter-ico {
	background-image: url('../img/social/twitter-mono.svg');
}

.social-container .youtube-ico {
	background-image: url('../img/social/youtube-play-mono.svg');
}

.social-container .tumblr-ico {
	background-image: url('../img/social/tumblr-mono.svg');
}

.social-container .facebook-ico:HOVER {
	background-image: url('../img/social/facebook-color.svg');
	border-color: #3b5998;
}

.social-container .twitter-ico:HOVER {
	background-image: url('../img/social/twitter-color.svg');
	border-color: #1da1f2;
}

.social-container .youtube-ico:HOVER {
	background-image: url('../img/social/youtube-play-color.svg');
	border-color: #cd201f;
}

.social-container .tumblr-ico:HOVER {
	background-image: url('../img/social/tumblr-color.svg');
	border-color: #35465c;
}

.footer-nav li {
	display: inline-block;
	/* 	margin: 3px; */
}

.footer-nav li.dotted-befor:before {
	content: '\2022';
	color: #343434;
	font-size: 1.5em;
	margin: 5px;
	vertical-align: sub;
}

.footer-nav li a:HOVER {
	color: #1fa0ae;
}


/*
* LOGIN
*/
.login-container {
  width: 340px;  
  box-sizing: border-box;
  margin: 5% auto;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  background: rgba(255,255,255,0.70);
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0,0,0,0.3);
}
.login-options-list > li {  
   display: inline-block;  
   width:49%;
   line-height: 32px;
   text-align: center;
   font-size: 0.9em;
   text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.login-options-list > 
li.login-options > a {
  display: block;
}

.login-option-active {
	color: #1c2024; /*#24292e; */
	border-radius: 12px 12px 0 0;
	background: rgba(255,255,255,0.7);
}
.input-container {
  padding: 20px;
  background: rgba(255,255,255,0.7);
}
.bgd-cover {
	position: relative;
/* 	 background-position: center center; */
/* 	background-repeat: no-repeat; */
/* 	background-attachment: fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover !important;
	height: 100%;
	overflow: hidden;
	margin: 0;
}


/* MAIN FOOTER */
.mvt-main-footer {
/* 	position: relative; */
/* 	display: block; */
/* 	width: 100%; */
	margin-top: 9%;
	background: rgba(0,0,0,.88);
	font-size: 0.8em;
/* 	line-height: 1.26666667; */
	color: #6a737c;
/* 	box-sizing: border-box; */
/* 	-moz-box-sizing: border-box; */
/* 	-webkit-box-sizing: border-box; */
/* 	margin: 0; */
/* 	clear: both; */
}

.mvt-footer-container {
	padding: 32px 0;
	min-height: 180px;
}
.mvt-footer-container > 
.mvt-footer-logo > a {
	opacity: 0.7;	
}
.mvt-footer-container > 
.mvt-footer-logo > a:hover {
	opacity: 1.0;	
}

.mvt-footer-container>.footer-td {
	position: relative;
	float: left;
	display: inline-block;
	padding: 0 32px 0 0;
	/* 	border: 1px solid gray; */
}

.mvt-footer-container>.footer-td>.footer-td-title {
/* 	text-transform: uppercase; */
/* 	font-weight: bold; */
/* 	margin: 0 0 12px 0; */
/* 	color: #bbc0c4; */
/* 	padding-right: 12px; */
/* 	max-height: 24px; */
/* 	line-height: 1; */
/* 	font-size: 12px; */
}

.main-footer-nav>.footer-nav-list {
	margin: 0;
	list-style: none;
	white-space: nowrap;
	color: inherit;
}

.main-footer-nav>.footer-nav-list>li>a {
	color: #848d95;
	line-height: 1.5;
	display: inline-block;
	text-decoration: none;
}

.main-footer-nav>.footer-nav-list>li>a:hover {
	color: #bbc0c4;
}

.main-footer-copyright {
	position: relative;
	float: right;
	display: inline-block;
	text-align: right;
}

.social-container .social-footer-ico {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 3px;
	border: 1px solid #fff;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 12px 12px;
	background-position: center;
	opacity: 0.6;
}

.social-container>.social-footer-ico:hover {
	opacity: 0.9;
}

.social-container .social-footer-ico>a {
	display: block;
	width: 100%;
	height: 100%;
}

.social-container .facebook-footer-ico {
	background-image: url('../img/social/facebook-white.svg');
}

.social-container .twitter-footer-ico {
	background-image: url('../img/social/twitter-white.svg');
}

.social-container .youtube-footer-ico {
	background-image: url('../img/social/youtube-white.svg');
}

.social-container .tumblr-footer-ico {
	background-image: url('../img/social/tumblr-white.svg');
}

.main-footer-copyright>p {
	color: #bbc0c4;
	line-height: 1.5;
	border-bottom: 0;
}

.main-footer-copyright>p>a {
	color: #848d95;
}
/* RESPONSIVE */
@media only screen and (max-width: 1024px) { /* 	.single-circle { */
	/* 		width: 80px; */
	/* 		height: 80px; */
	/* 		margin: 0 0 0 -45px; */
	/* 		line-height: 80px; */
	/* 		font-size: 0.8em; */
	/* 	} */

	/* 	.circle { */
	/* 		width: 80px; */
	/* 		height: 80px; */
	/* 		line-height: 80px; */
	/* 		font-size: 12px; */
	/* 	} */
}

/* Mobile phones */
@media only screen and (max-width: 730px) {
	.single-circle {
		display: none;
	}
	.author-filter-list {
		line-height: normal;
		margin-top: 11px;
	}
	.site-content-container {
		padding: 0 13px;
	}
	.header-sorting-container {
		font-size: 10px;
	}
	.side-article-prev {
		display: none;
	}
}

@media only screen and (max-width: 640px) {
	.header-top {
		display: none;
	}
	.mvt-postprev-container {
		/* justify */
		-webkitjustify-content: center !important;
  		-ms-justify-content: center !important;
		justify-content: center !important;
		padding: 0 12px;
	}
	article.mvt-postprev-basic,
	article.mvt-postprev-highlight {
		width: 100%;
		
	}
	
	
	.circle-filter {
		width: 28px;
		height: 28px;
		font-size: 10px;
		font-weight: normal;
		border-width: 1px !important;
		line-height: 28px;
		margin: 2px;
		opacity: 0.5;
	}
	.header-page-indicator {
		width: 120px;
		height: 65px;
		padding: 0;
	}
	.arts-submenu-icon {
		width: 16px;
		height: 16px;
	}
	.page-indikator-circle {
		width: 64px;
		height: 64px;
		line-height: 64px;
		border-width: 1px;
		font-size: 0.7em;
	}
	.selected-art-icon {
		height: 32px;
	}
	.author-fullname-bubble {
		margin: 6px 0 0 0;
	}
	
	/* authors quotes */
	blockquote.author-quote-bubble {
	    font-size: 0.8em;
	    padding: 7px 9px;
	  }
}
