<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="chosenArt=${chosenArt}">
<head th:replace="commons/mvt_head :: mvt_head(~{::title})">
	<title th:text="${chosenArt}">Literature</title>
</head>
<body class="fx-box fx-dir-col fx-justify-sbtw">
<th:block th:insert="~{commons/mvt_header :: mvtTopNavigation}"></th:block>
<!-- Main Page Header -->
<th:block th:insert="~{commons/mvt_header :: mvtHeader}"></th:block>

<!-- 
*	Top articles  *
-->
<section class="mvt-top-posts y-1em-padding">
	<div class="center-main-width fx-box fx-wrap fx-justify-sbtw mvt-postprev-container">
		
		<!-- top section header -->
		<div class="top-posts-header">
		    <span th:text="#{heading.post.top}">Izdvajamo</span>
		</div>	
		
		<!-- PREVIEW 2.0 -->
		<article class="fx-box fx-dir-row fx-basis-48_75 post-prev-box post-prev-highlights"
			th:each="post, item : ${initArticles}" th:if="${item.index < 4}"
			th:with="hasImage=${#bools.isTrue(post?.featuredImage != null)}">
			<!-- Featured post image -->
			<aside class="fx-basis-40 mvt-postprev-cover" th:if="${hasImage}" th:with="media = ${post.featuredImage}">
		    	<a th:href="@{/arts/{art}/{slug}(art=${arts[0]}, slug=${post.slug})}" class="post-prev-img"
		    		th:style="'background:url(' + @{/uploads/images/{filename}(filename=${media.fileName})} + ') center center; background-size: cover;'">
		  		</a>     
		  	</aside>
		  
		  	<div class="fx-box fx-dir-col fx-justify-sbtw x-1em-padding y-05em-padding" 
		  		th:classappend="${#bools.isTrue(hasImage)} ? fx-basis-60 : fx-basis-full">
		    	<header>
		    		<!-- Post tags preview -->
		      		<div class="post-prev-tags" th:if="${post?.tags != null}">
		      			<span th:each="tag, item : ${post.tags}" th:if="${item.index < 4}" 
		      				th:text="${'#' + tag.tag + ' '}"></span>
		      		</div>
		      		<!-- Post title -->
		      		<h2 class="post-prev-title post-prev-h2">
		      			<a th:href="@{/arts/{art}/{slug}(art=${arts[0]}, slug=${post.slug})}" th:title="${post.title}" th:text="${post.title}"></a>
		      		</h2>
		    	</header>
		    	<div class="post-prev-snippet" th:if="${post.snippet != null}"
		    		th:utext="${#strings.abbreviate(post.snippet, #bools.isTrue(hasImage) ? 145 : 300)}">		        
		    	</div>
		    	<!-- Post preview footer -->
		    	<footer class="fx-box fx-wrap fx-justify-sbtw fx-dir-row" style="margin-top: 0.5em;" th:with="author=${post.author}">
		      		<!--  -->
					<div class="fx-box"> 
			    		<!-- Authors avatar -->
						<div class="mvt-postprev-author-avatar">
							<a th:href="@{/arts/{art}/by/{author}(art=${arts[0]}, author=${author.slug})}" th:alt="${author.firstName + ' ' + author.lastName}">
								<span class="circle circle-small" th:text="${#strings.substring(author.firstName,0,1)}+'.'+${#strings.substring(author.lastName,0,1)}+'.'">SBK</span>
							</a>
						</div>
						<!-- Authors full name and post date -->
						<div class="mvt-postprev-info">
							<span class="post-prev-author" th:title="${author.firstName + ' ' + author.lastName}">
								<a th:href="@{/arts/{art}/by/{author}(art=${arts[0]}, author=${author.slug})}" 
									th:text="${author.firstName + ' ' + author.lastName}" th:alt="${author.firstName + ' ' + author.lastName}">Sobakaisti</a>
							</span>
							<time class="post-prev-date" th:text="${#dates.format(post.postDate, 'dd. MMM yyyy. HH:mm')}"></time>
						</div>
					</div>	
			    	<div class="mvt-postprev-tools">
			            <div class="postprev-comments-indicator">
			            	<img th:src="@{/resources/img/icons/comment.svg}" height="15">
			            	<span th:if="${#maps.containsKey(COMMENTS_COUNT_PER_POST, post.id)}" 
			            		th:text="${COMMENTS_COUNT_PER_POST.get(post.id)}">0</span>
			        	</div>
			        </div>
		    	</footer>
		  </div>
		  
		</article>
		
	</div>
</section>	

<!-- 
*	The rest of the Posts  *
-->
<section class="mvt-rest-posts y-1em-padding">
	<div class="center-main-width fx-box fx-wrap fx-justify-sbtw mvt-postprev-container">
	
		<!-- top section header -->
		<div class="top-posts-header">
		    <span th:text="#{heading.post.rest}">Preostali članci</span>
		</div>

		<!-- 
		*	Basic design preview 
		-->
		<article class="fx-box fx-dir-col fx-justify-sbtw fx-basis-32 post-prev-box post-prev-basic"
			th:each="post, item : ${initArticles}" th:if="${item.index > 3}"
			th:with="hasImage=${#bools.isTrue(post?.featuredImage != null)}">
			<!-- Featured post image -->
			<aside th:if="${hasImage}" style="height:120px;" th:with="media = ${post.featuredImage}">			
				<a th:href="@{/arts/{art}/{slug}(art=${arts[0]}, slug=${post.slug})}" th:title="${post.title}"
				   th:style="'background:url(' + @{/uploads/images/{filename}(filename=${media.fileName})} + ') center center; background-size: cover;'"></a>
			</aside>			
    		<div class="fx-box fx-dir-col x-1em-padding y-05em-padding">
				<header>
					<!-- Post tags preview -->
					<div class="post-prev-tags" th:if="${post?.tags != null}">
						<span th:each="tag, item : ${post.tags}" th:if="${item.index < 4}" 
							th:text="${'#' + tag.tag + ' '}"></span>
					</div>
				  	<!-- Post title -->
		      		<h3 class="post-prev-title post-prev-h3">
		      			<a th:href="@{/arts/{art}/{slug}(art=${arts[0]}, slug=${post.slug})}" th:title="${post.title}" th:text="${post.title}"></a>
		      		</h3>
				</header>
				<!-- Post snippet -->
				<div class="post-prev-snippet" th:if="${post.snippet != null}" style="max-height: 155px !important;"
		    		th:utext="${#strings.abbreviate(post.snippet, #bools.isTrue(hasImage) ? 145 : 300)}">		        
		    	</div>
		    </div>
	    	<!-- Post preview footer -->
	    	<footer class="fx-box fx-wrap fx-justify-sbtw fx-dir-row x-1em-padding y-05em-padding" 
	    		th:with="author=${post.author}">
	      		<!--  -->
				<div class="fx-box"> 
		    		<!-- Authors avatar -->
					<div class="mvt-postprev-author-avatar">
						<a th:href="@{/arts/{art}/by/{author}(art=${arts[0]}, author=${author.slug})}" th:alt="${author.firstName + ' ' + author.lastName}">
							<span class="circle circle-small" th:text="${#strings.substring(author.firstName,0,1)}+'.'+${#strings.substring(author.lastName,0,1)}+'.'">SBK</span>
						</a>
					</div>
					<!-- Authors full name and post date -->
					<div class="mvt-postprev-info">
						<span class="post-prev-author" th:title="${author.firstName + ' ' + author.lastName}">
							<a th:href="@{/arts/{art}/by/{author}(art=${arts[0]}, author=${author.slug})}" 
								th:text="${author.firstName + ' ' + author.lastName}" th:alt="${author.firstName + ' ' + author.lastName}">Sobakaisti</a>
						</span>
						<time class="post-prev-date" th:text="${#dates.format(post.postDate, 'dd. MMM yyyy. HH:mm')}"></time>
					</div>
				</div>	
		    	<div class="mvt-postprev-tools">
		            <div class="postprev-comments-indicator">
		            	<img th:src="@{/resources/img/icons/comment.svg}" height="15">
		            	<span th:if="${#maps.containsKey(COMMENTS_COUNT_PER_POST, post.id)}" 
		            		th:text="${COMMENTS_COUNT_PER_POST.get(post.id)}">0</span>
		        	</div>
		        </div>
	    	</footer>    		    
 		 </article>
 		 
	</div>
</section>	

<!-- 
*	Post Counter	*
 -->
<input type="hidden" id="post-counter" th:value="${#lists.size(initArticles)}" />
<a th:href="@{/arts/{art}/{author}/more(art=${arts[0]}, author=(${chosenAuthor != null} ? 'by/'+${chosenAuthor.slug} : ''))}" style="display:none;" id="load-content-link"></a>

<th:block th:insert="~{commons/mvt_footer :: mvt_main_footer}"></th:block>
</body>
</html>
