<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="chosenArt=${chosenArt}">
<head th:replace="commons/mvt_head :: mvt_head(~{::title})">
	<title th:text="${chosenArt.name}">Literature</title>
</head>
<body>
<!-- <header th:replace="~{commons/mvt_header :: mvt_header}"></header> -->
<th:block th:insert="~{commons/mvt_header :: mvtTopNavigation}"></th:block>
<!-- Main Page Header -->
<th:block th:insert="~{commons/mvt_header :: mvtHeader}"></th:block>

<!-- Top articles  -->
<section class="mvt-top-posts">
	<div class="top-posts-wrapper center-main-width fx-box fx-wrap fx-justify-sbtw">
		<!-- top section header -->
		<div class="top-posts-header">
		    <span>Izdvajamo</span>
		</div>		
		<!-- posts -->
		<article class="fx-box fx-nowrap fx-dir-row top-post-prev" th:each="post : ${initArticles}">
		    <!-- fotka -->
		    <!-- th:style="'background:url(' + @{/<path-to-image>} + ');'" 
		    
		    style="background:url('https://cdn-images-1.medium.com/max/2000/1*DLIqBteIIJchIhaiUfCFdQ.jpeg');"    
		    -->
		    <aside th:if="${post.featuredImage != null}" th:with="media = ${post.featuredImage}">
		      <a href="#" th:style="'background:url(' + @{/uploads/images/{filename}(filename=${media.fileName})} + ') center center; background-size: cover;'">
		      </a>
		    </aside>
		    <div>
		      	<header>
		        	<h3 th:text="${post.title}" th:title="${post.title}">Neki članak #1</h3>        
		      	</header>
			    <div th:if="${post.content != null}" th:utext="${#strings.abbreviate(post.content, post.featuredImage != null ? 145 : 290)}"
			    	class="post-prev-content">
			    </div>
		    	<footer>Nemanja Jelesijeic</footer>
			</div>
		</article>
	</div>
</section>

<div class="site-content-container">
	<!-- Top article preview -->
	<div class="article-top-container" th:if="${initArticles != null}">
		<!-- Top article preview image -->
		<div class="top-post-prev-img" th:if="${initArticles[0].featuredImage != null}">
			<a th:href="@{/arts/{slug}(slug=${initArticles[0].slug})}" class="post-prev-img" th:title="${initArticles[0].title}">
<!-- 				<img alt="" src=""> -->
			</a>
		</div>
		<article th:classappend="${initArticles[0].featuredImage != null} ? '' : full-width">			
			<header>
				<!-- Top article title -->				
				<a th:href="@{/arts/{art}/{slug}(art=${arts[0].slug}, slug=${initArticles[0].slug})}" 
					class="post-prev-title top-post-prev-title" th:text="${initArticles[0].title}" th:alt="${initArticles[0].title}" th:title="${initArticles[0].title}"></a>
			</header>
			<!-- Top article preview body -->
			<div th:if="${initArticles[0].content != null}" th:utext="${#strings.abbreviate(initArticles[0].content, initArticles[0].featuredImage != null ? 300 : 500)}" 
				class="post-prev-content top-post-prev-content"></div>
			<!-- top article footer -->
			<footer class="post-prev-footer" th:with="author=${initArticles[0].author}">
				<div class="post-prev-avatar">
					<span class="circle circle-small" 
						th:text="${#strings.substring(author.firstName,0,1)}+'.'+${#strings.substring(author.lastName,0,1)}+'.'">SBK</span>
				</div>
				<!-- Author and date info -->
				<div class="post-prev-author-details">
					<address class="post-prev-author" th:title="${author.firstName + ' ' + author.lastName}">
						<a th:href="@{/arts/{art}/by/{author}(art=${arts[0].slug}, author=${author.slug})}" 
							th:text="${author.firstName + ' ' + author.lastName}" th:alt="${author.firstName + ' ' + author.lastName}">Sobakaisti</a>
					</address>
					<time class="post-prev-date" th:text="${#dates.format(initArticles[0].postDate, 'dd. MMM yyyy. HH:mm')}"></time>
				</div>
				<!-- Comments indicator -->
				<div class="post-prev-meta">
					<span class="post-prev-comment-count">999</span>
				</div>
			</footer>
		</article>
	</div>

	<ul th:if="${initArticles != null}" class="post-prev-list">
		<!-- List of articles previews -->
		<li class="post-prev-item" th:each="article,itemStat : ${initArticles}" th:unless="${itemStat.index == 0}">
			<article>
				<header>
					<!-- Article featured image -->
					<a th:href="@{/arts/{slug}(slug=${article.slug})}" class="post-prev-img" th:if="${article.featuredImage != null}" th:title="${article.title}">
						<img alt="" th:src="@{/resources/img/{img}(img=${article.featuredImage})}">
					</a>
					<!-- Article title -->
					<a th:href="@{/arts/{art}/{slug}(art=${arts[0].slug}, slug=${article.slug})}" 
						class="post-prev-title" th:text="${article.title}" th:alt="${article.title}" th:title="${article.title}"></a>
				</header>
				<div th:if="${article.content != null}" th:utext="${#strings.abbreviate(article.content, article.featuredImage != null ? 145 : 290)}" class="post-prev-content"></div>
				<footer class="post-prev-footer" th:with="author=${article.author}">
					<div class="post-prev-avatar">
						<span class="circle circle-small" 
							th:text="${#strings.substring(author.firstName,0,1)}+'.'+${#strings.substring(author.lastName,0,1)}+'.'">SBK</span>
					</div>
					<div class="post-prev-author-details">
						<address class="post-prev-author" th:title="${author.firstName + ' ' + author.lastName}">
							<a th:href="@{/arts/{art}/by/{author}(art=${arts[0].slug}, author=${author.slug})}" 
								th:text="${author.firstName + ' ' + author.lastName}" th:alt="${author.firstName + ' ' + author.lastName}">Sobakaisti</a>
						</address>
						<time class="post-prev-date" th:text="${#dates.format(article.postDate, 'dd. MMM yyyy. HH:mm')}"></time>
					</div>
					<div class="post-prev-meta">
						<span class="post-prev-comment-count">999</span>
					</div>
				</footer>
			</article>
		</li>
	</ul>
	<a th:href="@{/arts/{art}/{author}/more(art=${arts[0].slug}, author=(${chosenAuthor != null} ? 'by/'+${chosenAuthor.slug} : ''))}" style="display:none;" id="load-content-link"></a>
	<a th:href="@{/arts/footer}" style="display:none;" id="load-footer-link"></a>	
</div>		

<footer th:replace="~{commons/mvt_footer :: mvt_main_footer}"></footer>
</body>
</html>