<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="chosenArt=${arts[0]}">
<head th:replace="commons/mvt_head :: mvt_head(~{::title})">
	<title th:text="${article.title}">Literature</title>
	<!-- fb graf linkovi -->
</head>
<body>
<header th:replace="~{commons/mvt_header :: mvt_header}"></header>

<div class="site-content-container">

	<article th:with="a=${article}" class="post">
		<!-- header of the article -->
		<header class="post-header">
			<h1 th:text="${a.title}" th:title="${a.title}" class="post-title"></h1>
			<!-- post details -->
			<div th:with="author=${a.author}" class="post-details">
				<!-- Author avatar -->
				<a th:href="@{/arts/{art}/by/{author}(art=${chosenArt.slug}, author=${author.slug})}" th:alt="${author.firstName + ' ' + author.lastName}">
					<span class="circle circle-post-author" th:text="${#strings.substring(author.firstName,0,1)}+'.'+${#strings.substring(author.lastName,0,1)}+'.'">SBK</span>
				</a>
				<!-- Author name -->
				<a th:href="@{/arts/{art}/by/{author}(art=${chosenArt.slug}, author=${author.slug})}" th:alt="${author.firstName + ' ' + author.lastName}" 
					th:text="${author.firstName + ' ' + author.lastName}" class="post-author-name">Sobakaisti</a>
				<!-- Post date -->
				<span>objavljeno dana</span>
				<time class="post-date" th:text="${#dates.format(article.postDate, 'dd. MMM yyyy.')}"></time>	
			</div>
		</header>
		<!-- featured image -->
		<div th:if="${a.featuredImage != null}" class="post-img-container">
			<img alt="" th:src="@{/resources/img/{img}(img=${a.featuredImage})}" class="post-img">
		</div>
		
		<div class="post-body" th:utext="${a.content}">
		
		</div>
	</article>
	
	<!-- Realated articles -->
	
	<ul th:if="${initArticles != null}" class="post-prev-list">
		<!-- List of articles previews -->
		<li class="post-prev-item" th:each="article,itemStat : ${initArticles}">
			<article>
				<header>
					<!-- Article featured image -->
					<a th:href="@{/arts/{slug}(slug=${article.slug})}" class="post-prev-img" th:if="${article.featuredImage != null}" th:title="${article.title}">
						<img alt="" th:src="@{/resources/img/{img}(img=${article.featuredImage})}">
					</a>
					<!-- Article title -->
					<a th:href="@{/arts/{art}/{slug}(art=${arts[0].slug}, slug=${article.slug})}" 
						class="post-prev-title" th:text="${article.title}" th:alt="${article.title}" th:title="${article.title}"></a>
				</header>
				<div th:if="${article.content != null}" th:utext="${#strings.abbreviate(article.content, article.featuredImage != null ? 145 : 290)}" class="post-prev-content"></div>
				<footer class="post-prev-footer" th:with="author=${article.author}">
					<div class="post-prev-avatar">
						<span class="circle circle-small" 
							th:text="${#strings.substring(author.firstName,0,1)}+'.'+${#strings.substring(author.lastName,0,1)}+'.'">SBK</span>
					</div>
					<div class="post-prev-author-details">
						<address class="post-prev-author" th:title="${author.firstName + ' ' + author.lastName}">
							<a th:href="@{/arts/{art}/by/{author}(art=${arts[0].slug}, author=${author.slug})}" 
								th:text="${author.firstName + ' ' + author.lastName}" th:alt="${author.firstName + ' ' + author.lastName}">Sobakaisti</a>
						</address>
						<time class="post-prev-date" th:text="${#dates.format(article.postDate, 'dd. MMM yyyy. HH:mm')}"></time>
					</div>
					<div class="post-prev-meta">
						<span class="post-prev-comment-count">999</span>
					</div>
				</footer>
			</article>
		</li>
	</ul>
</div>		

<!-- Next an previous article -->

	<article th:if="${sideArticles != null && sideArticles[0] != null}" class="side-article-prev left-article-prev" th:with="article=${sideArticles[0]}">
		<a th:href="@{/arts/{art}/{slug}(art=${chosenArt.slug}, slug=${article.slug})}" id="side-post-link-next" class="side-post-overflow-link">&#xe687;</a>	
		<header>	
			<!-- Article title -->
			<a th:href="@{/arts/{art}/{slug}(art=${chosenArt.slug}, slug=${article.slug})}" 
				class="side-post-prev-title" th:text="${article.title}" th:alt="${article.title}" th:title="${article.title}"></a>
		</header>
		<div th:if="${article.content != null}" th:utext="${#strings.abbreviate(article.content, 110)}" class="side-post-prev-content"></div>
		<footer class="side-post-prev-footer" th:with="author=${article.author}" th:if="article.author != null">
			<div class="side-post-prev-author-details">
				<address class="post-prev-author" th:title="${author.firstName + ' ' + author.lastName}">
					<a th:href="@{/arts/{art}/by/{author}(art=${chosenArt.slug}, author=${author.slug})}" 
						th:text="${author.firstName + ' ' + author.lastName}" th:alt="${author.firstName + ' ' + author.lastName}">Sobakaisti</a>
				</address>
				<time class="post-prev-date" th:text="${#dates.format(article.postDate, 'dd. MMM yyyy.')}"></time>
			</div>
		</footer>
	</article>	

	<!-- right (next) post -->
	<article th:if="${sideArticles != null && sideArticles[1] != null}" class="side-article-prev right-article-prev" th:with="article=${sideArticles[1]}">
		<a th:href="@{/arts/{art}/{slug}(art=${chosenArt.slug}, slug=${article.slug})}" id="side-post-link-prev" class="side-post-overflow-link">&#xe685;</a>	
		<header>	
			<!-- Article title -->
			<a th:href="@{/arts/{art}/{slug}(art=${chosenArt.slug}, slug=${article.slug})}" 
				class="side-post-prev-title" th:text="${article.title}" th:alt="${article.title}" th:title="${article.title}"></a>
		</header>
		<div th:if="${article.content != null}" th:utext="${#strings.abbreviate(article.content, 110)}" class="side-post-prev-content"></div>
		<footer class="side-post-prev-footer" th:with="author=${article.author}" th:if="article.author != null">
			<div class="side-post-prev-author-details">
				<address class="post-prev-author" th:title="${author.firstName + ' ' + author.lastName}">
					<a th:href="@{/arts/{art}/by/{author}(art=${chosenArt.slug}, author=${author.slug})}" 
						th:text="${author.firstName + ' ' + author.lastName}" th:alt="${author.firstName + ' ' + author.lastName}">Sobakaisti</a>
				</address>
				<time class="post-prev-date" th:text="${#dates.format(article.postDate, 'dd. MMM yyyy.')}"></time>
			</div>
		</footer>
	</article>
	
<footer th:replace="~{commons/mvt_footer :: mvt_main_footer}"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/movement.jq.js}"></script>
</body>
</html>