<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/mvt_head :: mvt_head(~{::title})">
	<title th:text="${post.title}">Literature</title>
	<!-- fb graf linkovi -->
</head>
<body class="fx-box fx-dir-col fx-justify-sbtw">
<!-- <header th:replace="~{commons/mvt_header :: mvt_header}"></header> -->
<th:block th:insert="~{commons/mvt_header :: mvtTopNavigation}"></th:block>
<!-- Main Page Header -->
<th:block th:insert="~{commons/mvt_header :: mvtHeader}"></th:block>
	
<section>
	<div class="center-main-width fx-box fx-justify-cnt mvt-post-container">
		<article th:with="post=${post}" class="post">
			<!-- header of the article -->
			<header class="post-header">
				<h1 th:text="${post.title}" th:title="${post.title}" class="post-title"></h1>
				<!-- post details -->
				<div th:with="author=${post.author}" class="post-details">
					<!-- Author avatar -->
					<a th:href="@{/{url_basis}/by/{author}(url_basis=${URL_BASIS}, author=${author.slug})}" th:alt="${author.firstName + ' ' + author.lastName}">
						<span class="circle circle-post-author" th:text="${#strings.substring(author.firstName,0,1)}+'.'+${#strings.substring(author.lastName,0,1)}+'.'">SBK</span>
					</a>
					<!-- Author name -->
					<a th:href="@{/{url_basis}/by/{author}(url_basis=${URL_BASIS}, author=${author.slug})}" th:alt="${author.firstName + ' ' + author.lastName}" 
						th:text="${author.firstName + ' ' + author.lastName}" class="post-author-name">Sobakaisti</a>
					<!-- Post date -->
					<span>objavljeno dana</span>
					<time class="post-date" th:text="${#dates.format(post.postDate, 'dd. MMM yyyy.')}"></time>	
					
					<span th:if="${post instanceof T(org.sobakaisti.mvt.models.Publication) and post.media != null}" 
						class="border-3-rad downloaded-info">
						<span th:text="#{label.downloaded}">Downloaded</span>&ensp;<span id="js-count-updateable" th:text="${post.downloaded}">0</span>x
					</span>
				</div>
			</header>
			<!-- featured image -->
<!-- 		    <aside th:if="${post?.featuredImage != null}" th:with="media = ${post.featuredImage}" class="post-img-container" -->
<!-- 		    	th:style="'background:url(' + @{/uploads/images/{filename}(filename=${media.fileName})} + ') no-repeat center center; background-size: contain;'"> -->
<!-- 		    </aside> -->
		    
		     <aside th:if="${post?.featuredImage != null}" th:with="media = ${post.featuredImage}" class="post-img-container">
		    	<img alt="img" th:src="@{/uploads/images/{filename}(filename=${media.fileName})}">
		    </aside>
		    
			<!-- Post -->
			<main class="post-body">
				<!-- Publication sid downloads button -->
				<div th:if="${post instanceof T(org.sobakaisti.mvt.models.Publication) and post.media != null}" 
					class="side-download-container border-3-rad">
					<div class="fx-box fx-dir-col border-3-rad download-bttn-container" th:with="media = ${post.media}">
						<a th:href="@{/uploads/images/{filename}(filename=${media.fileName})}" th:attr="data-uri=@{/publications/increment/downloads(id=${post.id})}" 
							class="x-1em-padding y-1em-padding js-download-count-trigger" download>
							<b th:text="${media.title}"></b> <br>
							<i th:text="${media.fileName}"></i> <br>
							size: <span th:text="${media.getReadableSize()}"></span>
						</a>
						<a th:href="@{/uploads/images/{filename}(filename=${media.fileName})}" th:attr="data-uri=@{/publications/increment/downloads(id=${post.id})}"
							class="show-media-lib bttn bttn-primary js-download-count-trigger" download>
							<img alt="" th:src="@{/resources/img/icons/svg/cloud-download-white.svg}" height="24"><br />
						</a>
					</div>					
				</div>
				<!-- Post Content -->
				<div th:utext="${post.content}"></div>				
			</main>	
						
			<th:block th:if="${post instanceof T(org.sobakaisti.mvt.models.Publication) and post.media != null}">				
				<!-- Publication bottom download button -->
				<div class="fx-box fx-justify-start fx-dir-row border-3-rad download-bttn-container" style="border: 1px solid rgba(0, 0, 0, .1);"
					th:with="media = ${post.media}">
					<a th:href="@{/uploads/images/{filename}(filename=${media.fileName})}" th:attr="data-uri=@{/publications/increment/downloads(id=${post.id})}"
						class="show-media-lib bttn bttn-primary js-download-count-trigger" download>
						<img alt="" th:src="@{/resources/img/icons/svg/cloud-download-white.svg}" height="32"><br />
					</a>
					<a th:href="@{/uploads/images/{filename}(filename=${media.fileName})}" th:attr="data-uri=@{/publications/increment/downloads(id=${post.id})}"
						class="x-1em-padding y-1em-padding js-download-count-trigger" download>
						<b th:text="${media.title}"></b> <br>
						<i th:text="${media.fileName}"></i> <br>
						size: <span th:text="${media.getReadableSize()}"></span>
					</a>
				</div>				
			</th:block>
			
			<footer>
				<div class="post-tags"></div>
			</footer>
		</article>		
		 
	</div>
</section>	

<!-- 
*	Top Recomendation articles  *
-->
<section class="bgd-lightgray y-2em-padding">
	<div class="center-main-width fx-box fx-wrap fx-justify-sbtw" id="recommends">
		<!-- top section header -->
		<div class="top-posts-header">
		    <span th:text="#{heading.post.recommend}">Recommend</span>
		</div>
		<article class="fx-box fx-dir-col fx-justify-sbtw mvt-postprev-basic"
				th:each="rl_post, item : ${relatedPosts}" th:unless="${item.index > 2}">
		    <!-- fotka -->
		    <aside th:if="${rl_post?.featuredImage != null}" th:with="media = ${rl_post.featuredImage}" class="mvt-postprev-cover mvt-postprev-top-cover">
				<a th:href="@{/{url_basis}/{slug}(url_basis=${URL_BASIS}, slug=${rl_post.slug})}" th:title="${rl_post.title}"
				   th:style="'background:url(' + @{/uploads/images/{filename}(filename=${media.fileName})} + ') center center; background-size: cover;'"></a>
		    </aside>
			<!-- Right side of preview -->
			<div class="fx-box fx-grow2 fx-dir-col fx-justify-sbtw mvt-postprev-content">
				<header>
					<h3 class="mvt-postprev-title">
						<a th:href="@{/{url_basis}/{slug}(url_basis=${URL_BASIS}, slug=${rl_post.slug})}" th:title="${rl_post.title}" th:text="${rl_post.title}"></a>
					</h3>
				</header>
			    <div th:if="${rl_post.content != null}" th:utext="${#strings.abbreviate(rl_post.content, rl_post.featuredImage != null ? 145 : 300)}"
					class="mvt-postprev-snippet">
			    </div>
		    	<footer class="fx-box fx-dir-row fx-justify-sbtw" th:with="author=${rl_post.author}">
		    		<!--  -->
					<div class="fx-box"> 
			    		<!-- Authors avatar -->
						<div class="mvt-postprev-author-avatar">
							<a th:href="@{/{url_basis}/by/{author}(url_basis=${URL_BASIS}, author=${author.slug})}" th:alt="${author.firstName + ' ' + author.lastName}">
								<span class="circle circle-small" th:text="${#strings.substring(author.firstName,0,1)}+'.'+${#strings.substring(author.lastName,0,1)}+'.'">SBK</span>
							</a>
						</div>
						<!-- Authors full name and post date -->
						<div class="mvt-postprev-info">
							<span class="post-prev-author" th:title="${author.firstName + ' ' + author.lastName}">
								<a th:href="@{/{url_basis}/by/{author}(url_basis=${URL_BASIS}, author=${author.slug})}" 
									th:text="${author.firstName + ' ' + author.lastName}" th:alt="${author.firstName + ' ' + author.lastName}">Sobakaisti</a>
							</span>
							<time class="post-prev-date" th:text="${#dates.format(rl_post.postDate, 'dd. MMM yyyy. HH:mm')}"></time>
						</div>
					</div>	
			    	<div class="mvt-postprev-tools">
			    		<div class="postprev-comments-indicator">
			            	<img th:src="@{/resources/img/icons/comment.svg}" height="14">
			            	<span th:if="${not #maps.isEmpty(COMMENTS_COUNT_PER_POST) and #maps.containsKey(COMMENTS_COUNT_PER_POST, rl_post.id)}" 
			            		th:text="${COMMENTS_COUNT_PER_POST.get(rl_post.id)}">0</span>
			        	</div>
			        	<div th:if="${rl_post instanceof T(org.sobakaisti.mvt.models.Publication) and rl_post.media != null}"
			        		class="postprev-downloads-indicator">
			        		<img th:src="@{/resources/img/icons/svg/cloud-download.svg}" height="14">
			        		<span th:text="${rl_post.downloaded}"></span>
			        	</div>
			        </div>				    
			</footer>
			</div>
		</article>
	</div>
</section>
	
<!-- 
	Post Comments
 -->
<section class="bgd-lightgray y-1em-padding" id="comment-section">
	<div class="center-main-width fx-box fx-dir-col fx-justify-cnt" id="comments">
		<div class="top-posts-header">
		    <span th:text="#{label.comments}">Komentari</span>
		    <span th:if="${COMMENTS_COUNT != null}" th:text="|(${COMMENTS_COUNT})|"></span>
		</div>		
		
		<div id="js-comment-container" class="y-1em-padding posted-comment-container">
			<th:block th:each="comment, item : ${postComments}" th:insert="~{commons/fragments :: commentFragment}">			
			</th:block>
		</div>
		<!-- More... -->
		<div class="fx-box fx-dir-row fx-justify-cnt bottm-1em-margin" th:unless="${#lists.isEmpty(postComments)}">
			<a href="javascript:;" id="js-loadmore-commens-bttn" class="bttn bttn-sm bttn-slide-down"
				th:attr="data-uri=@{/comment/{post_type}/{post_id}/more(post_id=${post.id}, post_type=${post.class.name}, max=${COMMENTS_COUNT})}" 
				th:text="#{label.showmore}">Prikazi jos</a>
		</div>
		<!-- Commit message -->
		<div class="commit-response-holder full-width" id="commit-result"></div>
		<th:block th:insert="~{commons/fragments :: leaveCommentFragment(postId=${post.id}, entityName=${post.class.name})}"></th:block>
	</div>
</section>

	
<footer th:replace="~{commons/mvt_footer :: mvt_main_footer}"></footer>
</body>
</html>