<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/mvt_head :: mvt_head(~{::title})">
	<title th:text="#{nav.item.authors}">Autori</title>
</head>
<body>
<!-- Top Navigation -->
<th:block th:insert="~{commons/mvt_header :: mvtTopNavigation}"></th:block>

<header class="mvt-header">
	<div class="header-content-wrapper center-main-width">
		<div class="header-top fx-box fx-justify-sbtw">
			<a th:href="@{/rs/movement}"> 
				<img alt="Pokret" th:src="@{/resources/img/icons/sobakaisti_dog.svg}" height="30" title="Pokret Sobakaisti">
			</a>
			<!-- social networks -->
			<div class="social-container fright header-social">
				<span class="facebook-ico social-ico"> 
					<a th:href="@{https://www.facebook.com/sobakaisti/}" target="_blank" title="Facebook"></a>
				</span>
				<span class="twitter-ico social-ico">
					<a th:href="@{https://twitter.com/sobakaisti}" target="_blank" title="Twitter"></a>
				</span>
				<span class="youtube-ico social-ico"></span>
				<span class="tumblr-ico social-ico"> 
					<a th:href="@{http://sobakaisti.tumblr.com/}" target="_blank" title="Tumblr"></a>
				</span>
			</div>
		</div>
	
		<div class="header-middle fx-box fx-nowrap fx-justify-cnt fx-align-mid">
			<!-- left autor filter div -->
			<div class="header-author-filter">
				<ul th:if="${not #lists.isEmpty(authors)}" class="author-filter-list left-author">
					<li th:each="author,itemStat : ${authors}" th:if="${itemStat.odd}" class="circle author-circle">
						<a rel="author" href="javascript:;" th:href="@{/authors/bio/{authorSlug}(authorSlug=${author.slug})}" 
							th:alt="${author.firstName + ' ' + author.lastName}" class="cloud-hoverable"
						   	th:attr="data-title=${author.firstName + ' ' + author.lastName}" 
							th:text="${#strings.substring(author.firstName,0,1)}+'.'+${#strings.substring(author.lastName,0,1)}+'.'">							
						</a>
					</li>
				</ul>
			</div>
			<!-- center indicator continer -->
			<div id="chosen-author-box">
				<span class="circle page-indikator-circle" th:text="#{nav.item.authors}">Autori</span>				
			</div>
			<!-- right author filter div -->
			<div class="header-author-filter">
				<ul th:if="${not #lists.isEmpty(authors)}" class="author-filter-list right-author">
					<li th:each="author,itemStat : ${authors}" th:if="${itemStat.even}" class="circle author-circle">
						<a rel="author" href="javascript:;" th:href="@{/authors/bio/{authorSlug}(authorSlug=${author.slug})}"
							th:alt="${author.firstName + ' ' + author.lastName}" class="cloud-hoverable"
							th:attr="data-title=${author.firstName + ' ' + author.lastName}" 
							th:text="${#strings.substring(author.firstName,0,1)}+'.'+${#strings.substring(author.lastName,0,1)}+'.'">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>

<section>
	<div class="center-main-width fx-box fx-nowrap fx-justify-cnt" id="authors-main-content">
		<div class="fx-box fx-dir-col fx-align-end quotes-left-container">			
	    	<blockquote class="author-quote-bubble left-bubble" th:each="quote, item : ${quotes}" th:if="${item.odd}">
				<img th:src="@{/resources/img/icons/svg/quote.svg}" class="quotation-mark" height="18"> 
				<span th:text="${quote}"></span>
			</blockquote> 		   
	   	</div>
	    
		<div class="fx-box fx-dir-col fx-align-start">			
			<blockquote class="author-quote-bubble right-bubble" th:each="quote, item : ${quotes}" th:if="${item.even}">
	    		<img th:src="@{/resources/img/icons/svg/quote.svg}" class="quotation-mark" height="18">
	    		<span th:text="${quote}"></span> 
	    	</blockquote>
		</div>		
	</div>
</section>

<th:block th:insert="~{commons/mvt_footer :: mvt_main_footer}"></th:block>
</body>
</html>
