<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- th:replace="commons/dash_head :: dash_head(~{::title},~{::link})" -->
<head th:replace="commons/dash_head :: dash_head(~{::title})">
	<title>Sobakaisti | Dashboard</title>
</head>
<body>
<!-- Top header of dashboard section -->
<header th:replace="~{commons/dash_header :: dash_header}"></header>
<!-- Breadcrumbs -->
<!-- <div th:replace="commons/dash_header :: dash_breadcrumbs(~{::li})"> -->
<!-- 	<ul> -->
<!-- 		<li><a th:href="@{/sbk-admin/sobakaisti}">Sobakaisti</a></li> -->
<!-- 	</ul> -->
<!-- </div> -->
<!-- Side navigation manu -->
<section th:replace="~{commons/dash_sidebar :: dash_sidebar}"></section>

<section class="fx-box fx-dir-row fx-wrap fx-justify-start dash-container">	

	<th:block th:if="${not #lists.isEmpty(authors)}" th:each="author : ${authors}"
		th:insert="~{dashboard/dash_fragments :: authorPreviewFragment(author=${author})}">	
	</th:block>

	<article class="author-box new-author-box border-6-rad">
		<div class="author-add-new">			
			<a th:href="@{/sbk-admin/sobakaisti/fragment/add_or_update_dialog/}" class="add-bttn" 
				onclick="event.preventDefault(); loadFragment(this.href, '#fragmentPlaceholder');">&#xe6a9;</a>
		</div>
	</article>
</section>
	
<footer th:replace="~{commons/dash_footer :: dash_footer}"></footer>
<th:block th:if="${#bools.isTrue(HAS_ERROR)}">
	<script type="text/javascript">callAnchor('add');</script>
</th:block>
</body>
</html>