<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sobakaisti</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/movement.css}">
</head>
<body>
	<div class="background-wrapper">
		<ul class="bgd-list">
		    
		</ul>
	</div>
	<div class="single-circle">POKRET</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/resources/js/intro.js}"></script>
</body>
</html>