<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sobakaisti</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/intro.style.css}">
</head>
<body>
<div class="left-hemisphere hemisphere">
	<img alt="Pokret" th:src="@{/resources/img/Logo-SOBAKA.png}" id="movement-icon" class="intro-icon">
	<div class="mvt-langwrapper-7 lang-container">
		<span class="single-circle mvt-lang-circle">POKRET7</span>
	</div>
	<div class="mvt-langwrapper-6 lang-container">
		<span class="single-circle mvt-lang-circle">POKRET6</span>
	</div>
	<div class="mvt-langwrapper-5 lang-container">
		<span class="single-circle mvt-lang-circle">POKRET5</span>
	</div>
	<div class="mvt-langwrapper-4 lang-container">
		<span class="single-circle mvt-lang-circle">POKRET4</span>
	</div>
	<div class="mvt-langwrapper-3 lang-container">
		<span class="single-circle mvt-lang-circle">POKRET3</span>
	</div>
	<div class="mvt-langwrapper-2 lang-container">
		<span class="single-circle mvt-lang-circle">POKRET2</span>
	</div>
	<div class="mvt-langwrapper-1 lang-container">
		<span class="single-circle mvt-lang-circle">POKRET1</span>
	</div>
	<div class="mvt-langwrapper-0 lang-container">
		<span class="single-circle mvt-lang-circle">POKRET</span>
	</div>
</div>
<span class="v-line"></span>
<div class="right-hemisphere hemisphere">
	<img alt="Igra" th:src="@{/resources/img/Logo-GAME.png}" id="game-icon" class="intro-icon">
	<div class="game-langwrapper-7 game-lang-container">
		<span class="single-circle game-lang-circle">IGRA7</span>
	</div>
	<div class="game-langwrapper-6 game-lang-container">
		<span class="single-circle game-lang-circle">IGRA6</span>
	</div>
	<div class="game-langwrapper-5 game-lang-container">
		<span class="single-circle game-lang-circle">IGRA5</span>
	</div>
	<div class="game-langwrapper-4 game-lang-container">
		<span class="single-circle game-lang-circle">IGRA4</span>
	</div>
	<div class="game-langwrapper-3 game-lang-container">
		<span class="single-circle game-lang-circle">IGRA3</span>
	</div>
	<div class="game-langwrapper-2 game-lang-container">
		<span class="single-circle game-lang-circle">IGRA2</span>
	</div>
	<div class="game-langwrapper-1 game-lang-container">
		<span class="single-circle game-lang-circle">IGRA1</span>
	</div>
	<div class="game-langwrapper-0 game-lang-container">
		<span class="single-circle game-lang-circle">IGRA</span>
	</div>
</div>

<ul id="circle-menu">
	<li><span class="single-circle circle-menu-item">MANIFEST</span></li>
	<li><span class="single-circle circle-menu-item">RADOVI</span></li>
	<li><span class="single-circle circle-menu-item">AUTORI</span></li>
	<li><span class="single-circle circle-menu-item">IZDANJE</span></li>
	<li><span class="single-circle circle-menu-item">KONTAKT</span></li>
</ul>

<ul class="bgd-list"></ul>
<span class="test-char">a</span>
<span class="test-char">M</span>
<span class="test-char">m</span>
<span class="test-char">i</span>
<span class="test-char">-</span>
<span class="test-char">O</span>
<span class="test-char">.</span>
<span class="test-char">,</span>
<span class="test-char">&ensp;</span>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/intro.js}"></script>
</body>
</html>