<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sobakaisti</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/intro.style.css}">
</head>
<body>
<!-- Leva hemisfera uvodne strane -->
<div class="left-hemisphere hemisphere">
	<img alt="Pokret" th:src="@{/resources/img/icons/sobakaisti_dog.svg}" id="movement-icon" class="intro-icon">
	<div class="mvt-langwrapper-7 lang-container">
		<span class="single-circle mvt-lang-circle">
			<a th:href="@{/es/movement}" title="Movimiento" alt="Movimiento">Movimiento</a>
		</span>
	</div>
	<div class="mvt-langwrapper-6 lang-container">
		<span class="single-circle mvt-lang-circle"><a th:href="@{/fr/movement}" title="Mouvement">Mouvement</a></span>
	</div>
	<div class="mvt-langwrapper-5 lang-container">
		<span class="single-circle mvt-lang-circle"><a th:href="@{/ch/movement}" title="Movement">運動</a></span>
	</div>
	<div class="mvt-langwrapper-4 lang-container">
		<span class="single-circle mvt-lang-circle"><a th:href="@{/ru/movement}" title="Движение">Движение</a></span>
	</div>
	<div class="mvt-langwrapper-3 lang-container">
		<span class="single-circle mvt-lang-circle"><a th:href="@{/de/movement}" title="Bewegung">Bewegung</a></span>
	</div>
	<div class="mvt-langwrapper-2 lang-container">
		<span class="single-circle mvt-lang-circle"><a th:href="@{/it/movement}" title="Movimento">Movimento</a></span>
	</div>
	<div class="mvt-langwrapper-1 lang-container">
		<span class="single-circle mvt-lang-circle"><a th:href="@{/en/movement}" title="Movement">MOVEMENT</a></span>
	</div>
	<div class="mvt-langwrapper-0 lang-container">
		<span class="single-circle mvt-lang-circle"><a th:href="@{/movement}" title="Pokret">POKRET</a></span>
	</div>
</div>
<span class="v-line"></span>

<!-- Desna hemisfera uvodne stane -->
<div class="right-hemisphere hemisphere">
	<img alt="Igra" th:src="@{/resources/img/Logo-GAME.png}" id="game-icon" class="intro-icon">
	<div class="game-langwrapper-7 game-lang-container">
		<span class="single-circle game-lang-circle">Juego</span>
	</div>
	<div class="game-langwrapper-6 game-lang-container">
		<span class="single-circle game-lang-circle">Jeu</span>
	</div>
	<div class="game-langwrapper-5 game-lang-container">
		<span class="single-circle game-lang-circle">遊戲</span>
	</div>
	<div class="game-langwrapper-4 game-lang-container">
		<span class="single-circle game-lang-circle">Игра</span>
	</div>
	<div class="game-langwrapper-3 game-lang-container">
		<span class="single-circle game-lang-circle">Spiel</span>
	</div>
	<div class="game-langwrapper-2 game-lang-container">
		<span class="single-circle game-lang-circle">Gioco</span>
	</div>
	<div class="game-langwrapper-1 game-lang-container">
		<span class="single-circle game-lang-circle">Game</span>
	</div>
	<div class="game-langwrapper-0 game-lang-container">
		<span class="single-circle game-lang-circle">IGRA</span>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/intro.js}"></script>
</body>
</html>