<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/mvt_head :: mvt_head(~{::title})">
	<title>Login</title>
</head>
<body>
<!-- /uploads/images/sunset.jpg -->
	<section class="bgd-cover" th:style="'background:url(' + @{/uploads/images/sunset.jpg} + ') no-repeat center center fixed;'">	
	
	<article class="login-container"> 	
	    <div style="padding: 20px 0 18px; text-align: center;">
	      <img th:src="@{/resources/img/icons/sobakaisti_dog.svg}" height="48">      <br />
	      <span>Sign in to admin</span>
	    </div>  
	  <!-- Menu -->
	    <ul class="login-options-list">
	      <li class="login-option-active"><a href="#">Login</a></li>
	      <li>Signup</li>
	    </ul>
	  <!-- MAIN -->
	  <div class="input-container">
	  	<!-- Commit result -->
	  	<th:block th:if="${commitResult != null}">
		<div class="commit-response-holder full-width" id="commit-result"
		     th:insert="~{commons/fragments :: commitResultFragment (commited=${#bools.isTrue(commitResult.commited)}, message=${commitResult.commitMessage})}">
		</div>
		</th:block>
	  	<form th:action="@{/login}" method="post">
				<div class="input-holder">
					<label for="username">Name</label> <input type="text"
						name="username" placeholder="Enter your username">
				</div>
				<div class="input-holder">
					<label for="password">Password</label> <input type="password"
						name="password" placeholder="Enter your e-mail">
				</div>
				<div class="input-holder full-input-holder">    
	      <button type="submit">Login </button>  
	      </div>
	       </form>
	  </div>	 
	</article>
</section>	
</body>
</html>