<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/mvt_head :: mvt_head(~{::title})">
	<title>Login</title>
</head>
<body>
<!-- /uploads/images/sunset.jpg -->
	<section class="bgd-cover" th:style="'background:url(' + @{/uploads/images/sunset.jpg} + ') no-repeat center center fixed;'">	
	
	<article class="login-container"> 	
	    <div style="padding: 22px 0 8px; text-align: center;">
	      <img th:src="@{/resources/img/icons/sobakaisti_dog.svg}" height="38"> 
	      <h3 style="font-weight:300; color:#333;" th:text="#{heading.signin.admmin}">Prijavi se</h3>
	    </div>  
	  <!-- Menu -->
	    <ul class="login-options-list">
	      <li class="login-options login-option-active"><a href="#" th:text="#{button.label.signin}">Login</a></li>
	      <li class="login-option"><a href="#" th:text="#{button.label.signup}">Sign up</a></li>
	    </ul>
	  <!-- MAIN -->
	  <div class="input-container">
	  	<!-- Commit message -->
		<div th:if="${commitResult != null}" class="commit-response-holder full-width" id="commit-result">
		     	<th:block th:insert="~{commons/fragments :: commitResultFragment (commited=${#bools.isTrue(commitResult.commited)}, message=${commitResult.commitMessage})}">
			</th:block>
		</div>
<!-- 		<p th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" ></p> -->
			<th:block th:insert="~{commons/fragments :: ${#bools.isTrue(ENABLE_INIT_ADMIN_SINGUP)} ? 'userSignupFragment' : 'userSigninFragment'}">
			</th:block>
		</div>	 
	</article>
</section>	
</body>
</html>
