<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/mvt_head :: mvt_head(~{::title})">
	<title>Manifest | Sobakaisti</title>
</head>
<body>
<header th:replace="~{commons/mvt_header :: mvt_header}">
</header>

	<div class="article-container">
		<div class="article-content" th:utext="${article.content}">
		
		</div>
		
		<!-- Authors signatures container -->
		<div class="authors-container" th:if="${authorsForSignatures != null}">
		<h3 th:text="#{heading.members}">Members of Sobakaisti</h3>
			<div th:each="author,itemStat : ${authorsForSignatures}" class="author-signature-wrapper">
				<a th:href="@{/}" class="author-signature-bttn">
					<img th:src="@{/resources/img/sbk_mvt_logo.png}" class="author-signature"
						th:alt="${author.firstName}" th:title="${author.firstName + ' ' + author.lastName}">
					<span class="author-fullname" th:text="${author.firstName + ' ' + author.lastName}"></span>
				</a>
			</div>		
		</div>
	</div>

<footer th:replace="~{commons/mvt_footer :: mvt_footer}">
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/movement.jq.js}"></script>
</body>
</html>