<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/mvt_head :: mvt_head(~{::title})">
	<title>Manifest | Sobakaisti</title>
</head>
<body>
<header th:replace="~{commons/mvt_header :: mvt_header}">
</header>

	<div class="article-container">
		<div class="article-content" th:utext="${article.content}">
		
		</div>
	</div>

<footer th:replace="~{commons/mvt_footer :: mvt_footer}">
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/movement.jq.js}"></script>
</body>
</html>