<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- th:replace="commons/dash_head :: dash_head(~{::title},~{::link})" -->
<head th:replace="commons/intro_head :: intro_head(~{::title})">
	<title>Pokret | Sobakaisti</title>
</head>
<body>
<span class="test-char">m</span>

<div class="radial-loading">
    <div class="circle left rotate"><span></span></div>
    <div class="circle right rotate"><span></span></div>
</div>

<!-- <span class="single-circle mvt-init-circle" th:text="#{nav.item.movement}">pokret</span> -->
<ul id="circle-menu">
	<li><span class="single-circle circle-menu-item">
		<a th:href="@{/manifesto}" th:text="#{nav.item.manifesto}"></a>
	</span></li>
	<li><span class="single-circle circle-menu-item">
		<a th:href="@{/arts}" th:text="#{nav.item.arts}">RADOVI</a>
	</span></li>
	<li><span class="single-circle circle-menu-item" th:text="#{nav.item.authors}">AUTORI</span></li>
	<li><span class="single-circle circle-menu-item" th:text="#{nav.item.published}">IZDANJE</span></li>
	<li><span class="single-circle circle-menu-item" th:text="#{nav.item.shop}">DUĆAN</span></li>
	<li><span class="single-circle circle-menu-item" th:text="#{nav.item.contact}">KONTAKT</span></li>
</ul>
<ul class="bgd-list"></ul>
<footer class="intro-footer">
	<span><img th:src="@{/resources/img/Logo-SOBAKA.png}" title="Sobakaisti" width="16" height="16"/> Sobakaisti</span>
	<span>&copy;</span>
	<span>2017</span>	
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/mvtintro.jquery.js}"></script>
</body>
</html>