<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/intro_head :: intro_head(~{::title})">
	<title>Radovi</title>
</head>
<body>

	<div class="radial-menu-container">
		<div class="circle-wrapper">
			<div class="circle">RADOVI</div>
			<a href="" class="radial-menu-item">book</a>
			<a href="" class="radial-menu-item">brash</a>
			<a href="" class="radial-menu-item">photo</a>
			<a href="" class="radial-menu-item">music</a>
			<a href="" class="radial-menu-item">movie</a>
		</div>
		
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/mvtintro.jquery.js}"></script>
</body>
</html>