<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- th:replace="commons/dash_head :: dash_head(~{::title},~{::link})" -->
<head th:replace="commons/intro_head :: intro_head(~{::title})">
	<title>Pokret | Sobakaisti</title>
</head>
<body>
<span class="test-char">m</span>
	<!-- Back to Movement icon -->
	<span class="intro-shortcut-container">
		<a th:href="@{/}" th:title="#{hover.title.backToIntro}" class="intro-shortcut-link">
			<img th:alt="#{hover.title.backToIntro}" th:src="@{/resources/img/icons/dog_house.svg}">
		</a>
	</span>
	<!-- Circle loading -->
	<div id="loading-container">
	    <div id="halfclip">
	        <div class="halfcircle" id="clipped">
	        </div>
	    </div>
	    <div class="halfcircle" id="fixed">
	    </div>
	</div>
	
	<span class="circle mvt-init-circle" th:text="#{nav.item.movement}">pokret</span>

<!-- <span class="single-circle mvt-init-circle" th:text="#{nav.item.movement}">pokret</span> -->
<ul id="circle-menu">
	<!-- Manifesto menu item -->
	<li>
		<a th:href="@{/manifesto}" th:title="#{nav.item.manifesto}" th:alt="#{nav.item.manifesto}" class="circle-menu-link">
			<span class="circle circle-menu-item" th:text="#{nav.item.manifesto}">Manifest</span>
		</a>		
	</li>
	<!-- Arts menu item -->
	<li>
		<a th:href="@{/arts}" th:title="#{nav.item.arts}" th:alt="#{nav.item.arts}" class="circle-menu-link">
			<span class="circle circle-menu-item" th:text="#{nav.item.arts}">RADOVI</span>
		</a>		
	</li>
	<!-- Authors menu item -->
	<li>
		<a th:href="@{/authors}" th:title="#{nav.item.authors}" th:alt="#{nav.item.authors}" class="circle-menu-link">
			<span class="circle circle-menu-item" th:text="#{nav.item.authors}">AUTORI</span>
		</a>		
	</li>
	<!-- Publication menu item -->
	<li>
		<a th:href="@{/publications}" th:title="#{nav.item.publications}" th:alt="#{nav.item.publications}" class="circle-menu-link">
			<span class="circle circle-menu-item" th:text="#{nav.item.publications}">IZDANJA</span>
		</a>		
	</li>
	<!-- Shop menu item -->
	<li>
		<a th:href="@{/shop}" th:title="#{nav.item.shop}" th:alt="#{nav.item.shop}" class="circle-menu-link">
			<span class="circle circle-menu-item" th:text="#{nav.item.shop}">SHOP</span>
		</a>	
	</li>
	<!-- Contact menu item -->
	<li>
		<a th:href="@{/contact}" th:title="#{nav.item.contact}" th:alt="#{nav.item.contact}" class="circle-menu-link">
			<span class="circle circle-menu-item" th:text="#{nav.item.contact}">KONTAKT</span>
		</a>
	</li>
</ul>
<ul class="bgd-list"></ul>
<footer class="intro-footer">
	<span><img th:src="@{/resources/img/icons/sobakaisti_dog.svg}" title="Sobakaisti" width="16" height="16"/> Sobakaisti</span>
	<span>&copy;</span>
	<span>2017</span>	
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/mvtintro.jquery.js}"></script>
</body>
</html>