<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<property resource="variables.properties" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{dd MMM yyyy HH:mm:ss.SSS} [%-5level] %logger{0}.%M: %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="SAVE-TO-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.file.path}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{dd MMM yyyy HH:mm:ss.SSS} [%-5level] %logger{0}.%M: %msg%n</Pattern>
		</encoder>

		<!-- Comment out rolling policies to test how the remaining one works -->

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>
				${log.dir.path}/archived/sobakaisti.%d{MM-dd-yyyy}.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
	</appender>


	<logger name="org.sobakaisti.mvt" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT"/>
    	<appender-ref ref="SAVE-TO-FILE"/>
	</root>
	
</configuration>
