<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>

	<th:block th:fragment="artsArticlePreviews" th:unless="${#lists.isEmpty(initArticles)}" >
	 	<li class="post-prev-item" th:each="article,itemStat : ${initArticles}">
			<article class="fadein">
				<header>
					<a class="post-prev-img"></a>
					<a th:href="@{/arts/{category}/{slug}(category=${article.categories[0].slug}, slug=${article.slug})}" 
						class="post-prev-title" th:text="${article.title}" th:alt="${article.title}" th:title="${article.title}"></a>
				</header>
				<div th:if="${article.content != null}" th:utext="${#strings.abbreviate(article.content, article.featuredImage != null ? 145 : 290)}" class="post-prev-content"></div>
				<footer class="post-prev-footer" th:with="author=${article.author}">
					<div class="post-prev-avatar">
						<span class="circle circle-small" 
							th:text="${#strings.substring(author.firstName,0,1)}+'.'+${#strings.substring(author.lastName,0,1)}+'.'">SBK</span>
					</div>
					<div class="post-prev-author-details">
						<address class="post-prev-author" th:title="${author.firstName + ' ' + author.lastName}">
							<a th:href="@{/arts/{art}/by/{author}(art=${art}, author=${author.slug})}" 
								th:text="${author.firstName + ' ' + author.lastName}" th:alt="${author.firstName + ' ' + author.lastName}">Sobakaisti</a>
						</address>
						<time class="post-prev-date" th:text="${#dates.format(article.postDate, 'dd. MMM yyyy. HH:mm')}"></time>
					</div>
					<div class="post-prev-meta">
						<span class="post-prev-comment-count">999</span>
					</div>
				</footer>
			</article>
		</li>
	  </th:block>
</html>