<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>

<!-- Header for Admin panel -->
<header th:fragment="dash_header" class="dash-topbar">
	<div class="response-message"></div>
</header>

<div th:fragment="dash_breadcrumbs(li)" class="dash-breadcrumbs">
	<ul class="breadcrumb">
		<li><a th:href="@{/sbk-admin}">Početak</a></li>
		<li th:replace="${li}"></li>
	</ul>
	
</div>

	<th:block th:fragment="languageNavFragment(post, translationCode)">
		<nav class="tabs-nav-container">
			<ul class="tabs-nav-list">
				<li class="tabs-nav-item">
					<a href="#" th:class="__${#strings.defaultString(defaultLang,'rs')}__-nav-item" 
					   th:classappend="${#strings.isEmpty(translationCode) ? 'active-tab':''}" 
					   th:text="${#strings.defaultString(defaultLang,'rs')}"></a>
				</li>
				<th:block th:if="${post.id != 0 and not #arrays.isEmpty(nonDefaultLangs)}">					
					<li th:each="code : ${nonDefaultLangs}" class="tabs-nav-item">
						<a href="#" th:class="__${code}__-nav-item"
						   th:appendclass="${#strings.equals(translationCode, code) ? 'active-tab':''}" th:text="${code}">XX</a>
					</li>					
				</th:block>
			</ul>
		</nav>
	</th:block>

</html>
