<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>
<footer th:fragment="dash_footer" class="dash-footer">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/resources/js/dashboard.jquery.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.js}"></script>
	
</footer>
</html>