<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>

<!-- Header for Admin panel -->
<header th:fragment="dash_header" class="dash-topbar">
	<div class="response-message"></div>
</header>

<div th:fragment="dash_breadcrumbs(li)" class="dash-breadcrumbs">
	<ul class="breadcrumb">
		<li><a th:href="@{/sbk-admin}">Početak</a></li>
		<li th:replace="${li}"></li>
	</ul>
	
</div>

	<th:block th:fragment="languageNavFragment(post, translationCode)">
		<nav class="lang-nav-container">
			<ul>
				<li th:appendclass="${#strings.equals(translationCode, 'rs') ? '':''}">Srpski</li>
				<th:block th:if="${post != null and not #strings.isEmpty(translationCode)}">
					<li>Engleski</li>
					<li>Spanski</li>
				</th:block>
			</ul>
		</nav>

	</th:block>

</html>