<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>
<footer th:fragment="dash_footer" class="dash-footer">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
	<script type="text/javascript" th:src="@{/resources/js/dashboard.jquery.js}"></script>
</footer>
</html>