<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>

<section th:fragment="dash_sidebar" class="dash-sidebar">

	<ul class="side-nav">
		<li><a th:href="@{/sbk-admin/}">
			<span></span><span th:text="#{nav.item.dahboard}">Dashboard</span><span></span>
		</a></li>
		<li><a href="">
			<span></span><span th:text="#{nav.item.articles}">Članci</span><span></span>
		</a></li>
		<li id="nav-sobakaisti"><a th:href="@{/sbk-admin/sobakaisti}">
			<span></span><span th:text="#{nav.item.sobakaisti}">Sobakaisti</span><span></span>
		</a></li>
	</ul>
	
</section>

</html>