<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>


	<!-- dashboard authors -->
	<th:block th:fragment="author" th:unless="${author != null}" >
		<article  th:with="author=${author}" class="author-box" th:id="'item-'+${author.id}">
		<div class="author-settings" th:with="id=${author.id}">
			<span class="dropdown-icon">&#xe689;</span>
			<ul class="dropdown-menu">
				<li class="dropdown-item"><a th:href="@{/sbk-admin/sobakaisti/edit/{id}(id=${id})}" class="edit-item item-link" th:alt="${author.id}" th:text="#{menu.item.edit}">Edit</a></li>
				<li class="dropdown-item"><a th:href="@{/sbk-admin/sobakaisti/delete/{id}(id=${id})}" class="delete-item item-link" th:alt="${author.id}" th:text="#{menu.item.delete}">Delete</a></li>
			</ul>
		</div>
			<div class="author-cover"></div>
			<div class="author-avatar"></div>
			<div class="author-content">
				<div class="author-basic-info author-name"><span th:text="${author.firstName}"></span> 
				<span th:text="${author.lastName}"></span></div>
				<div class="author-basic-info author-profession" th:text="${author.profession}">~</div>
			</div>
			<div class="author-meta-info">
				<span th:text="${author.birthplace}" class="icon birthplace-icon"></span>
				<span th:text="${#dates.format(author.dob, 'dd.MM.yyyy.')}" class="icon dob-icon"></span>
				<span class="icon website-icon"><a th:href="@{'http://'+${author.website}}" th:text="${author.website}" target="_blank"></a> </span>
				<span th:text="${author.email}" class="icon mail-icon"></span>
			</div>
		</article>
	</th:block>
	
	
	<!-- Intro backgrount text animated -->
	<th:block th:fragment="introBackground" >
	
		<li th:each="line, item : ${backgroundLines}" th:class="${item.odd}? 'ltr' : 'rtl'" th:text="${line}"></li>
	
	</th:block>
	
	
	<!-- ------------------------- 
		Media upload fragment 
	--------------------------- -->
	<th:block th:fragment="mediaUploadFragment">
		<form th:action="@{/sbk-admin/media/upload}" id="media-upload-form">
			<!-- Input file button -->
			<div class="media-upload-container">
			
				<h4>Odaberite datoteku sa vašeg računara</h4>
				
				<div class="input-file-container">  
				    <input class="input-file" id="my-file" type="file" name="media">
				    <label tabindex="0" for="my-file" class="input-file-trigger bttn bttn-default">
				    	<img alt="" th:src="@{/resources/img/icons/svg/cloud-upload.svg}" height="16">Odaberi datoteku...
				    </label>
				</div>
					
				<!-- validation error message -->
				<div class="validation-error"></div>
				
				<span>Najveća dozvoljena veličina datoteke za otpremanje: 30 MB.</span>
			</div>
		</form>
	</th:block>
	
	
	<!-- Intro backgrount text animated -->
	<th:block th:fragment="mediaLibraryFragment">
		<div>
		
		</div>
	</th:block>
	
</html>