<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>


	<!-- dashboard authors -->
	<th:block th:fragment="author" th:unless="${author != null}" >
		<article  th:with="author=${author}" class="author-box" th:id="'item-'+${author.id}">
		<div class="author-settings" th:with="id=${author.id}">
			<span class="dropdown-icon">&#xe689;</span>
			<ul class="dropdown-menu">
				<li class="dropdown-item"><a th:href="@{/sbk-admin/sobakaisti/edit/{id}(id=${id})}" class="edit-item item-link" th:alt="${author.id}" th:text="#{menu.item.edit}">Edit</a></li>
				<li class="dropdown-item"><a th:href="@{/sbk-admin/sobakaisti/delete/{id}(id=${id})}" class="delete-item item-link" th:alt="${author.id}" th:text="#{menu.item.delete}">Delete</a></li>
			</ul>
		</div>
			<div class="author-cover"></div>
			<div class="author-avatar"></div>
			<div class="author-content">
				<div class="author-basic-info author-name"><span th:text="${author.firstName}"></span> 
				<span th:text="${author.lastName}"></span></div>
				<div class="author-basic-info author-profession" th:text="${author.profession}">~</div>
			</div>
			<div class="author-meta-info">
				<span th:text="${author.birthplace}" class="icon birthplace-icon"></span>
				<span th:text="${#dates.format(author.dob, 'dd.MM.yyyy.')}" class="icon dob-icon"></span>
				<span class="icon website-icon"><a th:href="@{'http://'+${author.website}}" th:text="${author.website}" target="_blank"></a> </span>
				<span th:text="${author.email}" class="icon mail-icon"></span>
			</div>
		</article>
	</th:block>
	
	
	<!-- Intro backgrount text animated -->
	<th:block th:fragment="introBackground" >
	
		<li th:each="line, item : ${backgroundLines}" th:class="${item.odd}? 'ltr' : 'rtl'" th:text="${line}"></li>
	
	</th:block>
	
	
	<!-- ------------------------- 
		Media upload fragment 
	--------------------------- -->
	<th:block th:fragment="mediaUploadFragment(type)">
		<!-- Input file button -->
		<div class="media-upload-container" th:if="${type != null}">
			<form th:action="@{/sbk-admin/media/upload/{type}/(type=${type})}" id="media-upload-form">		
				<h4 th:text="#{media.uploads.select.description}">Odaberite datoteku sa vaseg racunara</h4>
				<div class="input-file-container">  
				    <input class="input-file" id="my-file" type="file" name="media">
				    <label tabindex="0" for="my-file" class="input-file-trigger bttn bttn-default">
				    	<img alt="" th:src="@{/resources/img/icons/svg/cloud-upload.svg}" height="16">Odaberi datoteku...
				    </label>
				</div>
				<span th:text="#{media.uploads.select.limit}">Najveca dozvoljena velicina datoteke za otpremanje: 30 MB.</span>				
			</form>
		</div>
		
		<!-- Right preview content of uploaded media -->
		<div class="media-edit-container">
			<form th:action="@{/sbk-admin/media/update}" id="media-edit-form" method="PUT">
				<div class="media-upload-preview"></div>					
			</form>
		</div>	
	</th:block>
	
	
	<!-- Media Repository Fragment -->
	<th:block th:fragment="mediaRepoFragment(type)">
		<div class="media-library-container" th:if="${not #lists.isEmpty(medias)}">
			<label class="media-item" th:each="media : ${medias}">
				<input type="checkbox" class="media-item-checkbox" th:value="${media.id}">
				<span class="media-item-checkmark"></span>
				<img th:src="@{/uploads/images/{filename}(filename=${media.fileName})}" 
				     th:title="${media.title}" class="media-item-img">
				<!-- link -->
				<a th:href="@{/sbk-admin/media/selected/{type}/{id}(type=${type}, id=${media.id})}"
					class="media-item-link"></a>  
			</label>
		</div>	
	</th:block>
	
	
	<th:block th:fragment="mediaUploadedPreview" th:with="media=${media}">
		<!-- media upload result message -->
		<p th:if="${media.uploadResultMessage != null}" class="response-message"
			th:classappend="${media.posted} ? affirmative-message : negative-message"
			th:text="${media.uploadResultMessage}"></p>
			
		<!-- Uploaded media details -->
		<div class="media-preview-table" th:if="${media.posted}" >
			<!-- media preview header -->
			<div class="media-preview-header">
				<div class="media-preview-image">
					<img alt="uploads" th:src="@{/uploads/images/{filename}(filename=${media.fileName})}" width="260">
				</div>				
				<div class="media-preview-details">
					<strong>Naziv datoteke: </strong><span th:text="${media.fileName}"></span><br>
					<strong>Tip datoteke: </strong><span th:text="${media.contentType}"></span><br>
					<strong>Otpremljeno: </strong><span th:text="${#dates.format(media.postDate, 'dd. MMM yyyy. HH:mm')}"></span><br>
					<strong>Velicina datoteke: </strong><span th:text="${media.size}"></span> KB
				</div>
			</div>
			<!-- Izmenjivi deo preview-a -->
			<div class="media-preview-editable">
				<input type="hidden" name="id" th:value="${media.id}">			
				<label>
					<span>Naslov</span>
					<input type="text" name="title" th:value="${media.title}" class="def-input">
				</label>								
				<label th:if="${authors != null}">
					<span>Autor</span>
					<select name="author" class="def-input">
						<option selected value="0" th:text="#{form.label.select.author}">Odaberi autora</option>
						<option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName}+' '+${author.lastName}">sobakaista</option>
					</select>
				</label>
				<label>
					<span>Opis</span>
					<textarea rows="3" name="descriprion" th:value="${media.descriprion}" class="def-input"></textarea>
				</label>
				
				<div class="media-preview-bttns">
					<!-- Remove media -->
					<a class="bttn bttn-sm" id="bttn-media-remove"
							th:src="@{/sbk-admin/media/remove/{id}(id=${media.id})}">
						<img alt="rm" th:src="@{/resources/img/icons/trash.svg}" height="14"> 
						<span th:text="#{button.label.remove.permanent}">Ukloni trajno</span>
					</a>
					<!-- Save edited media -->
					<a class="bttn bttn-default bttn-light" id="bttn-media-update"
							th:src="@{/sbk-admin/media/update/{id}(id=${media.id})}">
						<img alt="s" th:src="@{/resources/img/icons/svg/check.svg}" height="14">
						<span th:text="#{button.label.save.edited}">Sacuvaj izmene</span>
					</a>
				</div>
			</div>
		</div>
		<!-- link -->
		<input type="hidden" id="media-selected-link" th:if="${media.mediaType != null}"
			th:src="@{/sbk-admin/media/selected/{type}/{id}(type=${media.mediaType.value}, id=${media.id})}">
	</th:block>
	
	
	<!-- Intro backgrount text animated -->
	<th:block th:fragment="mediaLibraryFragment" >
		<div>
		
		</div>
	</th:block>
	
	<!-- 
	*	Preview uplodaed file on new pulication page	*
	 -->
	<th:block th:fragment="selectedMediaPreviewFragment" th:if="${type != null and media != null}">	
		<div th:if="${type} == 'publication'" th:class="${type}+'-prev-container'">
			<th:block th:switch="${true}">
				<img th:case="${#strings.startsWith(media.contentType,'image/')}" th:src="@{/uploads/images/{filename}(filename=${media.fileName})}" height="32">
				<img th:case="${#strings.startsWith(media.contentType,'application/pdf')}" th:src="@{/uploads/images/default/file-pdf.svg}" height="32">
				<img th:case="${true}" th:src="@{/uploads/images/default/file.svg}" height="32">
			</th:block>
			<span th:text="${media.title}"></span>
			<input type="hidden" name="publicationMediaId" th:value="${media.id}">
		</div>
		
		<div th:if="${type} == 'featured'" th:class="${type}+'-prev-container'">
			<img alt="uploads" th:src="@{/uploads/images/{filename}(filename=${media.fileName})}" width="180">
			<input type="hidden" name="featuredImageId" th:value="${media.id}">
		</div>		
	</th:block>
	
	
	<!-- 
	*	Media Selection box fragment	*
	 -->
	<th:block th:fragment="mediaSelectionFragment"> 
		<!-- media repo container -->
		<div class="media-repo-container" th:if="${type != null}">
			<header>
				<span class="media-repo-heading">Odaberite datoteku</span>
				<button type="button" class="bttn-close-simple" id="media-repo-close">
					<img alt="x" th:src="@{/resources/img/icons/svg/x.svg}" height="16">
				</button>
			</header>
			<!-- tabs -->
			<nav>
				<ul class="media-tabs">
					<li>
						<a th:href="@{/sbk-admin/media/library/upload/{type}(type=${type})}" class="media-tab media-tab-active" title="Upload file">
							<img alt="s" th:src="@{/resources/img/icons/svg/cloud-upload.svg}" height="13">
							<span>Podigni datoteku</span>
						</a>
					</li>
					<li>
						<a th:href="@{/sbk-admin/media/library/repo/{type}(type=${type})}" class="media-tab" title="Prikazi biblioteku medijskog sadrzaja">
							<img alt="s" th:src="@{/resources/img/icons/svg/inbox.svg}" height="13">
							<span>Repozitorija datoteka</span>
						</a>
					</li>
				</ul>
			</nav>
			<!-- Body -->
			<section class="media-repo-body" th:insert="~{commons/fragments :: mediaUploadFragment (type=${type})}">

			</section>
			<!-- footer -->
			<footer class="media-repo-footer">
				<!-- set media button -->
				<a class="bttn bttn-primary bttn-light bttn-a-disabled" id="bttn-media-select"
					th:href="@{/sbk-admin/media/selected/{type}/(type=${type})}">
					<img alt="s" th:src="@{/resources/img/icons/svg/pin.svg}" height="16">
					<span th:text="#{button.label.upload.set}">Postavi</span>
				</a>
			</footer>		
		</div>	
	</th:block>
	
	<!-- 
	 TAGS
	-->
	<th:block th:fragment="tagBoneFragment"> 
		<label class="tag-bone" th:if="${tag != null}">
			<span class="bone-left-end"></span>
			<span class="bone-middle" th:text="${tag.tag}">*</span>
			<span class="bone-right-end"></span>
			<input type="hidden" 
				th:name="|tags[${index}].id|" 
				th:value="${tag.getId()}">
			<a href="javascript:void(0)" class="bttn-close-hover"></a>
		</label>
	</th:block>
	<!-- Tags -->
	<th:block th:fragment="tagBonesFragment"> 
		<div>
		<label class="tag-bone" th:each="tag, stat : ${tags}">
			<span class="bone-left-end"></span>
			<span class="bone-middle" th:text="${tag.tag}"></span>
			<span class="bone-right-end"></span>
			<input type="hidden"
			 	th:name="|tags[${stat.index}].id|"
            			th:value="${tag.getId()}">
			<a href="javascript:void(0)" class="bttn-close-hover"></a>
		</label>
		</div>
	</th:block>
	
	
	<!-- Post Date Editor -->
	<th:block th:fragment="dateTimeEditorFragment">
		<form name="datetime-edit-form" action="javascript:void(0)" onsubmit="return false;">
		<!-- months -->
		<select id="post-month-field" class="date-time-field" th:src="@{/sbk-admin/datetime/update/date/}">
			<option th:each="month, item : ${months}" 
				th:value="${month.value}" th:text="${month.key}" th:selected="${date.get(date.MONTH) == month.value}">MM</option>				
		</select>
		<!-- date -->
		<select id="post-date-field" class="date-time-field">
			<option th:each="day : ${#numbers.sequence(1, date.getActualMaximum(date.DAY_OF_MONTH))}"
				th:value="${day}" th:text="${day}" th:selected="${date.get(date.DAY_OF_MONTH) == day}">dd</option>			
		</select>
		<!-- year -->
		<select id="post-year-fild" class="date-time-field">
			<option th:each="year : ${#numbers.sequence(2010, 2050)}"
				th:value="${year}" th:text="${year}" th:selected="${date.get(date.YEAR) == year}">yyyy<option>				
		</select>
		<span>:</span>
		<!-- Hour -->
		<select id="post-hour-field" class="date-time-field date-hour-field">
			<option th:each="hour, item : ${#numbers.sequence(0, 23)}" th:value="${hour}" 
					th:text="${#numbers.formatInteger(hour, 2)}" th:selected="${date.get(date.HOUR_OF_DAY) == hour}">HH</option>			
		</select>
		<!-- Minutes -->
		<input id="post-minutes-field" th:value="${#numbers.formatInteger(date.get(date.MINUTE), 2)}" class="date-time-field date-minute-field" size="2">
		<!-- Accept bttn -->
		<a href="javascript:void(0)" id="date-edit-accept" class="bttn-accpet">
			<img alt="s" th:src="@{/resources/img/icons/svg/verified.svg}" height="16">
		</a>
		</form>
	</th:block>
	
</html>
