<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="intro_head(title)">
	<meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title th:replace="${title}"></title>

  	<!-- Common styles and scripts -->
  	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/intro.style.css}">
  	
  	<!-- Fav icons -->
	<link rel="shortcut icon" th:href="@{/resources/img/icons/favicon.ico}" type="image/x-icon">
	<link rel="icon" sizes="16x16 32x32" th:href="@{/resources/img/icons/favicon.ico}" type="image/x-icon">
	<link rel="apple-touch-icon" th:href="@{/resources/img/icons/favicon-57.ico}">
	<link rel="apple-touch-icon" sizes="152x152" th:href="@{/resources/img/icons/favicon-152.ico}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/resources/img/icons/favicon-180.ico}">
	
	<!-- FB graph -->
	<meta th:attr="property=${'og:url'}" th:content="@{__${#request.getScheme() +'://'+ #request.getServerName() + #httpServletRequest.requestURI}__}" />
	<meta th:attr="property=${'og:type'}" content="website" />
	<meta th:attr="property=${'og:title'}" content="Sobakaisti | Pokret" />
	<meta th:attr="property=${'og:image'}" th:content="@{__${#request.getScheme() +'://'+ #request.getServerName() + #servletContext.contextPath}__/resources/img/icons/movement_logo.svg}" />
	<meta th:attr="property=${'og:description'}" content="Ми смо Собакаисти. Ми смо пси што бесно гризу за уметност, ми смо чувари богате ризнице светске културне традиције, ми смо водичи онима што не знају за овај пут." />
	  
	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62662644-1"></script>
    <script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-62662644-1');
    </script>
</head>
</html>