<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>

<footer th:fragment="mvt_footer" class="mvt-footer">
	<div class="footer-container center-main-width fx-box fx-wrap fx-justify-sbtw">
	
		<div class="footer-row">
			<!-- footer sobaka icon -->
			<div class="footer-row"><img th:src="@{/resources/img/icons/sobakaisti_dog.svg}" title="Sobakaisti" width="16" height="16"/></div>
			<!-- footer navigation -->
			<div class="footer-row">
				<ul class="footer-nav">
					<li><a th:href="@{/manifesto}" th:text="#{nav.item.manifesto}"></a></li>
					<li class="dotted-befor"><a th:href="@{/manifesto}" th:text="#{nav.item.arts}"></a></li>
					<li class="dotted-befor"><a th:href="@{/manifesto}" th:text="#{nav.item.authors}"></a></li>
					<li class="dotted-befor"><a th:href="@{/manifesto}" th:text="#{nav.item.published}"></a></li>
					<li class="dotted-befor"><a th:href="@{/manifesto}" th:text="#{nav.item.shop}"></a></li>
					<li class="dotted-befor"><a th:href="@{/manifesto}" th:text="#{nav.item.contact}"></a></li>
				</ul>
			</div>
			<!-- social media footer -->
			<div class="social-container">
				<span class="facebook-ico social-ico">
					<a th:href="@{https://www.facebook.com/sobakaisti/}" target="_blank" title="Facebook"></a>
				</span>
				<span class="twitter-ico social-ico">
					<a th:href="@{https://twitter.com/sobakaisti}" target="_blank" title="Twitter"></a>
				</span>
				<span class="youtube-ico social-ico"></span>
				<span class="tumblr-ico social-ico">
					<a th:href="@{http://sobakaisti.tumblr.com/}" target="_blank" title="Tumblr"></a>					
				</span>
			</div>
		</div>		
		<div class="footer-row">info@sobakaisti.org</div>
		<div><span>Copyright &copy;</span> <span>2017.</span></div>		
	</div>
</footer>


<!-- 
*	MAIN MVT FOOTER		*
 -->
<footer th:fragment="mvt_main_footer" class="mvt-main-footer">
	
	<div class="mvt-footer-container center-main-width fx-box fx-wrap fx-dir-row fx-justify-sbtw fx-selfalign-end">
		<!-- footer logo container -->
		<div class="mvt-footer-logo">
			<a th:href="@{/rs/movement}" th:title="#{mvt.title.full}">
				<img alt="Sobakaisti" th:src="@{/resources/img/icons/sobakaisti_full_logo_wh.svg}" height="32px">
			</a>
			<p class="mvt-footer-about"></p>
		</div>
		<!-- footer movement navigation -->
		<nav class="main-footer-nav">
			<h4 th:text="#{nav.item.movement}" th:title="#{nav.item.movement}">Pokret</h4>
			<ul class="footer-nav-list">
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.manifesto}"></a></li>
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.arts}"></a></li>
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.authors}"></a></li>
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.published}"></a></li>
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.shop}"></a></li>
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.contact}"></a></li>
			</ul>
		</nav>
		<!-- Footer Authors -->
		<nav class="main-footer-authors">
			<h4 th:text="#{nav.item.authors}" th:title="#{nav.item.authors}">Autori</h4>
			<ul class="footer-nav-list">
				
			</ul>
		</nav>
		
		<div class="main-footer-copyright">
			<div class="social-container">
				<span class="facebook-footer-ico social-footer-ico">
					<a th:href="@{https://www.facebook.com/sobakaisti/}" target="_blank" title="Facebook"></a>
				</span>
				<span class="twitter-footer-ico social-footer-ico">
					<a th:href="@{https://twitter.com/sobakaisti}" target="_blank" title="Twitter"></a>
				</span>
				<span class="youtube-footer-ico social-footer-ico"></span>
				<span class="tumblr-footer-ico social-footer-ico">
					<a th:href="@{http://sobakaisti.tumblr.com/}" target="_blank" title="Tumblr"></a>					
				</span>
			</div>
			<ul></ul>
			<p>site design / logo © 2017 Sobakaisti; <br> info: <a href="mailto:info@sobakaisti.org">info@sobakaisti.org</a>
				<br><a th:href="@{/movement/sitemap}" th:title="#{nav.item.sitemap}" th:text="#{nav.item.sitemap}">Mapa sajta</a>
			</p>
		</div>
	</div>
	
	<!-- scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/resources/js/movement.jq.js}"></script>
</footer>

</html>