<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>

<nav class="header-nav-container" th:fragment="navigation">
		<div class="header-nav-menu">
		
		<div class="header-nav-main">
			<div class="logo-wrapper logo-navigation">
				<a th:href="@{/rs/movement}"><img alt="Pokret" th:src="@{/resources/img/sobakaisti_logo.jpg}" height="26"></a>
			</div>
			<div class="social-container navigation-social">
				<span class="facebook-ico social-ico">
					<a th:href="@{https://www.facebook.com/sobakaisti/}" target="_blank" title="Facebook"></a>
				</span>
				<span class="twitter-ico social-ico">
					<a th:href="@{https://twitter.com/sobakaisti}" target="_blank" title="Twitter"></a>
				</span>
				<span class="youtube-ico social-ico"></span>
				<span class="tumblr-ico social-ico">
					<a th:href="@{http://sobakaisti.tumblr.com/}" target="_blank" title="Tumblr"></a>					
				</span>
			</div>
			<ul class="header-navigation">
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.manifesto}" th:title="#{nav.item.manifesto}"></a></li>
				<li><a th:href="@{/arts}" th:text="#{nav.item.arts}" th:title="#{nav.item.arts}"></a>
<!-- 					<ul> -->
<!-- 						<li><a th:href="@{/arts/literature}" th:text="#{nav.item.manifesto}" th:title="#{nav.item.manifesto}"></a></li> -->
<!-- 						<li><a th:href="@{/arts/literature}" th:text="#{nav.item.manifesto}" th:title="#{nav.item.manifesto}"></a></li> -->
<!-- 						<li><a th:href="@{/arts/literature}" th:text="#{nav.item.manifesto}" th:title="#{nav.item.manifesto}"></a></li> -->
<!-- 						<li><a th:href="@{/arts/literature}" th:text="#{nav.item.manifesto}" th:title="#{nav.item.manifesto}"></a></li> -->
<!-- 						<li><a th:href="@{/arts/literature}" th:text="#{nav.item.manifesto}" th:title="#{nav.item.manifesto}"></a></li> -->
<!-- 					</ul> -->
				</li>
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.authors}" th:title="#{nav.item.authors}"></a></li>
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.published}" th:title="#{nav.item.published}"></a></li>
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.shop}" th:title="#{nav.item.shop}"></a></li>
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.contact}" th:title="#{nav.item.contact}"></a></li>
			</ul>			
		</div>		
		
		<div class="header-nav-bttn">
			<ul class="header-nav">
				<li><a th:href="@{/manifesto}" th:text="#{nav.item.manifesto}"></a></li>
				<li class="dotted-befor"><a th:href="@{/arts}" th:text="#{nav.item.arts}" th:title="#{nav.item.arts}"></a></li>
				<li class="dotted-befor"><a th:href="@{/manifesto}" th:text="#{nav.item.authors}"></a></li>
				<li class="dotted-befor"><a th:href="@{/manifesto}" th:text="#{nav.item.published}"></a></li>
				<li class="dotted-befor"><a th:href="@{/manifesto}" th:text="#{nav.item.shop}"></a></li>
				<li class="dotted-befor"><a th:href="@{/manifesto}" th:text="#{nav.item.contact}"></a></li>
			</ul>
		</div>
		</div>
		<!-- top read indicator -->
		<progress value="0"></progress>
		<!-- onmouseover show abowe -->
		<div class="header-nav-mouseover"></div>

</nav>

</html>