<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/dash_head :: dash_head(~{::title})">
	<title>Publication</title>	
</head>
<body>
<!-- Top header of dashboard section -->
<header th:replace="~{commons/dash_header :: dash_header}"></header>

<section th:replace="~{commons/dash_sidebar :: dash_sidebar}">
</section>

<!-- 	<form th:action="@{/sbk-admin/submit}" name="new-post-form"  -->
<!-- 			 th:object="${post}" method="post" id="new-post-form"> -->
<!-- 	<div class="main-dash-content"> 		  -->
<!-- <!-- 			 enctype="multipart/form-data" --> -->
	
<!-- 		<input type="hidden" name="id" th:field="*{id}"> -->
		
<!-- 		<p> -->
<!-- 			Title: -->
<!-- 			<input type="text" name="title" th:field="*{title}"> -->
<!-- 		</p>	 -->
<!-- 		<p> -->
<!-- 			slug: -->
<!-- 			<input type="text" name="slug" th:field="*{slug}"> -->
<!-- 		</p> -->
		
<!-- 		<p> -->
<!-- 			Author: -->
<!-- 			<select name="author" class="bttn bttn-default bttn-select" th:field="*{author.id}"> -->
<!-- 				<option selected value="0" th:text="#{form.label.select.author}">Odaberi autora</option> -->
<!-- 				<option th:each="author : ${authors}" th:value="${author.id}"  -->
<!-- 					th:text="${author.firstName}+' '+${author.lastName}" th:selected="${article.author}">sobakaista</option> -->
<!-- 			</select> -->
			
<!-- 		</p> -->
		
<!-- 		<p> -->
<!-- 			<label th:each="category, item : ${categories}" class="checkboxes-label"> -->
<!-- <!-- 				<input type="text" th:field="*{categories[__${item.index}__]"/> --> -->
<!-- 				<input type="checkbox" th:field="*{categories[__${item.index}__]}" value="on"/>  -->
<!-- <!-- 				<input type="checkbox" name="categories" th:value="${category}" th:title="${category.name}" th:id="${'cat_'+category.slug}" --> -->
<!-- <!-- 					th:field="*{categories}"/>  --> -->
<!-- <!-- 					th:checked="${article.categories != null ? category.id == article.categories[0].id : false}"  --> -->
<!-- 				<span th:text="${category.name}"></span> -->
<!-- 			</label> -->
<!-- 		</p> -->
	
		
<!-- 		<p> -->
<!-- 			Content: -->
<!-- 			<input type="text" name="content" th:field="*{content}"> -->
<!-- 		</p>	 -->
		
<!-- 		<p> -->
<!-- 			<button type="submit">Post</button> -->
<!-- 		</p> -->
		
<!-- 	</div>		 -->
<!-- 	</form> -->
	
	

<!-- form -->
<form th:action="@{/sbk-admin/submit}" id="new-post-form" name="new-post-form" 
	th:object="${post}" method="post" >	
<!-- enctype="multipart/form-data"  -->
	
	<input type="hidden" name="id" th:field="*{id}">
		
	<div class="main-dash-content">
		<!-- Right panel -->
		<div class="right-container">
			<div class="small-panel">
			<div class="panel-header">
				<span class="panel-title">Objava</span>
			</div>
			<div class="panel-body">
				<div class="select-wrapper">
				Author selection
				<select name="author" class="bttn bttn-default bttn-select" th:field="*{author.id}">
					<option selected value="0" th:text="#{form.label.select.author}">Odaberi autora</option>
					<option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName}+' '+${author.lastName}">sobakaista</option>
				</select>
				validation error message
				<div class="validation-error"></div>
				</div>
				
			</div>
			<div class="panel-footer">
				<a href="javascript:;" id="save-draft-bttn" class="bttn bttn-sm bttn-default" th:alt="Draft">Nacrt</a>
<!-- 				<button type="button" id="submit-bttn" class="bttn bttn-sm bttn-primary float-right">Objavi</button> -->
				<button type="submit" class="bttn bttn-sm bttn-primary float-right">Objavi</button>
			</div>
		</div>
		
		<!-- Tags selection -->
		<div class="small-panel">
			<div class="panel-header">
				<span class="panel-title" th:text="#{label.tags}">Oznake</span>
			</div>
			<div class="panel-body">			
			<button class="bttn bttn-default bttn-select" type="button" th:text="#{label.tags}">Oznake</button>
				dropdown menu
				<div class="select-menu-modal" id="tags-modal">
					<div class="select-menu-header">
						<span class="select-menu-title">Pretraga oznaka</span> 
						<a href="javascript:;" class="bttn-close"><img alt="x" th:src="@{/resources/img/icons/cancel.svg}" width="10" height="10"/></a>
					</div>
					<div class="select-menu-filters">
						na osnovu tipa eventa nad ovim poljem dodaje se sufiks na url
						<input type="text" class="search-field" th:src="@{/sbk-admin/tags/}">
					</div>					
					<div class="search-result"></div>
				</div>
				<div class="selected-tags selected-result"></div>			
			</div>			
		</div>
		
		<div class="small-panel">
			<div class="panel-header">
				<span class="panel-title" th:text="#{label.image.featured}">Featured image</span>
			</div>
			<div class="panel-body">
				Input file button				
				<input type="file" name="featuredImg"  id="img-file" class="inputfile input-img" />
				<label for="img-file" class="upload-img-label file-upload-label">Odaberi sliku...</label>
				validation error message
				<div class="validation-error"></div>
				Featured IMG preview
				<div class="featured-img-prev" id="img-prev"></div>
			</div>
		</div>
		</div>	 end of right sidebar
		
		<!-- Left content -->
		<div class="left-container">
			<div class="form-tr">
				<input type="text" th:placeholder="#{title.attr.articleTitle}" name="title" title="Naslov" th:field="*{title}" 
					id="publication-title" class="title-input full-width" th:src="@{/publications/slug/new}">
				validation error message
				<div class="validation-error"></div>	
				link preview
				<div class="post-path-container">
					<span class="post-path path-label">Putanja na sekciji Izdanja: </span>
					<span class="post-path path-static">http://sobakaisti.org/bublications/</span>
					<span class="post-path path-slug">
						<input type="text" name="slug" th:field="*{slug}" class="path-slug-input" size="0" id="slug" readonly>
					</span>
				</div>
			</div>
			<!-- Input file button -->
<!-- 			<div class="form-tr"> -->
<!-- 				<input type="file" name="file" id="publication-file" class="inputfile" /> -->
<!-- 				<label for="publication-file" id="upload-label" class="file-upload-label">Odaberi dokument...</label> -->
<!-- 				validation error message -->
<!-- 				<div class="validation-error"></div> -->
<!-- 			</div> -->
			<!-- contet textarea	 -->
			<div class="article-input-wrapper form-tr">
				<textarea name="content" th:field="*{content}" id="article-content"></textarea>
			</div>
		</div>		
	</div>
	
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<!-- end of the form -->
</form>

<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.js}"></script>
<footer th:replace="~{commons/dash_footer :: dash_footer}"></footer>
</body>
</html>