<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/dash_head :: dash_head(~{::title})">
	<title>Publication</title>	
</head>
<body>
<!-- Top header of dashboard section -->
<header th:replace="~{commons/dash_header :: dash_header}"></header>

<section th:replace="~{commons/dash_sidebar :: dash_sidebar}">
</section>
<!-- form -->
<form th:action="@{/publications/upload}" 
      id="new-post-form" name="new-post-form" th:object="${publication}" method="post" onkeypress="return event.keyCode != 13;">	
	<div class="main-dash-content" th:with="publication=${publication}">
		<div th:if="${publication.commited != null}" 
		     th:insert="~{commons/fragments :: commitResultFragment (commited=${publication.commited.value}, message=${publication.commitMessage})}">
		</div>
		<!-- Post ID -->
		<input type="hidden" name="id" th:value="${publication?.id}">
		<!-- Right panel -->
		<div class="right-container">
			<div class="panel small-panel">
			<div class="panel-element panel-header">
				<span class="panel-title">Objava</span>
			</div>
			<div class="panel-element panel-body">
				<div class="select-wrapper">
				<!-- Authors -->
				<select th:field="*{author.id}" class="bttn bttn-default bttn-select" th:classappend="${#fields.hasErrors('title')} ? 'non-valid-field'" th:value="${publication?.author?.id}" >
					<option value="0" th:text="#{form.label.select.author}">Odaberi autora</option>
					<option th:each="author : ${authors}" th:value="${author.id}" 
							th:selected="${publication?.author?.id == author.id}" 
							th:text="${author.firstName}+' '+${author.lastName}">sobakaista</option>
				</select>
				<!-- validation error message -->
				<div class="validation-error" th:errors="*{author.id}"></div>
				</div>
				<!-- Post info details -->
				<div class="post-info-box">
					<label class="post-info-label">
					  <img th:src="@{/resources/img/icons/svg/info.svg}" height="14" title="Stanje posta">
					  <span>Stanje:</span>
					  <span th:text="${publication?.active != -1 ? 'Objavljen' : 'Nacrt'}">Objavljen</span>
					</label>
					<label class="post-info-label">
					  <img th:src="@{/resources/img/icons/svg/calendar.svg}" height="14" title="Datum objavljivanja">
					  <span>Dana:</span>
					  <span th:text="${publication?.postDate != null ? #calendars.format(publication.postDate, 'dd.MMM.yyyy. HH:mm') : 'Trenutno'}">Trenutno</span>
					 	<a href="javascript:void(0)" th:href="@{/sbk-admin/datetime/editor}" class="post-date-edit">
							<input type="hidden" name="postDate" id="post-date-hidden"
								   th:value="${#calendars.format((publication?.postDate != null ? publication.postDate : #calendars.createNow()), 'yyyy-MM-dd HH:mm:ss')}">
						</a>					  
					</label>
					<!-- Post Date Editor -->
					<div class="post-date-editor"></div>
				</div>
			</div>
			<div class="panel-element panel-footer">
				<!-- Select visability -->
				<div class="js-select-container">		
					<a href="javascript:void(0)" class="bttn-plain-select js-modal-select">
						<span th:if="${publication?.active == 1}"><img th:src="@{/resources/img/icons/svg/globe.svg}" height="14">Javno</span>
						<span th:if="${publication?.active == 0}"><img th:src="@{/resources/img/icons/svg/lock.svg}" height="14">Privatno</span>				
					</a>
					
					<div class="select-menu-modal-holder">
						<div class="select-menu-modal">
							<!-- select header -->
							<div class="select-menu-header">
							  <svg aria-label="Close" class="bttn-menu-close js-menu-bttn-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
							    <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
							  </svg>
							  <span class="select-menu-title">Vidljivost</span>
							</div>
							<!-- select body -->  
							<ul class="select-menu-list">
								<li class="select-menu-item">
									<input type="radio" name="active" value="1" id="input-public-scope" th:checked="${publication?.active == 1}" >
								    <label for="input-public-scope">
								    	<span><img th:src="@{/resources/img/icons/svg/globe.svg}" height="14">Javno</span>
								      	<span>Članak ce biti objavljen javno</span>
								    </label>
								</li>
							  	<li class="select-menu-item">
							  		<input type="radio" name="active" value="0" id="input-private-scope" th:checked="${publication?.active == 0}" >
						    		<label for="input-private-scope">
						      			<span><img th:src="@{/resources/img/icons/svg/lock.svg}" height="14">Privatno</span>
						      			<span>Članak dostupan samo autoru</span>   
						    		</label>
							  	</li>
							</ul>
						</div>
					</div>					
				</div>				
				<!-- SUBMIT -->
				<button type="submit" class="bttn bttn-sm bttn-primary float-right" th:text="${uploaded != null && uploaded.id != 0} ? 'Ažuriraj' : 'Objavi'">Objavi</button>
			</div>
		</div>
		
		<!-- Tags selection -->
		<div class="panel small-panel">
			<div class="panel-element panel-header">
				<span class="panel-title" th:text="#{label.tags}">Oznake</span>
			</div>
			<div class="panel-element panel-body">
				<div class="js-select-container full-width">		
					<button class="bttn bttn-default bttn-select js-modal-select" type="button" th:text="#{label.tags}">Oznake</button>
					<!-- dropdown menu -->
					<div class="select-menu-modal-holder">
						<div class="select-menu-modal" id="tags-modal">
							<!-- select header -->
							<div class="select-menu-header">
							  <svg aria-label="Close" class="bttn-menu-close js-menu-bttn-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
							    <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
							  </svg>
							  <span class="select-menu-title">Pretraga oznaka</span>
							</div>
							<div class="select-menu-text-filter">
								<!-- na osnovu tipa eventa nad ovim poljem dodaje se sufiks na url -->
								<input type="text" class="select-menu-search-field js-search-filed" placeholder="Oznaka" th:src="@{/sbk-admin/tags/}">
							</div>
											
							<div class="select-menu-search-result"></div>
						</div>
					</div>
				</div>	
				
				<div class="selected-tags selected-result">
					<th:block th:unless="${#lists.isEmpty(publication?.tags)}" th:include="~{commons/fragments :: tagBonesFragment}" 
						  th:with="tags=${publication.tags}">						  
					</th:block>
				</div>						
			</div>
			<div class="panel-element panel-footer"></div>
		</div>
		
		<div class="panel small-panel">
			<div class="panel-element panel-header">
				<span class="panel-title" th:text="#{label.image.featured}">Featured image</span>
			</div>
			<div class="panel-element panel-body">
				<!-- Input file button -->	
				<a th:href="@{/sbk-admin/media/select(type=featured)}" class="show-media-lib bttn bttn-default">
					<img alt="" th:src="@{/resources/img/icons/svg/file-media.svg}" height="16"> 
					<span th:text="#{button.label.upload.featuredImg}">Odaberi fotografiju</span>
				</a>				
				<!-- Featured IMG preview -->
				<div id="featured-prev-container">
					<th:block th:if="${publication?.featuredImage != null}">
						<img alt="Featured Image" th:src="@{/uploads/images/{filename}(filename=${publication.featuredImage.fileName})}" 
						     th:title="${publication.featuredImage.title}" width="180">
						<input type="hidden" name="featuredImageId" th:value="${publication.featuredImage.id}">
					</th:block>
				</div>
			</div>
			<div class="panel-element panel-footer"></div>
		</div>
		</div>	 <!-- end of right sidebar -->
		
		<!-- Left content -->
		<div class="left-container">
			<div class="form-tr">
				<input type="text" th:placeholder="#{title.attr.articleTitle}" name="title" title="Naslov" id="publication-title" 
					class="title-input full-width"  th:classappend="${#fields.hasErrors('title')} ? 'non-valid-field' : ''" 
					th:src="@{/publications/slug/new}" th:value="${publication.title}">
				<!-- validation error message -->
				<div class="validation-error" th:errors="*{title}"></div>	
				<!-- link preview -->
				<div class="post-path-container">
					<span class="post-path path-label">Putanja na sekciji Izdanja: </span>
					<span class="post-path path-static">http://sobakaisti.org/bublications/</span>
					<span class="post-path path-slug">
						<input type="text" name="slug" class="path-slug-input" size="0" id="slug" th:value="${publication.slug}" readonly>
					</span>
				</div>
			</div>
			<!-- Input file button -->
			<div class="form-tr">
				<!-- Input Featured Image button -->	
				<a th:href="@{/sbk-admin/media/select(type=publication)}" class="show-media-lib bttn bttn-default">
					<img alt="" th:src="@{/resources/img/icons/svg/cloud-upload.svg}" height="16"> 
					<span th:text="#{button.label.upload.publiction}">Podigni dokument...</span>
				</a>
				<!-- Uploaded publication preview -->
				<div id="publication-prev-container">
					<th:block th:if="${publication.media != null}">
						<img alt="uploads" th:src="@{/uploads/images/{filename}(filename=${publication.media.fileName})}" height="32">
						<span th:text="${publication.media.title}"></span>
						<input type="hidden" name="publicationMediaId" th:value="${publication.media.id}">
					</th:block>
				</div>
			</div>
			<!-- contet textarea -->	
			<div class="article-input-wrapper form-tr">
				<textarea name="content" id="article-content" th:field="*{content}"></textarea>
			</div>
		</div>		
	</div>
<!-- end of the form -->
</form>

<!-- 
	Modul za upload medija datoteka
 -->
<div class="overlay" id="media">
	<div class="media-select-modal">
	</div>
</div>

<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.js}"></script>
<footer th:replace="~{commons/dash_footer :: dash_footer}"></footer>
</body>
</html>
