<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/dash_head :: dash_head(~{::title})">
	<title>Publications | Sobakaisti</title>	
</head>
<body>
<!-- Top header of dashboard section -->
<header th:replace="~{commons/dash_header :: dash_header}"></header>

<section th:replace="~{commons/dash_sidebar :: dash_sidebar}">
</section>
<div class="dash-main-container">
	<div class="listing-container">
		<!-- Top tool bar -->
		<div class="listing-tools">
			<a th:href="@{/sbk-admin/publication}" class="bttn bttn-primary fright">New publication</a>
		</div>
	
		<!-- Listing header -->
		<div class="listing-header">			
			<div class="td">
				<!-- Broj aktivnih izdanja -->
				<a th:href="@{/sbk-admin/publications/status/active}" class="show-active-item" th:classappend="${isActive} ? selected-link : ''">
					<img alt="status" th:src="@{'/resources/img/icons/active-1.svg'}" width="14" height="14" class="article-status-icon">
					<span th:text="${activeCount}"></span>
					<span>aktivnih</span>
				</a>
				<!-- Broj neaktivnih izdanja -->
				<a th:href="@{/sbk-admin/publications/status/nonactive}" class="show-active-item" th:classappend="${!isActive} ? selected-link : ''">
					<img alt="status" th:src="@{'/resources/img/icons/active-0.svg'}" width="14" height="14" class="article-status-icon">
					<span th:text="${nonActiveCount}"></span>
					<span>neaktivnih</span>
				</a>
			</div>
			<!-- top table filter -->
			<div class="td filter-container">
				<div class="filter-bttn-container">
					<button type="button" class="bttn bttn-select-simple" th:text="#{nav.item.authors}">Autori</button>
					<!-- dropdown menu -->
					<div class="select-menu-modal">
						<div class="select-menu-header">
							<span class="select-menu-title">Filtriraj po autoru</span> 
							<a href="javascript:;" class="bttn-close"><img alt="x" th:src="@{/resources/img/icons/cancel.svg}" width="10" height="10"/></a>
						</div>
						<ul>
							<li th:each="author : ${authors}" class="menu-modal-item">
								<a th:href="@{/publications/by/{slug}(slug=${author.slug})}">
								<span class="circle circle-tiny" 
									th:text="${#strings.substring(author.firstName,0,1)}+${#strings.substring(author.lastName,0,1)}">Sobakaisti</span>
								<span th:text="${author.firstName +' '+ author.lastName}"></span>
								</a>
							</li>
						</ul>
					</div>	
				</div>
			</div>		
			<!-- top table filter -->
			<div class="listing-header-filter"></div>
		</div>
		
		<!-- listing body -->
		<ul class="listing-body">
			<li class="list-item" th:each="pbl : ${publications}" th:id="'item-'+${pbl.id}">
				<div class="item-status-td fleft td">
					<a th:href="@{/publications/change_status/{id}(id=${pbl.id})}" class="change-status-link" th:alt="${pbl.id}">
						<img alt="status" th:src="@{'/resources/img/icons/active-'+${pbl.active}+'.svg'}" width="16" height="16" class="article-status-icon">
					</a>
				</div>
				<div class="item-main-td fleft td">
					<a th:href="@{/publications/{slug}(slug=${pbl.slug})}" class="clickable-title" 
						th:text="${pbl.title}" th:title="${pbl.title}" th:alt="${pbl.title}"></a>
					
					
					<div class="item-main-subdiv td" th:with="author=${pbl.author}">
						<span th:text="#{label.publishedBy}">Objavljeno</span>
<!-- 						<span class="circle circle-tiny"  -->
<!-- 							th:text="${#strings.substring(author.firstName,0,1)}+${#strings.substring(author.lastName,0,1)}">Sobakaisti
							</span> -->
						<span>
							<a th:href="@{/publications/by/{slug}(slug=${author.slug})}" 
								th:text="${author.firstName + ' ' + author.lastName}" class="clickable-author">Sobakaisti</a>
						</span>
						<span th:text="#{label.onDay}">dana</span>
						<span th:text="${#dates.format(pbl.postDate, 'dd. MMM yyyy. HH:mm')}"></span>							
					</div>
				</div>
				<!-- tags -->
				<div class="td">
					<span th:each="tag, tagStat : ${pbl.tags}" class="label tag" th:unless="${tagStat.index} > 3" th:with="slug=${tag.slug}">
						<a th:href="@{/tag/{slug}(slug=${slug})}" class="" th:text="${tag.tag}"></a>
					</span>
				</div>
				<!-- tools -->
				<div class="item-tools-td td fright">
					<a th:href="@{/publications/edit/{id}(id=${pbl.id})}" class="edit-item item-tool"
						th:title="#{tool.label.edit}" th:alt="${pbl.id}">
<!-- 								<img alt="Pokret" th:src="@{/resources/img/icons/pencil.svg}" height="15"> -->
						</a>
					<a th:href="@{/publications/delete/{id}(id=${pbl.id})}" class="delete-item item-tool"
						th:title="#{tool.label.delete}" th:alt="${pbl.id}">
<!-- 								<img alt="Pokret" th:src="@{/resources/img/icons/trashcan.svg}" height="15"> -->
						</a>
				</div>
				<!-- comments -->
				<div class="item-comments-td td fright">
					<span th:text="${pbl.downloaded}" title="Komentara">Comments</span>
				</div>
				<!-- downloads counter -->
				<div class="item-downloads-td td fright">
					<span th:text="${pbl.downloaded}">Preuzeto</span>
				</div>
			</li>
		</ul>
	
		<!-- Listing footer -->
		<div class="listing-footer">
			<!-- pagination container -->
			<div class="pagination" th:if="${pagination != null && pagination.maxPages > 1}">
				<a th:href="@{/sbk-admin/articles/{page}(page=${pagination.currentPage - 1})}" class="prev-page-link page-link" 
					th:classappend="${pagination.currentPage > 1} ? '' : disabled-link">Prethodna</a>
					
				<a th:each="page : ${#numbers.sequence(1, pagination.maxPages)}" th:href="@{/sbk-admin/articles/{page}(page=${page})}" 
					th:text="${page}" class="page-link" th:classappend="${pagination.currentPage == page} ? selected-link : ''"></a>
					
				<a th:href="@{/sbk-admin/articles/{page}(page=${pagination.currentPage + 1})}" class="next-page-link page-link" 
					th:classappend="${pagination.currentPage == pagination.maxPages} ? disabled-link : ''">Sledeca</a>
			</div>
		</div>
	</div>
</div>
<footer th:replace="~{commons/dash_footer :: dash_footer}"></footer>
</body>
</html>