<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/dash_head :: dash_head(~{::title})">
	<title>Article | Sobakaisti</title>	
</head>
<body>
<!-- Top header of dashboard section -->
<header th:replace="~{commons/dash_header :: dash_header}"></header>

<section th:replace="~{commons/dash_sidebar :: dash_sidebar}">
</section>

<form th:action="@{/sbk-admin/article/submit}" id="new-post-form" name="new-post-form" 
	th:object="${article}" method="post" onkeypress="return event.keyCode != 13;">	
	<div class="main-dash-content" th:with="article=${article}">
		<div th:if="${article.commited != null}" class="commit-response-holder full-width" id="commit-result"
		     th:insert="~{commons/fragments :: commitResultFragment (commited=${#bools.isTrue(article.commited)}, message=${article.commitMessage})}">
		</div>
		<!-- Post ID -->
		<input type="hidden" name="id" th:value="${article?.id}">
		<!-- Right panel -->
		<div class="right-container">
			<div class="panel small-panel">
				<div class="panel-element panel-header">
					<span class="panel-title">Objava</span>
				</div>
				<div class="panel-element panel-body">
					<div class="select-wrapper">
					<!-- Authors -->
					<select th:field="*{author.id}" class="bttn bttn-default bttn-select" th:classappend="${#fields.hasErrors('title')} ? 'non-valid-field'" th:value="${article?.author?.id}" >
						<option value="0" th:text="#{form.label.select.author}">Odaberi autora</option>
						<option th:each="author : ${authors}" th:value="${author.id}" 
								th:selected="${article?.author?.id == author.id}" 
								th:text="${author.firstName}+' '+${author.lastName}">sobakaista</option>
					</select>
					<!-- validation error message -->
					<div class="validation-error" th:errors="*{author.id}"></div>
					</div>
				<!-- Post info details -->
				<div class="post-info-box">
					<label class="post-info-label">
						<img th:src="@{/resources/img/icons/svg/info.svg}" height="14" title="Stanje posta">
						<span>Stanje:</span>
						<span th:text="${article?.active != -1 ? 'Objavljen' : 'Nacrt'}">Objavljen</span>
					</label>
					<label class="post-info-label">
					  <img th:src="@{/resources/img/icons/svg/calendar.svg}" height="14" title="Datum objavljivanja">
					  <span>Dana:</span>
					  <span th:text="${article?.postDate != null ? #calendars.format(article.postDate, 'dd.MMM.yyyy. HH:mm') : 'Trenutno'}">Trenutno</span>
					 	<a href="javascript:void(0)" th:href="@{/sbk-admin/datetime/editor}" class="post-date-edit">
							<input type="hidden" name="postDate" id="post-date-hidden"
								   th:value="${#calendars.format((article?.postDate != null ? article.postDate : #calendars.createNow()), 'yyyy-MM-dd HH:mm:ss')}">
						</a>					  
					</label>
					<!-- Post Date Editor -->
					<div class="post-date-editor"></div>
				</div>
			</div>
			
			<div class="panel-element panel-footer">
				<!-- Select visability -->
				<div class="js-select-container">		
					<a href="javascript:void(0)" class="bttn-plain-select js-modal-select">
						<span th:if="${article?.active == 1}"><img th:src="@{/resources/img/icons/svg/globe.svg}" height="14">Javno</span>
						<span th:if="${article?.active == 0}"><img th:src="@{/resources/img/icons/svg/lock.svg}" height="14">Privatno</span>				
					</a>
					
					<div class="select-menu-modal-holder">
						<div class="select-menu-modal">
							<!-- select header -->
							<div class="select-menu-header">
							  <svg aria-label="Close" class="bttn-menu-close js-menu-bttn-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
							    <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
							  </svg>
							  <span class="select-menu-title">Vidljivost</span>
							</div>
							<!-- select body -->  
							<ul class="select-menu-list">
								<li class="select-menu-item">
									<input type="radio" name="active" value="1" id="input-public-scope" th:checked="${publication?.active == 1}" >
								    <label for="input-public-scope">
								    	<span><img th:src="@{/resources/img/icons/svg/globe.svg}" height="14">Javno</span>
								      	<span>Članak ce biti objavljen javno</span>
								    </label>
								</li>
							  	<li class="select-menu-item">
							  		<input type="radio" name="active" value="0" id="input-private-scope" th:checked="${publication?.active == 0}" >
						    		<label for="input-private-scope">
						      			<span><img th:src="@{/resources/img/icons/svg/lock.svg}" height="14">Privatno</span>
						      			<span>Članak dostupan samo autoru</span>   
						    		</label>
							  	</li>
							</ul>
						</div>
					</div>					
				</div>				
				<!-- SUBMIT -->
				<button type="submit" class="bttn bttn-sm bttn-primary float-right" th:text="${article != null && article.id != 0} ? 'Ažuriraj' : 'Objavi'">Objavi</button>
			</div>
		</div>
		
		<!-- Kategorije | desno  -->
		<div class="panel small-panel">
			<div class="panel-element panel-header">
				<span class="panel-title" th:text="#{label.categories}">kategorije</span>
			</div>
			<div class="panel-element panel-body">
				<button class="bttn bttn-select" type="button">Kategorije</button>
				<!-- dropdown menu -->
				<div class="select-menu-modal">
					<div class="select-menu-header">
						<span class="select-menu-title">Odaberi kategoriju</span> 
						<a href="javascript:;" class="bttn-close"><img alt="x" th:src="@{/resources/img/icons/cancel.svg}" width="10" height="10"/></a>
					</div>
					<div class="select-menu-body">				
					<label th:each="category : ${categories}" class="checkboxes-label">
						<input type="checkbox" name="categories" th:value="${category.id}" th:title="${category.name}" th:id="${'cat_'+category.slug}"
							th:checked="${article.categories != null ? category.id == article.categories[0].id : false}" th:field="*{categories}"/> 
						<span th:text="${category.name}"></span>
					</label>
					</div>
				</div>			
				<div class="selected-categories selected-result">
					<!-- kategorije na editingu -->
					<label th:each="category : ${article.categories}" class="checkboxes-label" th:if="${article.categories != null}">
						<span class="label category" th:id="${'cat_'+category.slug}"><span th:text="${category.name}"></span><span class="bttn-close-white close-cat-bttn"></span></span>
					</label>
				</div>				
			</div>			
		</div>
		
		<!-- Tags selection -->
		<div class="panel small-panel">
			<div class="panel-element panel-header">
				<span class="panel-title" th:text="#{label.tags}">Oznake</span>
			</div>
			<div class="panel-element panel-body">
				<div class="js-select-container full-width">		
					<button class="bttn bttn-default bttn-select js-modal-select" type="button" th:text="#{label.tags}">Oznake</button>
					<!-- dropdown menu -->
					<div class="select-menu-modal-holder">
						<div class="select-menu-modal" id="tags-modal">
							<!-- select header -->
							<div class="select-menu-header">
							  <svg aria-label="Close" class="bttn-menu-close js-menu-bttn-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
							    <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
							  </svg>
							  <span class="select-menu-title">Pretraga oznaka</span>
							</div>
							<div class="select-menu-text-filter">
								<!-- na osnovu tipa eventa nad ovim poljem dodaje se sufiks na url -->
								<input type="text" class="select-menu-search-field js-search-filed" placeholder="Oznaka" th:src="@{/sbk-admin/tags/}">
							</div>
											
							<div class="select-menu-search-result"></div>
						</div>
					</div>
				</div>	
				<!-- Postojece oznake na clanku -->
				<div class="selected-tags selected-result">
					<th:block th:unless="${#lists.isEmpty(article?.tags)}" th:include="~{commons/fragments :: tagBonesFragment}" 
						  th:with="tags=${article.tags}">						  
					</th:block>
				</div>						
			</div>
			<div class="panel-element panel-footer"></div>
		</div>
		<!-- End of Tag selection -->
			
		<!-- Featured Image selection -->
		<div class="panel small-panel">
			<div class="panel-element panel-header">
				<span class="panel-title" th:text="#{label.image.featured}">Featured image</span>
			</div>
			<div class="panel-element panel-body">
				<!-- Input file button -->	
				<a th:href="@{/sbk-admin/media/select(type=featured)}" class="show-media-lib bttn bttn-default">
					<img alt="" th:src="@{/resources/img/icons/svg/file-media.svg}" height="16"> 
					<span th:text="#{button.label.upload.featuredImg}">Odaberi fotografiju</span>
				</a>				
				<!-- Featured IMG preview -->
				<div id="featured-prev-container">
					<th:block th:if="${article?.featuredImage != null}">
						<img alt="Featured Image" th:src="@{/uploads/images/{filename}(filename=${article.featuredImage.fileName})}" 
						     th:title="${article.featuredImage.title}" width="180">
						<input type="hidden" name="featuredImageId" th:value="${article.featuredImage.id}">
					</th:block>
				</div>
			</div>
			<div class="panel-element panel-footer"></div>
		</div>
		</div>	 <!-- end of right sidebar -->	
		
		<!-- Left content -->
		<div class="left-container">
			<div class="form-tr">
				<input type="text" th:placeholder="#{title.attr.articleTitle}" name="title" title="Naslov" id="publication-title" 
					class="title-input full-width"  th:classappend="${#fields.hasErrors('title')} ? 'non-valid-field' : ''" 
					th:src="@{/publications/slug/new}" th:value="${article?.title}">
				<!-- validation error message -->
				<div class="validation-error" th:errors="*{title}"></div>	
				<!-- link preview -->
				<div class="post-path-container">
					<span class="post-path path-label">Putanja na radovima: </span>
					<span class="post-path path-static">http://sobakaisti.org/art/</span>
					<span class="post-path path-slug">
						<input type="text" name="slug" class="path-slug-input" size="0" id="slug" th:value="${article?.slug}" readonly>
					</span>
				</div>
			</div>			
			<!-- contet textarea -->	
			<div class="article-input-wrapper form-tr">
				<textarea name="content" id="article-content" th:field="*{content}"></textarea>
			</div>
		</div>
	</div>
<!-- end of the form -->
</form>
	

<footer th:replace="~{commons/dash_footer :: dash_footer}"></footer>
<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.js}"></script>

<div id="hidden-settings" style="display:none;">
	<a href="javascript:;" class="bttn-close"><img alt="x" th:src="@{/resources/img/icons/cancel _white.svg}" width="8" height="8"/></a>
	<a href="javascript:;" class="bttn-remove"><img alt="x" th:src="@{/resources/img/icons/cancel _white.svg}" width="8" height="8"/></a>				
</div>	
	
<a th:href="@{/sbk-admin/articles/new/slug}" id="slug-href" style="display:none;"></a>

<!-- load content into tinyMCE -->
<script th:inline="javascript">
/*<![CDATA[*/
/*    var content = [[${article.content}]];
   	setTimeout(function(){ tinymce.activeEditor.setContent(content);}, 3000); */
/*]]>*/ 
</script>
</body>
</html>
