<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>


	<!-- 
		Intro backgrount text animated 
	-->
	<th:block th:fragment="mediaNewUpload" >
	
		<div class="media-new-container">
			<div class="media-upload-box">
			<form th:action="@{/media/upload}">
				<input type="file" name="file" id="media-file" class="inputfile" />
				<label for="publication-file" id="upload-label" class="file-upload-label">Odaberi datoteku...</label>
				<!-- validation error message -->
				<div class="validation-error"></div>
			</form>
			</div>
		</div>		
	
	</th:block>
	
	<!-- 
		Media Library
	 -->
	<th:block th:fragment="mediaLibrary" >
	
		<div class="media-library-conainer">
			
		</div>		
	
	</th:block>
	
	
	
	
	<article th:fragment="authorPreviewFragment(author)" class="author-box border-6-rad">
		<header>
			<div class="author-cover">
				<div class="js-select-container">		
					<a href="javascript:;" class="bttn-plain-select js-modal-select">
						<img th:src="@{/resources/img/icons/svg/globe.svg}" height="14">
					</a>
					<div class="select-menu-modal-holder">
						<div class="select-menu-modal">
							<!-- select body -->  
							<ul class="select-menu-list">
								<li class="select-menu-item">
									<a th:href="@{/sbk-admin/author/editing/{slug}(slug=${author.slug})}"
										onclick="event.preventDefault(); loadFragment(this.href);">Izmeni</a>
								</li>
							  	<li class="select-menu-item">
							 		<a href="#">Obriši</a>
							  	</li>
							</ul>
						</div>
					</div>
				</div>				
			</div>
			<div class="author-avatar">
				<a th:href="@{/sbk-admin/sobakaisti/profile/{slug}(slug=${author.slug})}" class="circle"
					th:title="${author.firstName + ' ' + author.lastName}"></a>
			</div>
		</header> 
		<main>
			<div class="author-basic-info y-1em-padding">
				<a th:href="@{/sbk-admin/sobakaisti/profile/{slug}(slug=${author.slug})}"
					 class="author-name" th:text="${author.firstName + ' ' + author.lastName}"></a>
				<span class="author-profession" th:text="${author.profession}"></span>
			</div>
			<ul class="y-1em-padding x-1em-padding author-meta-info">
				<li data-icon=""><span th:text="${author.birthplace}"></span></li>
				<li data-icon=""><span th:text="${#dates.format(author.dob, 'dd.MM.yyyy.')}"></span></li>
				<li data-icon=""><a th:href="@{'http://'+${author.website}}" th:text="${author.website}" target="_blank"></a></li>
				<li data-icon=""><span th:text="${author.email}"></span></li>
			</ul>
		</main>
	</article>
	
	
</html>
