<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>


	<!-- 
		Intro backgrount text animated 
	-->
	<th:block th:fragment="mediaNewUpload" >
	
		<div class="media-new-container">
			<div class="media-upload-box">
			<form th:action="@{/media/upload}">
				<input type="file" name="file" id="media-file" class="inputfile" />
				<label for="publication-file" id="upload-label" class="file-upload-label">Odaberi datoteku...</label>
				<!-- validation error message -->
				<div class="validation-error"></div>
			</form>
			</div>
		</div>		
	
	</th:block>
	
	<!-- 
		Media Library
	 -->
	<th:block th:fragment="mediaLibrary" >
	
		<div class="media-library-conainer">
			
		</div>		
	
	</th:block>
</html>