<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/dash_head :: dash_head(~{::title})">
	<title>Publication</title>	
</head>
<body>
<!-- Top header of dashboard section -->
<header th:replace="~{commons/dash_header :: dash_header}"></header>

<section th:replace="~{commons/dash_sidebar :: dash_sidebar}">
</section>
<!-- form -->
<form th:action="@{/publications/upload}" id="new-post-form" name="new-post-form" th:object="${postRequest}" method="post">	
	<div class="main-dash-content">
		<!-- Right panel -->
		<div class="right-container">
			<div class="small-panel">
			<div class="panel-header">
				<span class="panel-title">Objava</span>
			</div>
			<div class="panel-body">
				<div class="select-wrapper">
				<select name="author" class="bttn bttn-default bttn-select">
					<option selected value="0" th:text="#{form.label.select.author}">Odaberi autora</option>
					<option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName}+' '+${author.lastName}">sobakaista</option>
				</select>
				<!-- validation error message -->
				<div class="validation-error"></div>
				</div>
				
			</div>
			<div class="panel-footer">
				<a href="javascript:;" id="save-draft-bttn" class="bttn bttn-sm bttn-default" th:alt="Draft">Nacrt</a>
				<button type="submit" class="bttn bttn-sm bttn-primary float-right">Objavi</button>
			</div>
		</div>
		
		<!-- Tags selection -->
		<div class="small-panel">
			<div class="panel-header">
				<span class="panel-title" th:text="#{label.tags}">Oznake</span>
			</div>
			<div class="panel-body">			
			<button class="bttn bttn-default bttn-select" type="button" th:text="#{label.tags}">Oznake</button>
				<!-- dropdown menu -->
				<div class="select-menu-modal" id="tags-modal">
					<div class="select-menu-header">
						<span class="select-menu-title">Pretraga oznaka</span> 
						<a href="javascript:;" class="bttn-close"><img alt="x" th:src="@{/resources/img/icons/cancel.svg}" width="10" height="10"/></a>
					</div>
					<div class="select-menu-filters">
						<!-- na osnovu tipa eventa nad ovim poljem dodaje se sufiks na url -->
						<input type="text" class="search-field" th:src="@{/sbk-admin/tags/}">
					</div>					
					<div class="search-result"></div>
				</div>
				<div class="selected-tags selected-result"></div>			
			</div>			
		</div>
		
		<div class="small-panel">
			<div class="panel-header">
				<span class="panel-title" th:text="#{label.image.featured}">Featured image</span>
			</div>
			<div class="panel-body">
				<!-- Input file button -->	
				<a th:href="@{/sbk-admin/media/select(type=featured)}" class="show-media-lib bttn bttn-default">
					<img alt="" th:src="@{/resources/img/icons/svg/file-media.svg}" height="16"> 
					<span th:text="#{button.label.upload.featuredImg}">Odaberi fotografiju</span>
				</a>	
				
				<!-- Featured IMG preview -->
				<div id="featured-prev-container"></div>
			</div>
		</div>
		</div>	 <!-- end of right sidebar -->
		
		<!-- Left content -->
		<div class="left-container">
			<div class="form-tr">
				<input type="text" th:placeholder="#{title.attr.articleTitle}" name="title" title="Naslov" 
					id="publication-title" class="title-input full-width" th:src="@{/publications/slug/new}">
				<!-- validation error message -->
				<div class="validation-error"></div>	
				<!-- link preview -->
				<div class="post-path-container">
					<span class="post-path path-label">Putanja na sekciji Izdanja: </span>
					<span class="post-path path-static">http://sobakaisti.org/bublications/</span>
					<span class="post-path path-slug">
						<input type="text" name="slug" class="path-slug-input" size="0" id="slug" readonly>
					</span>
				</div>
			</div>
			<!-- Input file button -->
			<div class="form-tr">
				<!-- Input Featured Image button -->	
				<a th:href="@{/sbk-admin/media/select(type=publication)}" class="show-media-lib bttn bttn-default">
					<img alt="" th:src="@{/resources/img/icons/svg/cloud-upload.svg}" height="16"> 
					<span th:text="#{button.label.upload.publiction}">Podigni dokument...</span>
				</a>
				<!-- Uploaded publication preview -->
				<div id="publication-prev-container"></div>
			</div>
			<!-- contet textarea -->	
			<div class="article-input-wrapper form-tr">
				<textarea name="content" id="article-content"></textarea>
			</div>
		</div>		
	</div>
<!-- end of the form -->
</form>

<!-- 
	Modul za upload medija datoteka
 -->
<div class="overlay" id="media">
	<div class="media-select-modal">
	</div>
</div>

<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.js}"></script>
<footer th:replace="~{commons/dash_footer :: dash_footer}"></footer>
</body>
</html>
