<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/dash_head :: dash_head(~{::title})">
	<title th:text="${#strings.isEmpty(i18nPost?.title) ? #messages.msg('label.newArticle') : i18nPost.title}">Article | Dashboard</title>	
</head>
<body>
	
<!-- Top header of dashboard section -->
<header th:replace="~{commons/dash_header :: dash_header}"></header>

<!-- Sidebar -->
<aside th:replace="~{commons/dash_sidebar :: dash_sidebar}"></aside>

<!-- Main -->	
<main class="dash-page-container">
	<!-- Commit result -->
	<div th:if="${i18nPost.commited != null}" class="commit-response-holder full-width" id="commit-result"
	     th:insert="~{commons/fragments :: commitResultFragment (commited=${#bools.isTrue(i18nPost.commited)}, message=${i18nPost.commitMessage})}">
	</div>
	<!-- Page Header -->
	<div class="dash-page-header">
		<h3 class="breadcrumb">
			<a th:href="@{/__${#strings.defaultString(lang,'')}__sbk-admin/}" >dashboard</a>
			<a th:href="@{/__${#strings.defaultString(lang,'')}__sbk-admin/articles}" th:text="#{label.articles}">articles</a>
			<a href="javascript:void(0)" th:text="${#strings.isEmpty(i18nPost.title) ? #messages.msg('label.article') : i18nPost.title}">article</a>
		</h3>
		<!-- Lang Nav -->
		<th:block th:include="~{commons/dash_header :: languageNavFragment (post=${i18nPost.article}, translationCode=${translationCode})}">
		</th:block>
	</div>	
	<section id="editable-body-holder">	

<form th:action="@{/__${#strings.defaultString(lang,'')}__sbk-admin/article/{langCode}/submit(langCode=${translationCode})}" id="new-post-form" name="new-post-form" 
	th:object="${i18nPost}" method="post" onkeypress="return event.keyCode != 13;">	
	<div class="main-dash-content" th:with="i18nPost=${i18nPost}">
		
		<!-- Post ID -->
		<input type="hidden" name="id" th:value="${i18nPost?.id}">
		<!-- I18nPost ID -->
		<input type="hidden" name="article.id" th:value="${i18nPost.article.id}">
		<!-- I18nPost ID -->
		<input type="hidden" name="lang" th:value="${translationCode}">
		<!-- Right panel -->
		<div class="right-container">
			<div class="panel small-panel">
				<div class="panel-element panel-header">
					<span class="panel-title">Objava</span>
				</div>
				<div class="panel-element panel-body">

				<!-- Post info details -->
<!-- 				<div class="post-info-box"> -->
<!-- 					<label class="post-info-label"> -->
<!-- 						<img th:src="@{/resources/img/icons/svg/info.svg}" height="14" title="Stanje posta"> -->
<!-- 						<span>Stanje:</span> -->
<!-- 						<span th:text="${article?.active != -1 ? 'Objavljen' : 'Nacrt'}">Objavljen</span> -->
<!-- 					</label> -->
<!-- 					<label class="post-info-label"> -->
<!-- 					  <img th:src="@{/resources/img/icons/svg/calendar.svg}" height="14" title="Datum objavljivanja"> -->
<!-- 					  <span>Dana:</span> -->
<!-- 					  <span th:text="${article?.postDate != null ? #calendars.format(article.postDate, 'dd.MMM.yyyy. HH:mm') : 'Trenutno'}">Trenutno</span> -->
<!-- 					 	<a href="javascript:void(0)" th:href="@{/__${#strings.defaultString(lang,'')}__sbk-admin/datetime/editor}" class="post-date-edit"> -->
<!-- 							<input type="hidden" name="postDate" id="post-date-hidden" -->
<!-- 								   th:value="${#calendars.format((article?.postDate != null ? article.postDate : #calendars.createNow()), 'yyyy-MM-dd HH:mm:ss')}"> -->
<!-- 						</a>					   -->
<!-- 					</label> -->
<!-- 					Post Date Editor -->
<!-- 					<div class="post-date-editor"></div> -->
<!-- 				</div> -->
			</div>
			
			<div class="panel-element panel-footer">
				<!-- SUBMIT -->
				<button type="submit" class="bttn bttn-sm bttn-primary" 
					th:text="${i18nPost != null && i18nPost.id != 0 ? #messages.msg('button.label.update') : #messages.msg('button.label.post')}">Objavi</button>
			</div>
		</div>
		</div>

		<!-- Left content -->
		<div class="left-container">
			<div class="form-tr">
				<input type="text" th:placeholder="#{title.attr.articleTitle}" name="title" title="Naslov" id="publication-title" 
					class="title-input full-width"  th:classappend="${#fields.hasErrors('title')} ? 'non-valid-field' : ''" 
					th:src="@{/publications/slug/new}" th:value="${i18nPost?.title}">
				<!-- validation error message -->
				<div class="validation-error" th:errors="*{title}"></div>
			</div>			
			<!-- contet textarea -->	
			<div class="article-input-wrapper form-tr">
				<textarea name="content" id="article-content" th:field="*{content}"></textarea>
			</div>
		</div>	
</div>
<!-- end of the form -->
</form>
</section>
</main>


<footer th:replace="~{commons/dash_footer :: dash_footer}"></footer>
<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/tinymce/tinymce.js}"></script>

<div id="hidden-settings" style="display:none;">
	<a href="javascript:;" class="bttn-close"><img alt="x" th:src="@{/resources/img/icons/cancel _white.svg}" width="8" height="8"/></a>
	<a href="javascript:;" class="bttn-remove"><img alt="x" th:src="@{/resources/img/icons/cancel _white.svg}" width="8" height="8"/></a>				
</div>	
	
<a th:href="@{/__${#strings.defaultString(lang,'')}__sbk-admin/articles/new/slug}" id="slug-href" style="display:none;"></a>

<!-- load content into tinyMCE -->
<script th:inline="javascript">
/*<![CDATA[*/
/*    var content = [[${article.content}]];
   	setTimeout(function(){ tinymce.activeEditor.setContent(content);}, 3000); */
/*]]>*/ 
</script>
</body>
</html>
