<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/dash_head :: dash_head(~{::title})">
	<title>Articles</title>	
</head>
<body>
<!-- Top header of dashboard section -->
<header th:replace="~{commons/dash_header :: dash_header}"></header>

<section th:replace="~{commons/dash_sidebar :: dash_sidebar}">
</section>

<div class="dash-main-container">

<div class="listing-container">
		<!-- Top tool bar -->
		<div class="listing-tools">
			<a th:href="@{/sbk-admin/articles/new}" class="bttn bttn-primary fright">New article</a>
		</div>
	
		<!-- Listing header -->
		<div class="listing-header">			
			<div class="td">
				<!-- Broj aktivnih izdanja -->
				<a th:href="@{/sbk-admin/articles/status/active}" class="show-active-item" th:classappend="${isActive} ? selected-link : ''">
					<img alt="status" th:src="@{'/resources/img/icons/active-1.svg'}" width="14" height="14" class="article-status-icon">
					<span th:text="${activeCount}"></span>
					<span>aktivnih</span>
				</a>
				<!-- Broj neaktivnih izdanja -->
				<a th:href="@{/sbk-admin/articles/status/nonactive}" class="show-active-item" th:classappend="${!isActive} ? selected-link : ''">
					<img alt="status" th:src="@{'/resources/img/icons/active-0.svg'}" width="14" height="14" class="article-status-icon">
					<span th:text="${nonActiveCount}"></span>
					<span>neaktivnih</span>
				</a>
			</div>			
			<!-- top table filter -->
			<div class="listing-header-filter">
				<div class="filter-bttn-container">
					<button type="button" class="bttn bttn-select" th:text="#{nav.item.authors}">Autori</button>
					<!-- dropdown menu -->
					<div class="select-menu-modal">
						<div class="select-menu-header">
							<span class="select-menu-title">Filtriraj po autoru</span> 
							<a href="javascript:;" class="bttn-close"><img alt="x" th:src="@{/resources/img/icons/cancel.svg}" width="10" height="10"/></a>
						</div>
						<div class="select-menu-body">	
							<ul>
								<li th:each="author : ${authors}">
									<span class="circle circle-tiny" 
										th:text="${#strings.substring(author.firstName,0,1)}+${#strings.substring(author.lastName,0,1)}">Sobakaisti</span>
									<span th:text="${author.firstName +' '+ author.lastName}"></span>
								</li>
							</ul>
						</div>
					</div>	
				</div>
			</div>
		</div>
		
		<!-- listing body -->
		<div class="listing-body">
			<ul class="table-list">
				<li class="list-item" th:each="article : ${articles}" th:id="'item-'+${article.id}">
					<div class="item-status-td fleft td">
						<a th:href="@{/sbk-admin/article/change_status/{id}(id=${article.id})}" class="change-status-link" th:alt="${article.id}">
							<img alt="status" th:src="@{'/resources/img/icons/active-'+${article.active}+'.svg'}" width="16" height="16" class="article-status-icon">
						</a>
					</div>
					<div class="item-main-td fleft td">
						<a th:href="@{/arts/{category}/{slug}(category=${article.categories[0].slug}, slug=${article.slug})}" class="clickable-title" 
							th:text="${article.title}" th:title="${article.title}" th:alt="${article.title}" target="_blank"></a>
												
						<div class="item-main-subdiv td" th:with="author=${article.author}">
							<span th:text="#{label.publishedBy}">Objavljeno</span>
<!-- 							<span class="circle circle-tiny"  -->
<!-- 								th:text="${#strings.substring(author.firstName,0,1)}+${#strings.substring(author.lastName,0,1)}">Sobakaisti</span> -->
<!-- 							<span> -->
								<a th:href="@{/articles/by/{slug}(slug=${author.slug})}" 
									th:text="${author.firstName + ' ' + author.lastName}" class="clickable-author">Sobakaisti</a>
							<span th:text="#{label.onDay}">dana</span>
							<span th:text="${#dates.format(article.postDate, 'dd. MMM yyyy. HH:mm')}"></span>							
						</div>
					</div>
					<!-- categories -->
					<div class="td category-td">
						<span th:each="category : ${article.categories}" class="label category" th:with="slug=${category.slug}">
							<a th:href="@{/category/{slug}(slug=${slug})}" class="" th:text="${category.name}"></a>
						</span>
					</div>
					<!-- tags -->
					<div class="td tags-td">
						<span th:each="tag, tagStat : ${article.tags}" class="label tag" th:unless="${tagStat.index} > 2" th:with="slug=${tag.slug}">
							<a th:href="@{/tag/{slug}(slug=${slug})}" class="" th:text="${tag.tag}"></a>
						</span>
					</div>
					<!-- tools -->
					<div class="item-tools-td td fright">
						<a th:href="@{/sbk-admin/article/edit/{id}(id=${article.id})}" class="edit-item item-tool"
							th:title="#{tool.label.edit}" th:alt="${article.id}">
<!-- 								<img alt="Pokret" th:src="@{/resources/img/icons/pencil.svg}" height="15"> -->
							</a>
						<a th:href="@{/sbk-admin/article/delete/{id}(id=${article.id})}" class="delete-item item-tool"
							th:title="#{tool.label.delete}" th:alt="${article.id}">
<!-- 								<img alt="Pokret" th:src="@{/resources/img/icons/trashcan.svg}" height="15"> -->
							</a>
					</div>
					<!-- comments -->
					<div class="item-comments-td td fright">
						<span th:text="${article.active}" title="Komentara">Comments</span>
					</div>
					<!-- downloads counter -->
					<div class="item-downloads-td td fright">
<!-- 						<span th:text="${article.downloaded}">Preuzeto</span> -->
					</div>
				</li>
			</ul>
		</div>
	
		<!-- Listing footer -->
		<div class="listing-footer">
			<!-- pagination container -->
			<div class="pagination" th:if="${pagination != null && pagination.maxPages > 1}">
				<a th:href="@{/sbk-admin/articles/{page}(page=${pagination.currentPage - 1})}" class="prev-page-link page-link" 
					th:classappend="${pagination.currentPage > 1} ? '' : disabled-link">Prethodna</a>
					
				<a th:each="page : ${#numbers.sequence(1, pagination.maxPages)}" th:href="@{/sbk-admin/articles/{page}(page=${page})}" 
					th:text="${page}" class="page-link" th:classappend="${pagination.currentPage == page} ? selected-link : ''"></a>
					
				<a th:href="@{/sbk-admin/articles/{page}(page=${pagination.currentPage + 1})}" class="next-page-link page-link" 
					th:classappend="${pagination.currentPage == pagination.maxPages} ? disabled-link : ''">Sledeca</a>
			</div>
		</div>
	</div>
</div>

<footer th:replace="~{commons/dash_footer :: dash_footer}"></footer>
</body>
</html>