<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sr">
<head>
	<meta charset="utf-8" />
</head>

<th:block th:fragment="editableProfileFragment">
  <div class="fx-box fx-dir-row fx-justify-sbtw">
    <form th:action="@{/sbk-admin/sobakaisti/profile/edit}" th:object="${profile}" method="post" onkeypress="return event.keyCode != 13;">
	<!-- Basic bio -->
	<div class="x-1em-padding y-1em-padding">
            <!-- First Name -->
            <div class="input-holder half-input-holder" style="margin-right:1%;">
              <label for="firstName" th:text="#{form.label.firstname}">First Name</label>
              <input type="text" th:field="*{firstName}" class="def-input" th:placeholder="#{form.label.firstname}"
                th:classappend="${#fields.hasErrors('firstName')} ? 'non-valid-field'">
              <div class="validation-error" th:errors="*{firstName}"></div> 
            </div>
            <!-- Last Name -->
            <div class="input-holder half-input-holder"> 
              <label for="lastName" th:text="#{form.label.lastname}">Last Name</label>
              <input type="text" class="def-input" th:field="*{lastName}" placeholder="Prezime"
                th:classappend="${#fields.hasErrors('lastName')} ? 'non-valid-field'">
              <div class="validation-error" th:errors="*{lastName}"></div>
            </div>
            <!-- Profession -->
            <div class="input-holder full-input-holder">
              <label for="profession" th:text="#{form.label.proffesion}">Profession</label>
              <input type="text" th:field="*{profession}" class="def-input" th:placeholder="#{form.label.proffesion}"
                th:classappend="${#fields.hasErrors('profession')} ? 'non-valid-field'">
              <div class="validation-error" th:errors="*{profession}"></div>   
            </div>
            <!-- Memeber since -->
            <div class="input-holder full-input-holder">
              <label for="registered" th:text="#{form.label.dob}">registered</label>
              <input type="text" th:field="*{registered}" class="def-input" placeholder="01.01.20xx"
                th:classappend="${#fields.hasErrors('registered')} ? 'non-valid-field'">
              <div class="validation-error" th:errors="*{registered}"></div>   
            </div>            
            <!-- Bio -->
            <div class="input-holder full-input-holder">
              <label for="shortBio" th:text="#{form.label.shortbio}">biografija</label>
              <textarea th:field="*{shortBio}" rows="4" class="def-input" placeholder="Kratka biografija autora"></textarea>
            </div>
	</div>
      
	<!-- basic info list -->
	<div class="x-1em-padding">
		<ul class="profile-info-list" style="min-width:310px !important;">
          <!-- Location -->
		<li class="input-holder full-input-holder">		
			<img alt="loc" th:src="@{/resources/img/icons/svg/location.svg}" height="15"/>&emsp;
			<input type="text" th:field="*{location}" class="def-input" th:placeholder="#{form.label.birthplace}">
		</li>
		<!-- DOB -->
		<li class="input-holder full-input-holder">           
		      <img alt="dob" th:src="@{/resources/img/icons/svg/gift.svg}" height="15"/>&emsp;
		      <input type="text" th:field="*{dob}" class="def-input" placeholder="01.01.19xx">  
		</li>
		<!-- Website -->
		<li class="input-holder full-input-holder">
			<img alt="site" th:src="@{/resources/img/icons/svg/link.svg}" height="15"/>&emsp;
			<input type="text" th:field="*{website}" class="def-input" th:placeholder="#{form.label.website}">
		</li>
          	<!-- E-mail -->
		<li class="input-holder full-input-holder">
			<img alt="mail" th:src="@{/resources/img/icons/svg/mail.svg}" height="15"/>&emsp;
			<input type="email" th:field="*{email}" class="def-input" th:placeholder="#{form.label.email}"
		      th:classappend="${#fields.hasErrors('email')} ? 'non-valid-field'">
		    <div class="validation-error" th:errors="*{email}"></div>
		</li>
          
		<!-- Socials -->
		<th:block th:if="${not #lists.isEmpty(profile.socialNetwork)}">
			<li th:each="soc : ${profile.socialNetwork}">
				<img alt="loc" th:src="@{/resources/img/social/__${soc.icon}__}" height="14"/>
				<a th:href="@{__${soc.url}__}" target="_blank" th:text="${soc.username}"></a>
			</li>
			<li>+ Dodaj</li>
		</th:block>
		</ul>
		<!-- Submit -->
		<div class="input-holder full-input-holder aright">    
			<button type="submit" class="bttn bttn-primary" th:text="#{button.label.save}">Dodaj</button>  
		</div>
        </form>
	</div>
</th:block>
