<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/dash_head :: dash_head(~{::title})">
	<title>Sobakaisti | Dashboard</title>
</head>
<body>
<!-- Top header of dashboard section -->
<header th:replace="~{commons/dash_header :: dash_header}"></header>
<!-- Side navigation manu -->
<section th:replace="~{commons/dash_sidebar :: dash_sidebar}"></section>

<section class="fx-box fx-dir-row fx-wrap fx-justify-start dash-container">
	<aside>
		<div></div>
		<h3></h3>
	</aside>
	<div class="fx-box fx-dir-col">
		<ul>
			<li><a href="javascript:;">Overview</a></li>
		</ul>
		
		<div class="fx-box fx-dir-row fx-justify-sbtw">
			<!-- Basic bio -->
			<div class="x-1em-padding">
				<h3></h3>
				<h4></h4>
				<p></p>
			</div>
			<!-- basic info list -->
			<div class="x-1em-padding">
				<ul>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</section>
  
<footer th:replace="~{commons/dash_footer :: dash_footer}"></footer>
</body>
</html>
